<div class='card bg-dark text-white'>
  <div class="card-body">
    <%= simple_form_for(@part) do |f| %>
    <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this vehicle from being created:</h2>

      <ul>
        <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-inputs">
      <b> <%= f.input :part_numb, label: "Part Number" %> </b>
      <b> <%= f.input :description, label: "Part Description" %> </b>
      <b>  <%= f.input :brand, label: "Brand" %> </b>
      <b>  <%= f.input :cost, label: "Part Cost" %> </b>
      <b>  <%= f.input :quantity, label: "Quantity on Hand" %> </b>
      <b>  <%= f.select :category, Part::CATEGORIES, {include_blank: "Select Mechanical Category"}, class: "form-control my-2" %></b>
      <b>  <%= f.select :vehicle_category, Part::VEHICLE_CATEGORIES, {include_blank: "Select Vehicle Category"}, class: "form-control my-2"%></b>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
