<div class="jumbotron">
<h3 class="display-3 text-center">Parts Inventory</h3>
<%= render 'parts_needed_form', part: @part_results%>
<br \>
<%= render 'results', q: @q, action: :index%>

</div>
  <div class="container">
	  <%= form_tag import_parts_path, multipart: true do%>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Import CSV"%>
	  <% end %>
  </div>