<div class='jumbotron bg-secondary text-white'>
  <div class="card bg-dark text-white">
    <div class="card-header">
      <h1 class='text-center'>
        <strong>Part:</strong>
        <span class='badge badge-light text-dark'>
          <%= @part.part_numb %>
        </span>
      </h1>
    </div>
    <div class="card-body">
      <div class='row'>
        <div class='col-md-6'>
          <%= render 'show_row', title: 'Description:', data: @part.description %>
          <%= render 'show_row', title: 'Location:', data: @part.location %>
          <%= render 'show_row', title: 'Brand:', data: @part.brand %>
          <%= render 'show_row', title: 'Category:', data: @part.category %>
          <%= render 'show_row_badge', title: 'Cost:', data: "$#{sprintf('%.2f', @part.cost)}" %>
          <%= render 'show_row_badge', title: 'Quantity:', data: @part.quantity %>
          <%= render 'show_row', title: 'Application:', data: @part.vehicle_category %>
        </div>
        <div class='col-md-6'>
          <% if @part.image.url.nil? == false %>
              <%= image_tag @part.image.part_display.url %>
          <% end %> 
        </div>
      </div>
      <br />
      <%= link_to 'Edit', edit_part_path(@part), class: "btn btn-danger" %> |
      <%= link_to 'Back', dashboard_parts_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
