<div class="card bg-dark text-white mt-3">
  <div class="card-header">
    <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    
    <div class='container-fluid bg-secondary text-white border border-danger rounded p-2 my-3'>
      <p>
        <h5> To change your profile information: </h5>
        1. Change whatever information you would like. <br />
        2. Enter <i> only </i> your current password where it says current password. <br />
        3. Hit <i>Enter</i> and your profile will be updated. <br />
      </p>
      <p>
        <h5> To change your password information: </h5>
        1. Change whatever information you would like and then type into the <i> Change Password </i> field. <br />
        2. Re-type your password into the confirmation field. <br />
        2. Enter your current password where it says current password. <br />
        3. Hit <i>Enter</i> and your profile will be updated. <br />
      </p>
    </div>
  
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name%><br />
          <%= f.text_field :name, class: "form-control"%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
         <%= f.label "Change Password"%> <i>(leave blank if you don't want to change it)</i><br />
         <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
         <% if @minimum_password_length %>
         <em><%= @minimum_password_length %> characters minimum</em>
         <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password_confirmation %><i> (Confirm the new password you would like!) </i> <br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :current_password %> <i>(To confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
         
        </div>
      </div>
    </div>
    <div class="form-row">
      <% unless current_user.emplyid %>
      <h4><%= current_user.email %> doesn't have an employee ID!</h4>
      <% else %>
      <div class="col-md-2">
        <h4>
          Employee #:
        </h4>
      </div>
      <div class="col-md-2">
        <h4><span class="badge badge-danger"><%= current_user.emplyid %></span></h4>
      </div>
      <div class="col-md-8">
      </div>
      <% end %>
    </div>
    <div class="form-row">
      <div class="col-md-2">
        <h5>
          <%= f.label :role %>:
        </h5>
      </div>
      <div class="col-md-2">
        <h5>
          <span class="badge badge-danger">
            <%= current_user.role.capitalize %>
          </span>
        </h5>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2">
        <h5> Subscribe to reports</h5>
      </div>
      <div class="col-md-4">
        <div class='form-check'>
        <%= f.check_box :subscribe, class: "form-check-input" %>
        <%= f.label "Subscribe?", class: "form-check-label "%>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <%= f.submit "Update", class: "btn btn-success btn-lg" %>
    <% end %>
    <br \>
    <%= link_to "Back", :back, class: "btn btn-info" %>
  </div>
</div>
