<div class="card">
<div class="card-header">

<h2 class="display-4">Sign up</h2>
</div>
<div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


	<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
	</div>
	
   <div class="form-group">
     <%= f.label :role %><br />
     <%= f.select :role, User::ROLES, {include_blank: "Select Role"}%>
   </div>
	
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

	<div class="form-group">
	<%= f.label :emplyid %>
	<%= f.number_field :emplyid, class: "form-control" %>
</div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

    <%= f.submit "Sign up", class: "btn btn-success" %>

<% end %>

<%= render "devise/shared/links" %>
</div>
