<table>
  <thead>
    <tr>
      <th scope="row">ID</th>
      <th scope="row">Created On</th>
      <th scope="row">Vehicle</th>
      <th scope="row">Times Reported</th>
      <th scope="row">Event</th>
      <th scope="row">Category</th>
      <th scope="row">Description</th>
      <th scope="row">Status</th>
      <th scope="row">Date Fixed</th>
    </tr>
  </thead>
  <tbody>
    <% defects.each do |defect|%>
    <tr>
      <th scope='col'>
        <h5>
          <%= defect.id %>
        </h5>
      </th>
      <th scope="col">
        <h5>
          <%= defect.created_at.strftime('%v') %>
        </h5>
      </th>
      <td>
        <%= defect.vehicle.car_id %>
      </td>
      <td><%= defect.times_reported %></td>
      <td><%= defect.last_event_reported %></td>
      <td>
        <%= defect.category %>
      </td>
      <td><%= defect.description %></td>
      <td>
        <h5>
          <% if defect.fixed %>
          <span style="color: green">
            Fixed
          </span>
          <% else %>
          <span style='color: red'>
            Not Fixed
          </span>
          <% end %>
        </h5>
      </td>
      <td>
        <h5>
          <% if defect.fixed %>
          <span style="color: green">
            <%= defect.date_fixed.strftime('%v') %>
          </span>
          <% else %>
          <span style='color: red'>
            Not Fixed
          </span>
          <% end %>
        </h5>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
