<div class="object-title">
	<h4 style="text-align: center;"><%= title %></h4>
</div>
<div style="color: black;">
<table>
	<thead>
		<tr>
			<th>Work Order Number</th>
			<th>Work Order Status</th>
			<th>Work Order Type</th>
			<th>Vehicle</th>
			<th>Defect Description</th>
			<th>Work Order Created At</th>
			<th>Estimated Completion Date</th>
		</tr>
	</thead>
	<tbody>
		<% work_orders.order(status: :asc).each do |request|%>
	<tr>
		<td><%= request.id %></td>
		<td><%= request.status %></td>
		<td>
      <% request.programs.each do |program|%>
        <% program.name %>
        <br \>
      <% end %>
      <% if request.programs.empty? && !request.program_id.blank? %>
        <%= Program.find(request.program_id).name %>
      <% end %>
    </td>
		<td>
      <% if request.vehicle_id %>
        <%= Vehicle.find(request.vehicle_id).car_id %>
      <% elsif request.multi_vehicle %>
        <% request.vehicles.each do |vehicle| %>
          <%= vehicle.car_id %>
          <br />
        <% end %>
      <% end %>
    </td>
		<td><%= request.description %>
		<td><%= request.created_at.strftime('%D') %>
		<td><%= request.completion_date.strftime('%D') %>
	</tr>
	<% end %>
	</tbody>
</table>	
</div>
<br \>
<br \>
