<div>
   <h1 style="text-align: center;">Request Number <%= @request.number %> for Vehicle <%= @request.vehicle.car_id%></h1>
</div>	

<p>
	You have been assigned to this work order. If you have any questions, please contact <%= @request.creator%>.
</p>
	

<p>
  <strong>Submitted By:</strong>
  <br \>
  <%= @request.creator%>
</p>

<p>
  <strong>Current Vehicle Mileage:</strong>
  <br \>
  <%= @request.vehicle.mileage%>
</p>

<p>
  <strong>Description:</strong>
  <br \>
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.tracker.track %>
</p>
<% if @request.program != nil %>
<p>
	<strong>Service Type:</strong>
	<%= @request.program.name %>
</p>
<% end %>


<p>
  <strong>Completion date:</strong>
  <%= @request.completion_date %>
</p>

