<div>
   <h1 style="text-align: center;">Work Order #<%= @request.id %></h1>
</div>	

<p>
	You have been assigned &/OR CC'd this work order. If you have any questions, please contact <%= @request.creator %>.
</p>

<% if @request.multi_vehicle %>
<p>
  <strong>Vehicles</strong>
  <ul>
  <% @request.vehicles.each do |vehicle| %>
      <li><%= vehicle.car_id %></li>
  <% end %>
  </ul>
</p>

<% elsif @request.vehicle_id %>
<p>
  <strong>Vehicle ID</strong>
  <br />
  <%= Vehicle.find(@request.vehicle_id).car_id %>
</p>
<% end %>

<p>
  <strong>Submitted By:</strong>
  <br />
  <%= @request.creator%>
</p>

<p>
  <strong>Description:</strong>
  <br />
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <br />
  <%= @request.status %>
</p>

<% if @request.programs.exists? %>
<p>
	<strong>Service Type:</strong>
  <br />
  <% @request.programs.each do |program|%>
    <%= program.name %>
    <br \>
  <% end %>
</p>
<% end %>

<p>
  <strong>Estimated Completion date:</strong>
  <br />
  <%= @request.completion_date %>
</p>

<% if @request.users.exists?%>
<p>
  <strong> Recipents:</strong>
  <% @request.users.each do |user|%>
    <%= user.name%>
    <br />
	<% end %>
</p>
<% end %>

<% if @request.defects.exists?%>
<p>
  <strong> Defects:</strong>
  <ul style="list-style-type: none;">
  <% @request.defects.each do |defect| %>
  <li><%= defect.description %> | <%= defect.created_at.strftime('%v')%></li>
	  <% end %>
  </ul>
</p>
<% end %>
