
	<div class="object-title">
<h1 style="text-align: center;">Defect Work Order Created</h1>
</div>
<br \>
<div>
<ul style='list-style-type: none;'>
	<li class="list-group-item d-flex justify-content-between align-items-center">Work Order Number: <span><%= @request.number%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Vehicle: <span><%= @request.vehicle.car_id%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Vehicle Location: <span><%= @request.vehicle.location.locale%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Description of Issue: <span><%= @request.description%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Submitted by: <span><%= @request.user.name%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Description of Issue: <span><%= @request.description%></span></li>
</div>
