<div class="card">
	<div class="card-header">
<h1>Defect Work Order Created</h1>
</div>
<div class="card-body">
<ul class="list-group">
	<li class="list-group-item d-flex justify-content-between align-items-center">Work Order Number: <span><%= @request.number%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Vehicle: <span><%= @request.vehicle.car_id%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Vehicle Location: <span><%= @request.vehicle.location.locale%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Description of Issue: <span><%= @request.description%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Submitted by: <span><%= @request.user.name%></span></li>
	<li class="list-group-item d-flex justify-content-between align-items-center">Description of Issue: <span><%= @request.description%></span></li>
</div>
</div>