<div class="jumbotron bg-secondary text-white">
  <h1 class="text-center display-3">Current Services</h1>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to 'New Service', new_program_path, class: "btn btn-danger btn-lg" %>
</div>
<br />

<div class="card bg-dark text-white">
  <div class='card-body'>
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Threshold Mileage</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @programs.each do |program| %>
          <tr>
            <td><%= program.name %></td>
            <td>
              <% if program.threshold %>
              <%= program.threshold_numb%>
              <% else %>
              Not Required
              <% end %>
            </td>
            <td><%= link_to 'Show', program, class: "btn btn-danger" %></td>
            <td><%= link_to 'Edit', edit_program_path(program), class: "btn btn-danger" %></td>
            <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
