<div class="card bg-dark text-white mt-4">
  <div class="card-header">
    <h3 class="text-center"><%= @program.name %></h3>
  </div>
  <div class="card-body">
    <p>
      <strong>Interval:</strong>
      <%= @program.interval %>
    </p>

    <p>
      <%if @program.threshold %>
      <strong>Threshold Mileage:</strong>
      <%= @program.threshold_numb %> Miles
      <%else%>
      Not Required
      <%end%>
    </p>
    <br />
    <%= link_to 'Edit', edit_program_path(@program), class: "btn btn-danger" %> |
    <%= link_to 'Back', programs_path, class: "btn btn-danger" %>
  </div>
</div>
