<div class="card bg-secondary text-white">
  <div class="card-header d-flex justify-content-between align-items-center ">
    <strong>
      <%= link_to request.id, request_path(request), class: "badge badge-danger" %> 
      <span class="ml-2"> 
        Vehicle <%= link_to request.vehicle.car_id, vehicle_path(request.vehicle.id), class: "badge badge-danger"%>
      </span >
    </strong> 
    <strong> 
      Status: <span class="badge badge-danger"> <%= request.status%> </span>
    </strong>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item bg-secondary text-white">
        Service Type: 
        <span class="ml-2"> 
          <% request.programs.each do |program| %>
            <%= program.name %>
          <% end %>
        </span>
      </li>
      <li class="list-group-item bg-secondary text-white">
        Description:
        <span class="ml-2"> 
          <%= request.description%>
        </span>
      </li>
      <li class="list-group-item bg-secondary text-white">
        Recipents: 
        <span class="ml-2">
          <% request.users.each do |user|%>
          <ul style="list-style-type: none;">
            <li><%= user.name%></li>
          </ul>
          <% end %>
        </span>
      </li>	
    </ul>
  </div>
  <div class="card-footer">
    Completed Date: <span class="badge badge-danger"><%= request.completed_date.strftime('%D')%></span>
  </div>
</div>
