<div class="jumbotron bg-secondary text-white">
  <h3 class="display-3 text-center"><%= @user.name %>'s Assigned Work Orders</h3>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "#{@user.name}'s Completed Work Orders", completed_work_orders_path, class: "btn btn-danger btn-lg" %> 
  <%= link_to "Home", homepage_path, class: "btn btn-danger btn-lg ml-3" %>
  <%= link_to 'Back', :back, class: "btn btn-danger btn-lg ml-3" %>
</div>
<br />

<div class="card bg-dark text-white">
  <div class="card-body">
    <%= render 'wo_search_results', requests: @requests %>
  </div>
</div>
<br />
<%= render "results", q: @q, action: :assigned_work_orders %>