<div class="jumbotron bg-secondary text-white text-center">
  <h1 class="display-3">Zero 1 Employees</h1>
</div>
<div class="card bg-dark text-white">
  <div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Date Joined</th>
          <th>Labor Hours</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.order(emplyid: :asc).each do |user| %>
        <tr>
          <td><%= user.emplyid %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%D")%></td>
          <td><%= user.labor%></td>
          <td><%= link_to "Profile", show_path(id: user.id), class: "btn btn-danger"%></td>	
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
