<div class="jumbotron text-center">
<h1 class="display-3">Zero 1 Employees</h1>
</div>


<table class="table">
	<thead>
		<tr>
			<th>Employee ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Date Joined</th>
			<th>Labor Hours</th>
			<th>Requests</th>
			
		</tr>
	</thead>
	<tbody>
		
			<% @users.order(emplyid: :asc).each do |user| %>
			<tr>
			<td><%= user.emplyid %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.created_at.strftime("%D")%>
				<td><%= user.labor%></td>
			<td><ul class="list-group"><% user.requests.order(created_at: :asc).limit(3).each do |request| %>
		  		
				<li class="list-group-item"><%= link_to request.number, request_path(id: request.id), class: "badge badge-info" %>
				<%= request.tracker.track%></li>
				<% end %></ul></td>
			
		</tr>
		<% end %>
		
	</tbody>
</table>