<div class="jumbotron text-center">
<h1 class="display-3">Zero 1 Employees</h1>
</div>


<table class="table">
	<thead>
		<tr>
			<th>Employee ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Date Joined</th>
			<th>Requests</th>
			<th>Labor Hours</th>
		</tr>
	</thead>
	<tbody>
		
			<% @users.each do |user| %>
			<tr>
			<td><%= user.emplyid %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.created_at.strftime("%D")%>
			<td><% user.requests.each do |request| %>
		  		<%= request.number %>
				<%= request.tracker.track%>
				<% end %></td>
			<td><%= user.labor%>
				<% if can? :destroy, User%>
			<td><%= button_to "Delete User", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></td>
			<%end%>
			<td><%= link_to "Edit User", edit_user_registration_path(user), class: "btn btn-primary"%>
		</tr>
		<% end %>
		
	</tbody>
</table>