<div class="jumbotron bg-secondary text-white">
  <h3 class="display-3 text-center"><%= @user.name %>'s Assigned Work Orders</h3>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "#{@user.name}'s Completed Work Orders", completed_work_orders_path, class: "btn btn-danger btn-lg" %> 
  <%= link_to "Home", homepage_path, class: "btn btn-danger btn-lg ml-3" %>
  <%= link_to 'Back', :back, class: "btn btn-danger btn-lg ml-3" %>
</div>
<br />

<div class="card bg-dark text-white">
  <div class="card-body">
    <div class="row">
      <% unless @requests.where(status: "New").empty? %>
      <div class="col-md-4 my-3">
        <h3 class="text-center"> New Work Orders
          <span class="badge badge-danger ml-4"> 
            <%= @requests.where(status: "New").all.count %>
          </span>
        </h3>	
        <% @requests.where(status: "New").order(created_at: :desc).each do |request| s%>
        <%= render "work_order", request: request %>
        <% end %>
      </div>
      <% end %>
		
      <% unless @requests.where(status: "In-Progress").empty? %>
      <div class="col-md-4 my-3">
        <h3 class="text-center"> Completed Work Orders
          <span class="badge badge-danger"> 
            <%= @requests.where(status: "In-Progress").all.count %>
          </span>
        </h3>
        <% @requests.where(status: "In-Progress").order(created_at: :desc).each do |request| %>
        <%= render "work_order", request: request %>
        <% end %>
      </div>
      <% end %>
		
      <% unless @requests.where(status: "Overdue").empty? %>
      <div class="col-md-4 my-3">
        <h3 class="text-center"> Overdue Work Orders 
          <span class="badge badge-danger ml-2"> 
            <%= @requests.where(status: "Overdue").all.count %>
          </span>
        </h3>
        <% @requests.where(status: "Overdue").order(created_at: :desc).each do |request| %>
        <%= render "work_order", request: request %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br />
<%= render "results", q: @q, action: :assigned_work_orders %>