<div class="jumbotron">
	<h3 class="display-3 text-center"><%= @user.name %>'s Completed Work Orders <span class="badge badge-dark"> 
			<%= @requests.where(tracker_id: @set_completed.id).all.count %>
			</span> 
		</h3>
</div>


<div class="container d-flex justify-content-center">
	<%= link_to "#{@user.name}'s Assigned Work Orders", assigned_work_orders_path, class: "btn btn-success btn-lg"%>
	&nbsp&nbsp&nbsp&nbsp <%= link_to "Home", homepage_path, class: "btn btn-primary btn-lg"%>
</div>
<br \>

<div class="card mb-3">
	
		<div class="card-header">
			<h3 class="text-center"> Search for Work Orders</strong>
		</div>
		<div class="card-body" >

	<form class="form">
	<%= search_form_for @q, :url => {:action => :completed_work_orders } do |f|%>
	<div class="row">
		<div class="col-md-3">
		
	<div class="form-group">
	<%= f.select :program_id_eq, options_from_collection_for_select(Program.all, "id", "name", @q.program_id_eq), {include_blank: "Select Service Type"}, class: "form-control" %>
</div>



<div class="form-group mt-2 ">
	<%= f.select :tracker_id_eq, options_from_collection_for_select(Tracker.all, "id", "track", @q.tracker_id_eq), {include_blank: "Select Work Order Status"}, class: "form-control"  %>
</div>
</div>
<div class='col-md-3'>
		<div class="form-group">
		<%= f.select :vehicle_veh_category_eq, Vehicle::CATEGORIES, {include_blank: "Select Vehicle Category"}, class: "form-control" %>
	</div>
</div>
<div class="col-md-6">
</div>

</div>
 
 <div class="row mt-3">
<div class="col-md-3">
	
<div class="form-group">
	<%= f.label "From"%> &nbsp
	<%= f.date_select :completion_date_gteq, {include_blank: "Year, Month, Day"}, class: "form-control"  %>
</div>
</div>
<div class="col-md-3">



<div class="form-group">
	<%= f.label "To"%> &nbsp
	<%= f.date_select :completion_date_lteq, {include_blank: "To"}, class: "form-control"  %>
</div>
</div>
<div class="col-md-6">
	</div>
</div>

<div class="form-group ml-3 mt-3">
	<%= f.submit "Find Work Orders", class: "btn btn-info"%>
</div>

</div>
</div>

<% end %>
</form>


</div>
</div>


<div class="card">
	<div class="card-body">
	
		<% if @requests.where(tracker_id: @set_completed.id) != []%>
		<div class="row">
		<h3 class="text-center"> New Work Orders &nbsp&nbsp&nbsp&nbsp
			
		</h3>
			<div class="col-md-4 my-3">
			<% @requests.where(tracker_id: @set_completed.id).order(created_at: :desc).each do |request|%>
				
				<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center ">
				<strong><%= link_to request.id, request_path(request), class: "badge badge-primary" %> &nbsp&nbsp Vehicle <%= link_to request.vehicle.car_id, vehicle_path(request.vehicle.id), class: "badge badge-dark"%></strong> <strong> Status: <%= request.tracker.track%> </strong>
			</div>
			<div class="card-body">
				<ul class="list-group">
				<li class="list-group-item">Service Type: &nbsp &nbsp <%= request.program.name%></li>
				<li class="list-group-item">Description:  &nbsp &nbsp<%= request.description%></li>
				<li class="list-group-item">Recipents:  &nbsp &nbsp 
					<% request.users.each do |user|%>
					<ul style="list-style-type: none;">
					
				<li><%= user.name%></li>
				
				</ul>
				<% end %>
				</li>
				
			</ul>
		</div>
		<div class="card-footer">
			Completed Date: <span style="color: green;"><%= request.completed_date.strftime('%D')%></span>
		</div>
		</div>
	</div>
		<% end %>
		</div>
		<% end %>
		
	
	</div>
</div>