<div class="jumbotron bg-secondary text-white">
  <h3 class="display-3 text-center">
    <%= @user.name %>'s Completed Work Orders
    <span class="badge badge-danger"> 
      <%= @requests.where(status: "Completed").all.count %>
    </span> 
  </h3>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "#{@user.name}'s Assigned Work Orders", assigned_work_orders_path, class: "btn btn-danger btn-lg" %>
  <%= link_to "Home", homepage_path, class: "btn btn-danger btn-lg ml-4" %>
  <%= link_to 'Back', :back, class: "btn btn-danger btn-lg ml-4" %>
</div>
<br />
<div class="card bg-dark text-white">
  <div class="card-body">
	
    <% unless @requests.where(status: "Completed").empty? %>
    <div class="row">
			
      <% @requests.where(status: "Completed").order(created_at: :desc).each do |request|%>
      <div class="col-md-4 my-3">
        <%= render "work_order", request: request %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<br />
<%= render "results", q: @q, action: :completed_work_orders %>
