<div class="jumbotron">
	<h3 class="display-3 text-center"><%= @user.name %>'s Profile</h3>
</div>

<div class="card">
	<div class="card-body">
	<p>
	<strong> Email </strong>	
		<%= @user.email%>
	</p>	
		<p>
		<strong> Employee ID </strong>	
		<%= @user.emplyid%>
		</p>
		<p>
		<strong> Last Sign In </strong>	
		<%= @user.last_sign_in_at.strftime('%D')%>
		</p>
		
		<h5 class="text-center"> Work Orders Submitted &nbsp&nbsp&nbsp&nbsp
			<span class="badge badge-dark"> 
			<%= @requests.all.count %>
			</span>
		</h5>
			<div class="row">
			<% @requests.each do |request|%>
			<div class="col-md-4 my-3">	
				<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center ">
				<strong><%= link_to request.id, request_path(request), class: "badge badge-primary" %> for Vehicle <%= link_to request.vehicle.car_id, vehicle_path(request.vehicle.id), class: "badge badge-dark"%></strong> <strong> Status: <%= request.tracker.track%> </strong>
			</div>
			<div class="card-body">
				<ul class="list-group">
				<li class="list-group-item">Service Type: &nbsp &nbsp <%= request.program.name%></li>
				<li class="list-group-item">Description:  &nbsp &nbsp<%= request.description%></li>
				<li class="list-group-item">Recipents:  &nbsp &nbsp 
					<% request.users.each do |user|%>
					<ul style="list-style-type: none;">
					
				<li><%= user.name%></li>
				
				</ul>
				<% end %>
				</li>
				
			</ul>
		</div>
		<div class="card-footer">
			Completed Date: <span style="color: green;"><%= request.completed_date.strftime('%D')%></span>
		</div>
		</div>
		</div>
		<% end %>
		</div>
		</strong>	
		
		
	
	</div>
</div>