<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :event_date %>
  </div>

  <div class="field">
    <%= form.label :event_mileage %>
    <%= form.text_field :event_mileage, id: :event_event_mileage %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id, id: :event_location_id %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :event_duration %>
  </div>

  <div class="field">
    <%= form.label :event_type %>
    <%= form.text_field :event_type, id: :event_event_type %>
  </div>

  <div class="field">
    <%= form.label :class_type %>
    <%= form.text_field :class_type, id: :event_class_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
