<div class="card">
	<div class="card-body form-group">

<%= simple_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <h4>
   Event Number: <%= Event.all.last.id + 1%>
	</h4>
  </div>

  <div class="form-group">
    <strong> <%= f.label "Scheduled Date" %></strong>
    <%= f.date_select :date, id: :event_date, class: "form-control" %>
  </div>
  <div class="form-group">
	<strong>  <%= f.label "Select Time"%> </strong>
	  <%= f.time_select :event_time, id: :event_time, class: "form-control"%>
  </div>
  
	<div class="form-group">
		
		<%= f.select :status, Event::STATUSES, {include_blank: "Select Status"}, id: :event_status, class: "form-control"%>	
	</div>
	
	
  
  <div class="card mt-3" style='background-color: lightgreen;'>
	  <div class="card-header">
	<h4 class="text-center">Select A Priority Vehicles</h4>
</div>
<div class="card-body">
	<h6 class="text-center">Vehicles are sorted by number of times used in the previous month. <br \> The first vehicle in the list will be the least used vehicle in the previous 30 days.</h6>
	<div class="row">
		
	  <% VehicleCategory.all.each do |vehicle_category| %>
	   <div class="col-6">
		<strong>	<%= vehicle_category.name%>: </strong>
		<br \>
	  	<%= f.collection_check_boxes :vehicle_ids, vehicle_category.vehicles.where(vehicle_status: "In-Service", use_a: true).order(times_used: :asc), "id", :vehicle_naming, class: "col-md-2" %>
		
	</div>
	
		<% end %>
		
	</div>
</div>
</div>

    <div class="card card-warning bg-warning my-3" >
  	  <div class="card-header">
  	<h4 class="text-center">Select B Priority Vehicles</h4>
  </div>
  <div class="card-body">
	<div class="row">
		
	  <% VehicleCategory.all.each do |vehicle_category| %>
	   <div class="col-6">
		<strong>	<%= vehicle_category.name%>: </strong>
		<br \>
	  	<%= f.collection_check_boxes :vehicle_ids, vehicle_category.vehicles.where(vehicle_status: "In-Service", use_b: true).order(id: :asc), "id", :vehicle_naming, class: "col-md-2" %>
		
	</div>
	
		<% end %>
		
	</div>
</div>
</div>

  <div class="form-group">
    <strong> <%= f.label "Estimated Mileage" %></strong>
    <%= f.number_field :est_mileage, id: :event_event_mileage, class: "form-control" %>
  </div>
  
  
    <%= f.hidden_field :event_mileage, value: 0, id: :event_event_mileage %>
  

  <div class="form-group">
    <strong> <%= f.label :location_id %></strong>
	 
    <%= f.select :location_id, Location.all.collect { |l| [l.locale, l.id]}, {include_blank: "Select Location"}, id: :event_location_id, class: "form-control" %>
	
  </div>

  <div class="form-group">
    <strong> <%= f.label :duration %>
    <%= f.number_field :duration, id: :event_duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong> <%= f.label :event_type %></strong>
    <%= f.select :event_type, Event::EVENT_TYPES, {include_blank: "Select Event Type"}, id: :event_event_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong> <%= f.label :class_type %></strong>
    <%= f.select :class_type, Event::CLASS_TYPES, {include_blank: "Select Class Type"}, id: :event_class_type, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-success btn-lg" %>
  </div>
<% end %>
<hr>
<%= link_to 'Back', dashboard_events_path, class: "btn btn-info" %>
</div>

</div>

	
