<div class="card bg-dark text-white">
  <div class="card-body">
	
	<div class="row">
		<div class="col-md-4 m-0">
	<form class="form-inline">
	<%= search_form_for q, :url => {:action => action } do |f|%>
	
	

<div class="form-group ml-3 mb-3">
	<%= f.label "From", class: "mr-2 font-weight-bold text-danger"%> 
	<%= f.date_field :date_gteq, class: "form-control", :datepicker => true  %>
</div>


<div class="form-group ml-3">
	<%= f.label "To", class: "mr-4 font-weight-bold text-danger"%>
	<%= f.date_field :date_lteq, class: "form-control", :datepicker => true  %>
</div>
</div>
<div class="col-md-4">

	<div class="form-group ml-1">
	<%= f.select :event_type_eq, Event::EVENT_TYPES, {include_blank: "Select Event Type"}, class: "form-control" %>
</div>

	<div class="form-group ml-1">
	<%= f.select :class_type_eq, Event::CLASS_TYPES, {include_blank: "Select Class Type"}, class: "form-control" %>
</div>
</div>
<div class="col-md-4">

	<div class="form-group ml-1">
	<%= f.select :status_eq, Event::STATUSES, {include_blank: "Select Status"}, class: "form-control" %>
</div>

	<div class="form-group">
	<%= f.select :location_eq, Event::LOCATION, {include_blank: "Select Location"}, class: "form-control" %>
</div>
</div>


<div class="form-group ml-4">
	<%= f.submit "Find Events", class: "btn btn-danger"%>
</div>
<% end %>
</form>

</div>
<br \>

</div>
<div class="card-footer">
  <div class="container d-flex justify-content-between align-items-center">
  <%= paginate @event_results%>

  <%= link_to 'Back', dashboard_events_path, class: "btn btn-danger " %>
 </div>
</div>
</div>