<div class="container d-flex justify-content-between align-items-center">
	
	<div class="row">
		<div class="col-md-4 m-0">
	<form class="form-inline">
	<%= search_form_for q, :url => {:action => action } do |f|%>
	
	

<div class="form-group ml-3 mb-3">
	<%= f.label "From"%> &nbsp&nbsp
	<%= f.date_select :date_gteq, {include_blank: "Nothing"}, class: "form-control"  %>
</div>


<div class="form-group ml-3">
	<%= f.label "To"%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<%= f.date_select :date_lteq, {include_blank: "Input Date of Request"}, class: "form-control"  %>
</div>
</div>
<div class="col-md-4">

	<div class="form-group ml-1">
	<%= f.select :event_type_eq, Event::EVENT_TYPES, {include_blank: "Select Event Type"}, class: "form-control" %>
</div>

	<div class="form-group ml-1">
	<%= f.select :class_type_eq, Event::CLASS_TYPES, {include_blank: "Select Class Type"}, class: "form-control" %>
</div>
</div>
<div class="col-md-4">

	<div class="form-group ml-1">
	<%= f.select :status_eq, Event::STATUSES, {include_blank: "Select Status"}, class: "form-control" %>
</div>

	<div class="form-group">
	<%= f.select :location_eq, Event::LOCATION, {include_blank: "Select Location"}, class: "form-control" %>
</div>
</div>


<div class="form-group ml-1">
	<%= f.submit "Find Events", class: "btn btn-info"%>
</div>
<% end %>
</form>

</div>
<br \>

</div>
<br \>
<div class="container d-flex justify-content-between align-items-center">
<%= paginate @event_results%>

<%= link_to 'Back', dashboard_events_path, class: "btn btn-info " %>

</div>