<div class="card">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
		<th scope="col">Status</th>
      <th scope="col">Event Type</th>
      <th scope="col">Location</th>
      <th scope="col">Vehicles</th>
      <th scope="col">Event Mileage</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% event.all.order(date: :desc).each do |event| %>
      <tr>
        <th scope="row"><%= event.id %></th>
		  <td><%= event.status %></td>
        <td><%= event.event_type%></td>
        <td><%= event.location %></td>
        <td><% event.vehicles.order(car_id: :asc).limit(3).each do |vehicle| %>
		  		<%= link_to vehicle.car_id, vehicle, method: :get, class: "badge badge-primary" %>
				<% end %></td>
        <td><%= event.event_mileage %></td>

      <td><%= link_to 'Show', event, class: "btn btn-primary btn-sm" %>
      <%= link_to 'Edit', edit_event_path(event), class: "btn btn-sm btn-info" %>
		<%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
     </td>
      </tr>
    <% end %> 
  </tbody> 
</table>
</div>




