<div class='table-responsive'>
<table class="table table-borderless table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Car</th>
      <th scope="col">Status</th>
      <th scope="col">Car Category</th>
      <th scope="col">Location</th>
      <th scope="col"># of Times Used since <%= (Time.now - 1.month).strftime('%D')%></th>
      <th scope="col">Mileage</th>
      <th scope="col">Near Service - Miles To:</th>
      <th scope="col">Future Service Needed</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% vehicle.each do |vehicle| %>
    <tr>
      <th scope="row"><%= vehicle.car_id %></th>
      <td><%= vehicle.vehicle_status %></td>
      <td><%= vehicle.veh_category %></td>
      <td><%= vehicle.location %></td>
      <td>
        <%= vehicle.times_used%>
      </td>
      <td>
        <span class='badge badge-dark text-white'>
           <%= vehicle.mileage %>
        </span>
      </td>
      <td>
        <ul style='list_style_type: none; padding: 0; margin: 0;'>
          <%= vehicle_rotation_near_a_service_badge vehicle %>
          <%= vehicle_rotation_near_shock_service_badge vehicle %>
          <%= vehicle_rotation_near_air_filter_service_badge vehicle %>
          <%= vehicle_rotation_near_tour_car_prep_badge vehicle %>
        </ul>
      </td>
      <td>
       <%= vehicle_rotation_a_service_badge vehicle %>
       <%= vehicle_rotation_shock_service_badge vehicle %>
       <%= vehicle_rotation_air_filter_service_badge vehicle %>
       <%= vehicle_rotation_tour_car_prep_badge vehicle %>
      </td>
      <td>
        <%= link_to 'Show', vehicle, class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
    <% end %> 
  </tbody> 
</table>
</div>
