<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Car</th>
	  <th scope="col">Status</th>
      <th scope="col">Car Category</th>
      <th scope="col">Location</th>
      <th scope="col"># of Times Used since <%= (Time.now - 1.month).strftime('%D')%></th>
      <th scope="col">Mileage</th>
	  <th scope="col">Near Service - Miles To:
	  <th scope="col">Future Service Needed</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% vehicle.each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
		<td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td><%= vehicle.location %></td>
        <td>
	      <%= vehicle.times_used%>
		</td>
		<td><%= vehicle.mileage %></td>
        <td>
		  <ul>
		    <% if vehicle.near_a_service_mileage <= @set_a_service.threshold_numb %>
		      <li> A-Service in <br \> <%= vehicle.near_a_service_mileage %> Miles </li>
		    <% end %>
		    <%  if vehicle.near_shock_service_mileage <= @set_shock_service.threshold_numb %> 
		  	  <li>Shock Service in <br \> <%= vehicle.near_shock_service_mileage %> Miles </li>
		    <% end %>
		    <% if vehicle.near_air_filter_service_mileage <= @set_air_filter_service.threshold_numb %>
		   	  <li>Air Filter Change In <br \>  <%= vehicle.near_air_filter_service_mileage %> Miles </li>
		    <% end %>	
		   </ul>
		  </td>
          <td>
		    <% if vehicle.dont_use_a_service %>
              <span class="badge badge-primary"> A-Service </span>
			<% end %>
            <% if vehicle.dont_use_shock_service %>
              <span class="badge badge-primary"> Shock Service </span>
			<% end %>
			<% if vehicle.dont_use_air_filter_service %>
			  <span class="badge badge-primary"> Air Filter Service </span>
            <% end %>  
	     </td>
         <td>
		   <%= link_to 'Show', vehicle, class: "btn btn-primary btn-sm" %>
	     </td
      </tr>
    <% end %> 
  </tbody> 
</table>





