<div class="jumbotron bg-secondary text-white text-center ">
  <h1 class="display-3">Events Dashboard</h1>
</div>
<%= render 'dashboard_links' %>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="card bg-dark text-white">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>
          <%= link_to "#{(@date - 1.month).strftime('%B %Y')}", previous_month_events_path, class: "btn btn-danger"%>
        </span>
        <h2>
          <%= @date.strftime('%B %Y') %>
        </h2>
        <span>
          <%= link_to "#{(@date + 1.month).strftime('%B %Y')}", next_month_calendar_events_path, class: "btn btn-danger"%>
        </span>
      </div>
      <div class="card-body">
        <div class='table-responsive'>
        <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
        <ul style="list-style-type: none; margin: 0; padding: 0;">
          <% @events_by_date[date].each do |event| %>
          <li>
            <%= link_to event.id, event, class: "badge #{event_link_color event}" %> 
            <span>
              <%= event.class_type %>
              <span class="text-white">
                <i class="fa <%= calendar_symbol event %>" aria-hidden="true"></i>
              </span>
            </span>
          </li>
          <% end %>
        </ul>
        <% end %>
        <% end %>
      </div>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <h6>
          <span class="badge badge-light text-dark mr-4" style="color: white;">
            <i class="fa fa-check mr-1" aria-hidden="true"></i>
            Checklists Completed
          </span>
          <span class="badge badge-light text-dark mr-4" style="color: white">
            <i class="fa fa-exclamation-triangle mr-1" aria-hidden="true"></i>
            Checklists Not Completed 
          </span>
    
          <span class=" badge badge-light text-dark mr-4 text-light" style="color: white">
            <i class="fa fa-car mr-1" aria-hidden="true">
            </i>
            No Vehicles Added!
          </span>

          <span class="badge badge-light text-dark mr-4">
            <span class="badge badge-danger"> # </span> Event Not Completed
          </span>
  
          <span class="badge badge-light text-dark mr-4">
            <span class="badge badge-success"> # </span> Event Completed
          </span>
        </h6>
      </div>
    </div>
  </div>
</div>
<% unless @search_results.empty? %>

<div class="container bg-dark text-white border rounded p-3 my-3">
<h4 class="text-center">
  Most Recent Events
</h4>
</div>
<%= render 'events_search_results', event: @search_results %>
<% end %>
