<div class="jumbotron text-center mt-3">
	<h1 class="display-3">Events Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="../events/new">New Event</a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="../events">All Events <span class="badge badge-info"><%= @events.count %></span></a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="../events/scheduled_events">Scheduled Events<span class="badge badge-info"><%= @scheduled_events.count %></span></a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="../events/vehicles_assigned">Events w/ Assigned Vehicles<span class="badge badge-info"><%= @assigned_events.count %></span></a>
				<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="../events/completed_events">Completed Events<span class="badge badge-info"><%= @completed_events.count %></a>
				
			</div>
			
	</div>
	<div class="col-md-6">
		<div class='card'>
			<div class="card-body">
			<p>	Events listed below in the calendar have been created. Each event has a <span class="badge badge-info">number</span> that can be clicked on to view that event.</p>
			<p>
				Checklists are monitored here and when all checklists are completed, then the event will have a green check mark next to it.
			</p>
			<p style="color: firebrick;">
				* To add vehicles to an event or to add milegae to event, scroll down to the calendar and select the event you wish to view. Then, click on the <span class="badge badge-info">Add Vehicles/Events</span> button on the right hand side. *
			</p>
			</div>
		</div>
	</div>
		
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" style="background-color: gold;" href="../checklists/records">Checklist Records</a>
			<a class="list-group-item list-group-item-action" style="background-color: gold;"  href="../events/vehicle_rotation">Vehicle Rotation</a>
			</div>
			</div>
			
	</div>
	


<div class="row my-3">
  <div class="col-md-12">
	  <div class="card">
		  <div class="card-header d-flex justify-content-between align-items-center">
			<h2> <%= (@date - 1.month).strftime('%B %Y') %> </h2> 
			<span>  <%= link_to "#{(@date).strftime('%B %Y')}", dashboard_events_path, class: "btn btn-dark"%> </span>
		  </div>
		  <div class="card-body">
			   
    <%= calendar @date - 1.month do |date| %>
	 <%= date.day %>
	 
	 
	 <% if @events_by_date[date]%>
	     <ul style="list-style-type: none; margin: 0; padding: 0;">
	       <% @events_by_date[date].each do |event| %>
	         <li><%= link_to event.id, event, class: "badge badge-info" %> 
					<span>
						<%= event.class_type%>
						
					
							<% if event.vehicles.exists? == true %>
						
							<% if event.vehicles.count == Checklist.where(event_id: event.id, completed: true).count %>
							<span style="color: green;"><i class="fa fa-check" aria-hidden="true"></i></span>
								<% else %>
								<span style="color: red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </span>
						<% end %>
						<% else %>
						<span style="color: purple"><i class="fa fa-car" aria-hidden="true"></i> </span>
					
					<% end %>
					
					</span>
					
					</li>
	       <% end %>
	     </ul>
	 <% end %>
      
    <% end %>
 </div>
 <div class="card-footer d-flex justify-content-center">
	 <span style="color: green;">
		 <i class="fa fa-check" aria-hidden="true">Checklists Completed</i>
	 </span>
	 &nbsp&nbsp&nbsp&nbsp
	 <span style="color: red">
		 <i class="fa fa-exclamation-triangle" aria-hidden="true">Checklists Not Completed</i> 
	 </span>
	 &nbsp&nbsp&nbsp&nbsp
	 <span style="color: purple">
		 <i class="fa fa-car" aria-hidden="true">
		 	No Vehicles Added!
		 </i> 
	 </span>
 </div>
</div>
  </div>
</div>
<% if @display_events != []%>
<div class="row">
	<div class="container" style="background-color: gold; border: 1px solid lightgrey; border-radius: 3px 3px 3px 3px">
		<br \>
		<h4 class="text-center"><%= (@date - 1.month).strftime('%B %Y') %> Events</h4>
		<br \>
	</div>
			<% @display_events.all.order(created_at: :desc).limit(12).each do |event|%>
	<div class="col-md-4 my-3">
			
			
					<div class="card mb-2">
						<div class="card-header d-flex justify-content-between align-items-center">
							<h5>Event: <%=link_to event.id, event_path(id: event.id), class: "badge badge-primary" %></h5>  <h3 style="text-align: right;" class="badge badge-warning">Date Scheduled: <%= event.date.strftime('%D')%></h3></div>
				<div class="card-body">
				
				
					<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">Class:
						<span class="badge badge-info"><%= event.class_type%></span> Location:
					<span class="badge badge-info"><%= event.location%></span></li>
					<li class="list-group-item d-flex justify-content-between align-items-center">Status:
					<span class="badge badge-info"><%= event.status%></span> Mileage:
					<span class="badge badge-info"><%= event.event_mileage%></span></li>
					
				</ul>
				</div>
				<% if event.vehicles.exists? == true %>
			<div class="card-footer d-flex justify-content-center">
				<% if event.vehicles.count == Checklist.where(event_id: event.id, completed: true).count %>
				<span style="color: green;"><i class="fa fa-check" aria-hidden="true">Checklists Completed</i></span>
					<% else %>
					<span style="color: red"><i class="fa fa-exclamation-triangle" aria-hidden="true">Checklists Not Completed</i> </span>
				</div>
			<% end %>
			<% else %>
			<div class="card-footer d-flex justify-content-center">
	  	 <span style="color: purple">
	  		 <i class="fa fa-car" aria-hidden="true">
	  		 	No Vehicles Added!
	  		 </i> 
	  	 </span>
		</div>
		<% end %>
		
				
				</div>
			
		</div>
		<% end %>
</div>
<% end %>