<div class="card">
<div class="card-header">
	<h3>Event: <%= @event.number %></h3>
</div>
<div class="card-body">
<p>
  <strong>Scheduled Date:</strong>
  <%= @event.date.strftime('%D') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>


<p>
  <strong>Event mileage:</strong>
  <%= @event.event_mileage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.locale %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %> Hours
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
	<strong>Vehicles:</strong><br \>
	<% @event.vehicles.each do |vehicle|%>
	<%= vehicle.car_id %><br \>
	<% end %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @event.class_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %> |
<%= link_to 'Back', dashboard_events_path, class: "btn btn-info"%>
</div>
</div>
