<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>


<p>
  <strong>Event mileage:</strong>
  <%= @event.event_mileage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.locale %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
	<strong>Vehicles:</strong>
	<% @event.vehicles.each do |vehicle|%>
	<%= vehicle.car_id %>
	<% end %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @event.class_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
