<div class="card text-white bg-dark mt-2">
  <div class="card-header">
    <h3 class="display-4 text-center">Event: <%= @event.id %></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-5">
            <p>
              <% if @event.multi_day %>
              <strong>
                Scheduled Start Date:
              </strong>
              <% else %>
              <strong>
                Scheduled Date:
              </strong>
              <% end %>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.date.strftime('%D') %>
            </p>
          </div>
        </div>
        <% if @event.multi_day %>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Scheduled End Date:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.end_date.strftime('%D') %>
            </p>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Status:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <% if @event.status == "Completed" %>
              <i class="fa fa-check fa-lg" style="color: green;" aria-hidden="true">
                Completed
              </i>
              <% else %>
              <%= @event.status %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Estimated Miles
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.est_mileage %> Miles
            </p>
          </div>
        </div>
        <div class="row">	
          <div class="col-md-5">
            <p>
              <strong>
                Event mileage:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <% if @event.event_mileage == 0.0%>
              <strong style="color: red;">
                No Mileage Added
              </strong>
              <% else%>
              <%= @event.event_mileage %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Number of Customers
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.customers %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Number of Shares
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.shares %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Location:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.location %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Duration:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.duration %> <%= @event.duration_word %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Class type:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.class_type %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p>
              <strong>
                Event type:
              </strong>
            </p>
          </div>
          <div class="col-md-7">
            <p>
              <%= @event.event_type %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7" style="border: 2px solid lightgrey;border-radius: 6px 6px 6px 6px; padding-top: 10px;">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="text-center">
            <%= link_to 'Add Vehicles/Mileage', edit_event_path(@event), class: "btn btn-danger" %>
          </h4> 
          <%= auto_select_vehicles @event%>
        </div>
        <p>
          <div class="row">	
            <div class="col-md-3">	
              <strong>
                Vehicles:
              </strong>
            </div>
            <div class="col-md-4">
              <strong>
                Pre-Event:
              </strong>
            </div>
            <div class="col-md-5">        
                <b>
                Post-Event:
              </b>
            </div>
          </div>
          <div class="row mt-2">
            <% @vehicles.each do |vehicle|%>
            <div class="col-md-3 mb-2">
              <%= vehicle.car_id %> 
            </div>
            <div class="col-md-4 mb-2">
              <% if @checklists.exists?(vehicle_id: vehicle.id, checklist_type: 'Pre-Event') %>
              <i class="fa fa-check fa-lg text-white" style="color: white;" aria-hidden="true">
              </i>
              <%= checklist_button_color @checklists, vehicle %>
              <% else %>
              <%= link_to "Complete Pre-Event Checks", new_checklist_path(id: vehicle.id, event_id: @event.id), class: "btn btn-danger ml-1" %> 
              <% end %>
            </div>
            <div class="col-md-5 mb-2">
              <% if @checklists.exists?(vehicle_id: vehicle.id, checklist_type: 'Post-Event') %>
              <i class="fa fa-check fa-lg text-white" style="color: white;" aria-hidden="true">
              </i>
              <%= checklist_button_color @checklists, vehicle %>
              <% else %>
              <%= link_to "Complete Post-Event Checks", new_checklist_path(id: vehicle.id, event_id: @event.id), class: "btn btn-danger ml-1" %> 
              <% end %>
            </div>
            <br />
            <% end %>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <span>
      <%= link_to 'Events Dashboard', dashboard_events_path, class: "btn btn-danger"%>
    </span>
    <% if !@event.is_completed? %>
			
    <%= form_tag 'event_completed' do |f| %>
    <%= hidden_field_tag :event_id, @event.id %>
    <div class="input-group">
      <div class="input-group-prepend bg-secondary text-white">
        <div class="input-group-text form-control">
          Mileage:
        </div>
      </div>
      <%= number_field_tag :event_mileage, nil, class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Complete Event", class: "btn btn-danger input-group-btn" %>
      </div>
    </div>
    <% end %>		
    <% end %>
    <span>
      <%= link_to 'Back', :back, class: "btn btn-danger"%>
      <%= link_to 'Download PDF', event_path(@event, format: "pdf"), class: "btn btn-danger" %>
    </span>
  </div>
</div>
<% if !@event.is_completed? %>
<div class='card bg-dark text-white my-2'>
  <div class="card-body rounded">
    <p>
      * Ensure to set the Event Mileage and the status for the event to "Completed" once the event has finished. This can be done easily with the form above this text box. *
    </p>
  </div>
</div>
<% end %>
