<div class="card mt-4">
<div class="card-header">
	<h3>Event: <%= @event.id %></h3>
</div>
<div class="card-body">
<p>
  <strong>Scheduled Date:</strong>
  <%= @event.date.strftime('%D') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>


<p>
  <strong>Event mileage:</strong>
  <%= @event.event_mileage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.locale %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %> Hours
</p>

<p>
  <strong>Class type:</strong>
  <%= @event.class_type %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
	<div class="row">
		
	<div class="col-md-2">	
	<strong>Vehicles:</strong>
</div>

<div class="col-md-4">
	<strong>Checklists:</strong>
</div>

<div class="col-md-6">
</div>
</div>
	<div class="row mt-2">
	<% @event.vehicles.each do |vehicle|%>
	<div class="col-md-2 mb-2">
	<%= vehicle.car_id %> 
</div>
	<div class="col-md-4 mb-2">
		<% if @checklists.exists?(vehicle_id: vehicle.id) == true %>
			<i class="fa fa-check fa-lg" style="color: green;" aria-hidden="true"> Completed</i> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= link_to "Checklist", checklist_path(@checklists.find_by(vehicle_id: vehicle.id).id), class: "btn btn-info" %>
		<% else %>
		<%= link_to "Complete Checklist", new_checklist_path(id: vehicle.id, event_id: @event.id), class: "btn btn-success"%> 
		<% end %>
	</div>
	<div class="col-md-6 mb-2">
	</div>
	<br \>
	<% end %>
</div>
</p>



<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %> |
<%= link_to 'Back', dashboard_events_path, class: "btn btn-info"%>
</div>
</div>
