<div>
  <h1 style="text-align: center;"> Vehicle Rotation for <%= Time.now.strftime('%D') %></h1>
  <hr>
  <% if @total_miles %>
  <h4  style="text-align: center;"><%= @total_miles%> Miles Estimated for the next 7 days</h4>
  <% end %>
  <% if @total_miles_added %>
  <hr>
  <h4  style="text-align: center;"><%= @total_miles_added%> Miles Assigned to Vehicles for the next 7 days</h4>
  <% end %>
</div>

<br />
<br />

<div class='object-title'>
  <h2 style="text-align: center;">Priority A</h2>
</div>
<div style="background-color: lightgreen; padding: 2px 2px 2px 2px;">
  <% if @vehicle_results %>
  <table>
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Status</th>
        <th scope="col">Car Category</th>
        <th scope="col">Location</th>
        <th scope="col"># of Times Used since <%= (Time.now - 1.month).strftime('%D')%></th>
        <th scope="col">Mileage</th>
        <th scope="col">Near Service - Miles To:</th>
        <th scope="col">Future Service Needed</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @vehicle_results.where(use_a: true).order(times_used: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
        <td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td>
          <% unless vehicle.events.where('date > ?', Time.now  - 1.month).empty? %>
          <%= vehicle.events.where('date > ?', Time.now  - 1.month).count%>
          <% end %>
        </td>
        <td><%= vehicle.mileage %></td>
        <td><% if vehicle.use_near_service %>
          <ul style="list-style-type:none;padding: 0;margin: 0;">
            <% if vehicle.near_a_service_mileage <= @set_a_service.threshold_numb %>
            <li> A-Service in <br \> <%= vehicle.near_a_service_mileage %> Miles </li>
            <% end %>
            <%  if vehicle.near_shock_service_mileage <= @set_shock_service.threshold_numb %> 
            <li>Shock Service in <br \> <%= vehicle.near_shock_service_mileage %> Miles</li>
            <% end %>
            <% if vehicle.near_air_filter_service_mileage <= @set_air_filter_service.threshold_numb %>
            <li>Air Filter Change In <br \>  <%= vehicle.near_air_filter_service_mileage %> Miles
            </li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <td>
          <% if vehicle.dont_use_a_service %>
          <span class="badge badge-primary"> A-Service </span>
          <% end %>
          <% if vehicle.dont_use_shock_service %>
          <span class="badge badge-primary"> Shock Service </span>
          <% end %>
          <% if vehicle.dont_use_air_filter_service %>
          <span class="badge badge-primary"> Air Filter Service </span>
          <% end %>
        </td>
      </tr>
      <% end %> 
    </tbody> 
  </table>
		
  <% end %>
</div>
<br />
<br />

<div class='object-title'>
  <h2 style="text-align: center;">Priority B</h2>
</div>
<div style="background-color: gold; padding: 2px 2px 2px 2px;">
  <% if @vehicle_results %>
  <table>
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Status</th>
        <th scope="col">Car Category</th>
        <th scope="col">Location</th>
        <th scope="col"># of Times Used since <%= (Time.now - 1.month).strftime('%D')%></th>
        <th scope="col">Mileage</th>
        <th scope="col">Near Service - Miles To:</th>
        <th scope="col">Future Service Needed</th>
      </tr>
    </thead>

    <tbody>
      <% @vehicle_results.where(use_b: true).order(times_used: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
        <td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td>
          <% unless vehicle.events.where('date > ?', Time.now  - 1.month).empty? %>
          <%= vehicle.events.where('date > ?', Time.now  - 1.month).count%>
          <% end %>
        </td>
        <td><%= vehicle.mileage %></td>
        <td><% if vehicle.use_near_service %>
          <ul style="list-style-type:none;padding: 0;margin: 0;">
            <% if vehicle.near_a_service_mileage <= @set_a_service.threshold_numb %>
            <li> A-Service in <br \> <%= vehicle.near_a_service_mileage %> Miles </li>
            <% end %>
            <%  if vehicle.near_shock_service_mileage <= @set_shock_service.threshold_numb %> 
            <li>Shock Service in <br \> <%= vehicle.near_shock_service_mileage %> Miles</li>
            <% end %>
            <% if vehicle.near_air_filter_service_mileage <= @set_air_filter_service.threshold_numb %>
            <li>Air Filter Change In <br \>  <%= vehicle.near_air_filter_service_mileage %> Miles
            </li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <td>
          <% if vehicle.dont_use_a_service %>
          <span class="badge badge-primary"> A-Service </span>
          <% end %>
          <% if vehicle.dont_use_shock_service %>
          <span class="badge badge-primary"> Shock Service </span>
          <% end %>
          <% if vehicle.dont_use_air_filter_service %>
          <span class="badge badge-primary"> Air Filter Service </span>
          <% end %>
        </td>
      </tr>
      <% end %> 
    </tbody> 
  </table>
		
  <% end %>
</div>
<br />
<br />
<div class='object-title'>
  <h2 style="text-align: center;">Don't Use</h2>
</div>
<div style="background-color: lightgrey; padding: 2px;">
  <table>
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Status</th>
        <th scope="col">Car Category</th>
        <th scope="col">Location</th>
        <th scope="col"># of Times Used since <%= (Time.now - 1.month).strftime('%D')%></th>
        <th scope="col">Mileage</th>
        <th scope="col">Near Service - Miles To:</th>
        <th scope="col">Future Service Needed</th>
      </tr>
    </thead>
    <tbody>
      <% @vehicle_results.where(use_a: false, use_b: false).order(times_used: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
        <td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td><%= vehicle.location %></td>
        <td>
          <% unless vehicle.events.where('date > ?', Time.now  - 1.month).empty? %>
          <%= vehicle.events.where('date > ?', Time.now  - 1.month).count%>
          <% end %>
        </td>
        <td><%= vehicle.mileage %></td>
        <td><% if vehicle.use_near_service %>
          <ul style="list-style-type:none;padding: 0;margin: 0;">
            <% if vehicle.near_a_service_mileage <= @set_a_service.threshold_numb %>
            <li> A-Service in <br \> <%= vehicle.near_a_service_mileage %> Miles </li>
            <% end %>
            <%  if vehicle.near_shock_service_mileage <= @set_shock_service.threshold_numb %> 
            <li>Shock Service in <br \> <%= vehicle.near_shock_service_mileage %> Miles</li>
            <% end %>
            <% if vehicle.near_air_filter_service_mileage <= @set_air_filter_service.threshold_numb %>
            <li>Air Filter Change In <br \>  <%= vehicle.near_air_filter_service_mileage %> Miles
            </li>
            <% end %>
          </ul>
          <% end %>
        </td>
        <td>
          <% if vehicle.dont_use_a_service %>
          <span class="badge badge-primary"> A-Service </span>
          <% end %>
          <% if vehicle.dont_use_shock_service %>
          <span class="badge badge-primary"> Shock Service </span>
          <% end %>
          <% if vehicle.dont_use_air_filter_service %>
          <span class="badge badge-primary"> Air Filter Service </span>
          <% end %>
        </td>
      </tr>
      <% end %> 
    </tbody> 
  </table>
</div>