<div class='jumbotron'>
  <h1 class='text-center'> Vehicle Rotation for <%= Time.now.strftime('%D') %></h1>
  <hr>
  <% if @total_miles %>
  <h4 class='text-center'><%= @total_miles%> Miles Estimated for the next 7 days</h4>
  <% end %>
  <% if @total_miles_added %>
  <hr>
  <h4 class='text-center'><%= @total_miles_added%> Miles Assigned to Vehicles for the next 7 days</h4>
  <% end %>
</div>

<div class="card bg-secondary text-white mt-4">
  <div class='card-header'>
    <h2 class="text-center">Priority A</h2>
  </div>
  <div class="card-body">
    <% if @vehicle_results %>
    <%= render 'vehicle_table', vehicle: @vehicle_results.where(use_a: true, vehicle_status: "In-Service").order(times_used: :asc)%>
    <% end %>
  </div>
</div>

<div class="card bg-secondary text-white mt-2">
  <div class='card-header'>
    <h2 class="text-center">Priority B</h2>
  </div>
  <div class="card-body">
    <% if @vehicle_results %>
    <%= render 'vehicle_table', vehicle: @vehicle_results.where(use_b: true, vehicle_status: "In-Service") %>
    <% end %>
  </div>
</div>

<div class="card bg-secondary text-white mt-2">
  <div class='card-header'>
    <h2 class="text-center">Don't Use</h2>
  </div>
  <div class="card-body">
    <%= render 'vehicle_table', vehicle: @vehicle_results.where(use_a: false, use_b: false) %>
  </div>
</div>
