<div class="card">
	<div class="card-header">
	  

<%= simple_form_for @request, html: {multipart: true} do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
   
	
	<div class="form-group">
		<strong>Current Status: </strong> <br \>
	  <%= f.select :tracker_id, Tracker.all.collect { |t| [ t.track, t.id ]}, {include_blank: "Update Status" }, id: :request_tracker_id, class: "form-control" %>
	</div>
	
  
  
  <div class="form-group">
	 <strong> <%= f.label "Service"%> </strong>
	  <%= f.select :program_id, Program.all.collect {|s| [s.name, s.id]}, {include_blank: "Select Service"}, class: "form-control", id: :request_program_id%>
</div>

   <div class="form-group">
     <strong>Estimated Completion Date</strong>
     <%= f.date_select :completion_date, id: :request_completion_date, {include_blank: "Nothing"}, class: "form-control" %>
   </div>

  <div class="form-group">
    <strong><%= f.label :completed_date %></strong>
    <%= f.date_select :completed_date, id: :request_completion_date, {include_blank: "Nothing"}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <strong><%= f.label "Description" %></strong>
    <%= f.text_area :description, id: :request_description, class: "form-control"%>
  </div>
  
 

	
	<div class="form-group">
		<strong><%= f.label "Select Vehicle"%></strong>
		<%= f.select :vehicle_id, Vehicle.all.order(car_id: :asc).collect { |v| [v.car_id, v.id]}, {include_blank: "Select Vehicle"}, id: :request_vehicle_id, class: "form-control"%>
	</div>
	
	
	<%= f.hidden_field :creator, value: current_user.name%>

  <div class="form-group">
    <strong style="margin-bottom: 2px;">Assign &/OR Email Request To: </strong> *If you are the mechanic for this work order, select yourself please.*
	 <br \>
	 <br \>
    <%= f.collection_check_boxes :user_ids, User.all.order(emplyid: :asc), "id", :user_naming, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <strong>Upload Images for Work Order: </strong>
	 <br \>
	 <br \>
    <%= f.file_field :image %>
  </div>

<br \>
  <div class="form-group">
    <%= f.button :submit, "Submit Work Order", class: "btn btn-lg btn-success" %>
 </div>
<% end %>

<hr>
<div>
<%= link_to 'Back', dashboard_requests_path, class: "btn btn-info" %></div>

</div>
</div>