<div class="card">
	

<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-body">
	
	
	<div class="form-group">
		Current Status: <br \>
	  <%= form.select :tracker_id, @tracks.collect { |t| [ t.track, t.id ]}, {include_blank: "Update Status" }, id: :request_tracker_id %>
	</div>
	
  <div class="form-group">
    <%= form.label "Work Order Number:" %>
    <%= form.number_field :number, id: :request_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :request_description, class: "form-control" %>
  </div>
  
 <div class="form-group">
   <strong>Upload Product Image: </strong>
   <%= form.file_field :image %>
 </div>

	
	<div class="form-group">
		<%= form.label "Choose Vehicle" %>
		<%= form.select :vehicle_id, @vehicles.collect { |v| [v.car_id, v.id]}, {include_blank: "Select Vehicle"}, id: :request_vehicle_id %>
	</div>
	
	<%= form.hidden_field :user_id, value: current_user.id%>

  <div class="form-group">
    <%= form.label :special_requets %>
    <%= form.text_area :special_requets, id: :request_special_requets, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :completion_date %>
    <%= form.date_select :completion_date, id: :request_completion_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Point of Contact" %>
    <%= form.text_field :poc, id: :request_poc, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit Request", class: "btn btn-lg btn-info" %>
 </div>
<% end %>
</div>
</div>