
		 <%= simple_form_for @request do |f|%>
		 <div class="form-check">
			 <div class="row">
			 <div class="col-md-6">
		<strong><%= f.label "Parts Added" %></strong>
	<br \>
	
			
			
	<%= f.collection_check_boxes :part_ids, @part_order.part_items, "part_id", "part_id", class: "form-check-input form-control p-1" %>
</div>
	</div>
</div>

<%= f.hidden_field :request_id, value: @request.id%>
	<%= f.submit "Add Parts", class: "btn btn-warning"%>
	<% end %>

		