<div class="card">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Part</th>
		<th scope="col">Brand</th>
		<th scope="col">Category</th>
      <th scope="col">Quantity</th>
		<th scope="col">Cost</th>
      <th scope="col">Application</th>
      <th scope="col">Work Orders</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <th scope="row"><%= part.part_numb %></th>
		  <td><%= part.brand %></td>
        <td><%= part.category %></td>
        <td><%= part.quantity %></td>
		  <td><%= number_to_currency part.cost %>
		  <td><%= part.vehicle_category.name %></td>
		  <td colspan="1"></td>
      </tr>
   
  </tbody> 
</table>
</div>