<div class="card bg-dark text-white">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th>Work Order ID</th>
            <th>Work Order Status</th>
            <th>Work Order Type</th>
            <th>Vehicle</th>
            <th>Work Order Created At</th>
            <th>Estimated Completion Date</th>
            <th>Completed Date</th>
            <th colspan="3">Options</th>
          </tr>
        </thead>
        <tbody>
          <% request.order(id: :desc).each do |request| %>
          <tr>
            <td><%= link_to request.id, request_path(request), class: "badge #{badge_color request}" %></td>
            <td>
              <span class='badge <%= show_work_order_status_badge request %>'>
                <%= request.status %>
              </span>
            </td>
            <td>
              <% request.programs.each do |program| %>
                <%= program.name %>
                <br />
              <% end %>
              <%= program_ids? request %>
            </td>
            <td>
              <% if request.vehicle_id %>
                  <%= link_to Vehicle.find(request.vehicle_id).car_id,
                      vehicle_path(Vehicle.find(request.vehicle_id)),
                      class: 'badge badge-light badge-pill' %>
              <% elsif request.multi_vehicle %>
                <% request.vehicles.each do |vehicle| %>
                  <%= link_to vehicle.car_id,
                     vehicle_path(vehicle),
                     class: 'badge badge-light badge-pill' %>
                  <br />
                <% end %>
              <% end %>
            </td>
            <td> 
              <%=request.created_at.strftime('%v') %>
            </td>
            <% if request.completion_date %>
            <td>
              <%= request.completion_date.strftime('%v') %>
            </td>
            <% end %>
            <td>
              <h6>
                <span class="badge <%= badge_color request %>">
                  <%= table_date request %>
                </span>
              </h6>
            </td>
            <td><%= link_to "Show", request_path(request), class: "btn btn-danger btn-sm" %></td>
            <td><%= link_to 'Edit', edit_request_path(request), class: "btn btn-danger btn-sm" %></td>
            <td><%= link_to 'Delete', request, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br />
      <%= paginate request%>
    </div>
  </div>
</div>
