<div class="jumbotron text-center">
	<h1 class="display-3">Work Orders Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="../requests/new">New Request</a>
				<a class="list-group-item list-group-item-action" href="../requests">All Requests</a>
				<a class="list-group-item list-group-item-action" 					href="../requests/a_service">A-Service Requests</a>
				<a class="list-group-item list-group-item-action" 					href="../requests/shock_service">Shock Service Requests</a>
				<a class="list-group-item list-group-item-action" 					href="../requests/air_filter_service">Air Filter Service Requests</a>
				<a class="list-group-item list-group-item-action" 					href="../requests/repairs">Repair Requests</a>
				<a class="list-group-item list-group-item-action" 					href="../requests/completed_requests">Completed Requests</a>
			</div>
		
			
	</div>
	<div class="col-md-6">
			
					<% @requests.all.order(created_at: :desc).limit(5).each do |request|%>
					<div class="card m-2">
						<div class="card-header">
							<h4><%=link_to request.number, request_path(id: request.id), class: "badge badge-warning" %></h4></div>
							
				<div class="card-body">
				
				
					<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between 						align-items-center">Requested At
						<span class="badge badge-info"><%=request.created_at.strftime('%D')%></span>Car Number
					<span class="badge badge-info"><%= request.vehicle.car_id%></span></li>
				
					<li class="list-group-item d-flex justify-content-between align-items-center">Status
					<span class="badge badge-info"><%= request.tracker.track%></span>Requestor
					<span class="badge badge-info"><%= request.user.name%></span></li>
					
				</ul>
				</div>
			</div>
			<% end %>
				
				
		</div>
	
	
	<div class="col-md-3">
				<ul class="list-group">
					
				<li class="list-group-item d-flex justify-content-between 					align-items-center">New Requests: <span class="badge badge-dark"><%= 						@requests.where(tracker_id: 1).count%></span></li>
				<li class="list-group-item d-flex justify-content-between 					align-items-center">A-Service Requests: <span class="badge 					badge-dark"><%= @a_service.where(tracker_id: 1).count%></span></li>
				<li class="list-group-item d-flex justify-content-between 					align-items-center">Shock Service Requests: <span class="badge 					badge-dark"><%= @shock_service.where(tracker_id: 1).count%></span></li>
				<li class="list-group-item d-flex justify-content-between 					align-items-center">Air Filter Requests: <span class="badge 					badge-dark"><%= @air_filter_service.where(tracker_id: 1).count%></span></li>
				<li class="list-group-item d-flex justify-content-between 					align-items-center">Repair Requests: <span class="badge badge-dark"><%= 					@repairs.where(tracker_id: 1).count%></span></li>
				<li class="list-group-item d-flex justify-content-between 					align-items-center">Completed Requests: <span class="badge badge-dark"><%= 					@requests.where(tracker_id: 3).count%></span></li>
			</ul>
				
		</div>

	
</div>