<div class="jumbotron bg-secondary text-white text-center">
  <h1 class="display-3">Work Orders Dashboard</h1>
</div>

<div class="row mb-3">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "Create A Work Order", new_request_path, class: "list-group-item bg-secondary text-white list-group-item-action" %>
      <%= render 'dashboard_link', title: "All Work Orders", numb: @all_wo_numb, url: "../requests" %>
      <%= render 'dashboard_link', title: "New Work Orders", numb: @new_wo_numb, url: "../requests/new_requests" %>
      <%= render 'dashboard_link', title: "In-Progress Work Orders", numb: @in_progress_wo_numb, url: "../requests/in_progress" %>
      <%= render 'dashboard_link', title: "Completed Work Orders", numb: @completed_wo_numb, url: "../requests/completed" %>
      <%= render 'dashboard_link', title: "Overdue Work Orders", numb: @overdue_wo_numb, url: "../requests/overdue" %>
      <a class="list-group-item  bg-secondary text-white list-group-item-action" href="../assigned_work_orders">
        Assigned Work Orders
      </a>	
      <a class="list-group-item  bg-secondary text-white list-group-item-action" href="../completed_work_orders">
        Completed Work Orders
      </a>	
    </div>		
  </div>
  <div class="col-md-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <p>
          To create a work order:
          <ul style='list-style-type: decimal;'>
            <li> Click on the <span style="color: gold;"> Create a Work Order</span> Link to the left </li>
            <li> Fill out the pertient fields of the work order.<br /> *You can also upload images for each work order* </li>
            <li> Ensure that completion date is beyond today's current date, unless entering in a previous work order. </li>
            <li> Hit Create Work Order</li>
            <li style="color: gold;"> *Ensure to update status each time you open or work on a Work Order. If past the estimated completion date, the Work Order will become Overdue.* </li>
          </ul>
        </p>
      </div>
    </div>			
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <%= render 'dashboard_link',
          title: "A-Service Work Orders",
          numb: @a_service_wo_numb,
          url: "../requests/a_service" %>
      <%= render 'dashboard_link',
          title: "Shock Service Work Orders",
          numb: @shock_service_wo_numb,
          url: "../requests/shock_service" %>
      <%= render 'dashboard_link',
          title: "Air Filter Service Work Orders",
          numb: @air_filter_service_wo_numb,
          url: "../requests/air_filter_service" %>	
      <%= render 'dashboard_link',
          title: "Repair Work Orders",
          numb: @repairs_wo_numb,
          url: "../requests/repairs" %>
      <%= render 'dashboard_link',
          title: "Defect Work Orders",
          numb: @defect_wo_numb,
          url: "../requests/defects" %>
      <%= render 'dashboard_link',
          title: "Tour Car Prep Work Orders",
          numb: @tour_car_prep_wo_numb,
          url: "../requests/tour_car_prep" %>
    </div>		
  </div>
</div>

<div class="container-fluid bg-secondary text-white rounded p-3 mb-3">
  <h4 class="text-center">
    Most Recent Work Orders
  </h4>
</div>

<%= render "wo_search_results", request: @requests %>