<div class="jumbotron bg-secondary text-white text-center">
  <h1 class="display-3">Work Orders Dashboard</h1>
</div>

<div class="row mb-3">
  <div class="col-md-12 col-lg-6 col-xl-3">
    <div class="list-group">
      <%= link_to "Create A Work Order", decision_requests_path, class: "list-group-item bg-secondary text-white list-group-item-action" %>
      <%= render 'dashboard_link', title: "All Work Orders", numb: @all_wo_numb, url: "../requests" %>
      <%= render 'dashboard_link', title: "New Work Orders", numb: @new_wo_numb, url: "../requests/new_requests" %>
      <%= render 'dashboard_link', title: "In-Progress Work Orders", numb: @in_progress_wo_numb, url: "../requests/in_progress" %>
      <%= render 'dashboard_link', title: "Completed Work Orders", numb: @completed_wo_numb, url: "../requests/completed" %>
      <%= render 'dashboard_link', title: "Overdue Work Orders", numb: @overdue_wo_numb, url: "../requests/overdue" %>
      <a class="list-group-item bg-secondary text-white list-group-item-action" href="../assigned_work_orders">
        Assigned Work Orders
      </a>	
      <a class="list-group-item bg-secondary text-white list-group-item-action" href="../completed_work_orders">
        Completed Work Orders
      </a>	
    </div>		
  </div>
  <div class="col-md-12 col-lg-6 col-xl-6">
    <div class="list-group">
    <%= render 'dashboard_link', title: "All Defects Reported", numb: @defects, url: "../defects" %>
    <%= render 'dashboard_link', title: "Vehicles with Defects Outstanding", numb: @defects_outstanding, url: "../vehicles/defects_outstanding" %>
    </div>
    <div class="card bg-dark text-white mt-3">
      <div class="card-body">
        <p>
          To create a work order:
          <ul style='list-style-type: decimal;'>
            <li> Click on the <span style="color: gold;"> Create a Work Order</span> Link to the left </li>
            <li> Fill out the pertient fields of the work order.<br /> *You can also upload images for each work order* </li>
            <li> Ensure that completion date is beyond today's current date, unless entering in a previous work order. </li>
            <li> Hit Create Work Order</li>
            <li style="color: gold;"> *Ensure to update status each time you open or work on a Work Order. If past the estimated completion date, the Work Order will become Overdue.* </li>
          </ul>
        </p>
      </div>
    </div>			
  </div>
  <div class="col-md-12 col-lg-6 col-xl-3 mt-3">
    <div class="list-group">
      <%= render 'dashboard_link',
          title: "A-Service Work Orders",
          numb: @a_service_wo_numb,
          url: "../requests/a_service" %>
      <%= render 'dashboard_link',
          title: "Shock Service Work Orders",
          numb: @shock_service_wo_numb,
          url: "../requests/shock_service" %>
      <%= render 'dashboard_link',
          title: "Air Filter Service Work Orders",
          numb: @air_filter_service_wo_numb,
          url: "../requests/air_filter_service" %>	
      <%= render 'dashboard_link',
          title: "Repair Work Orders",
          numb: @repairs_wo_numb,
          url: "../requests/repairs" %>
      <%= render 'dashboard_link',
          title: "Defect Work Orders",
          numb: @defect_wo_numb,
          url: "../requests/defects" %>
      <%= render 'dashboard_link',
          title: "Tour Car Prep Work Orders",
          numb: @tour_car_prep_wo_numb,
          url: "../requests/tour_car_prep" %>
    </div>		
  </div>
</div>

<div class="container-fluid bg-secondary text-white rounded p-3 mb-3">
  <h4 class="text-center">
    Most Recent Work Orders
  </h4>
</div>

<div class="card bg-dark text-white">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th>Work Order ID</th>
            <th>Work Order Status</th>
            <th>Work Order Type</th>
            <th>Vehicle</th>
            <th>Work Order Created At</th>
            <th>Estimated Completion Date</th>
            <th>Completed Date</th>
            <th colspan="3">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
          <tr>
            <td><%= link_to request.id, request_path(request), class: "badge #{badge_color request}" %></td>
            <td>
              <span class="badge <%= badge_color request %>">
                <%= request.status %>
              </span>
            </td>
            <td>
              <% request.programs.each do |program| %>
                <%= program.name %>
                <br />
              <% end %>
              <%= program_ids? request %>
            </td>
            <td>
              <% if request.vehicle_id >= 0 %>
                 <%= link_to Vehicle.find(request.vehicle_id).car_id,
                     vehicle_path(Vehicle.find(request.vehicle_id)),
                     class: 'badge badge-danger' %>
              <% elsif request.multi_vehicle %>
                <% request.vehicles.each do |vehicle| %>
                  <%= link_to vehicle.car_id, vehicle_path(vehicle), class: 'badge badge-danger' %>
                  <br />
                <% end %>
              <% end %>
            </td>
            <td><%= request.created_at.strftime('%v') %></td>
            <% if request.completion_date %>
            <td><%= request.completion_date.strftime('%v') %></td>
            <% end %>
            <td>
              <h6>
                <span class="badge <%= badge_color request %>">
                  <%= table_date request %>
                </span>
              </h6>
            </td>
            <td><%= link_to "Show", request_path(request), class: "btn btn-danger btn-sm" %></td>
            <td><%= link_to 'Edit', edit_request_path(request), class: "btn btn-danger btn-sm" %></td>
            <td>
              <% if current_user.admin? %>
              <%= link_to 'Delete', request, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
