<div class="jumbotron bg-secondary text-white text-center">
  <h1 class="display-3">Work Orders Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "Create A Work Order", new_request_path, class: "list-group-item bg-secondary text-white list-group-item-action" %>
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests">
        All Work Orders
        <span class="badge badge-danger">
          <%= @requests.all.count%>
        </span>
      </a>
      <a class="list-group-item  bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/new_requests">
        New Work Orders
        <span class="badge badge-danger">
          <%= @requests.where(status: "New").count%>
        </span>
      </a>
      <a class="list-group-item  bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" 					href="../requests/in_progress">
        In-Progress Work Orders
        <span class="badge badge-danger">
          <%= @requests.where(status: "In-Progress").count%>
        </span>
      </a>
      <a class="list-group-item  bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" 					href="../requests/completed_requests">
        Completed Work Orders
        <span class="badge badge-danger">
          <%= @requests.where(status: "Completed").count%>
        </span>
      </a>
      <a class="list-group-item  bg-secondary text-white list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center" href="../requests/overdue">
        Overdue Work Orders
        <span class="badge badge-danger">
          <%= @requests.where(tracker_id: "Overdue").count%>
        </span>
      </a>
      <a class="list-group-item  bg-secondary text-white list-group-item-action" href="../assigned_work_orders">Assigned Work Orders</a>	
      <a class="list-group-item  bg-secondary text-white list-group-item-action" href="../completed_work_orders">Completed Work Orders</a>	
    </div>		
  </div>
  <div class="col-md-6">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <p>
          To create a work order:
          <ul style='list-style-type: decimal;'>
            <li> Click on the <span style="color: gold;"> Create a Work Order</span> Link to the left </li>
            <li> Fill out the pertient fields of the work order.<br /> *You can also upload images for each work order* </li>
            <li> Ensure that completion date is beyond today's current date, unless entering in a previous work order. </li>
            <li> Hit Create Work Order</li>
            <li style="color: gold;"> *Ensure to update status each time you open or work on a Work Order. If past the estimated completion date, the Work Order will become Overdue.* </li>
          </ul>
        </p>
      </div>
    </div>			
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/a_service">
        A-Service Work Orders
        <span class="badge badge-danger">
          <%= @a_service_requests.count%>
        </span>
      </a>
				
					
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between 					align-items-center" href="../requests/shock_service">
        Shock Service Work Orders 
        <span class="badge badge-danger"><%= @shock_service_requests.count%>
        </span>
      </a>
					
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/air_filter_service">
        Air Filter Service Work Orders 
        <span class="badge badge-danger">
          <%= @air_filter_requests.count%>
        </span>
      </a>
		
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/repairs">
        Repair Work Orders
        <span class="badge badge-danger">
          <%= @repair_requests.count%>
        </span>
      </a>
				
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/defects">
        Defect Work Orders
        <span class="badge badge-danger">
          <%= @defect_requests.count%>
        </span>
      </a>
		
      <a class="list-group-item bg-secondary text-white list-group-item-action d-flex justify-content-between align-items-center" href="../requests/tour_car_prep">
        Tour Car Prep Work Orders
        <span class="badge badge-danger">
          <%= @tour_car_prep_requests.count %>
        </span>
      </a>
    </div>		
  </div>
</div>
	
<div class="row mt-4">
  <div class="col-md-4">
    <h5 class="text-center badge-secondary mb-2">New Work Orders</h5>
    <% @requests.where(status: "New").order(created_at: :desc).limit(5).each do |request|%>
    <div class="card bg-dark text-white mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <strong>
          Work Order #: <%=link_to request.id, request_path(id: request.id), class: "badge badge-danger" %>
        </strong>
        <strong>
          Created:
          <span class="badge badge-danger">
            <%=request.created_at.strftime('%D')%>
          </span>
        </strong>
      </div>	
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">
            Car #
            <span class="badge badge-danger">
              <%= request.vehicle.car_id%>
            </span>
            Type:
            <span class="badge badge-danger">
              <%= request.program.name %>
            </span>
          </li>
          <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">
            Status
            <span class="badge badge-danger">
              <%=request.status%>
            </span>
            Requestor
            <span class="badge badge-danger">
              <%= request.creator%>
            </span>
          </li>
        </ul>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <strong>Estimated Completion Date: </strong>
        <% if request.completion_date %>
         <span class="badge badge-danger"> <%= request.completion_date.strftime("%v") %></span>
         <% end %>
      </div>
    </div>
    <hr>
    <% end %>	
  </div>
  <div class="col-md-4">
    <h5 class="text-center mb-2 badge-secondary">In-Progress Work Orders</h5>
    <% @requests.where(status: "In-Progress").order(created_at: :desc).limit(5).each do |request|%>
    <div class="card bg-dark text-white mb-2">
      <div class="card-header d-flex justify-content-between align-items-center">
        <strong>
          Work Order #: <%=link_to request.id, request_path(id: request.id), class: "badge badge-danger" %>
        </strong>
        <strong>
          Created:
          <span class="badge badge-danger">
            <%=request.created_at.strftime('%D')%>
          </span>
        </strong>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">
            Car #
            <span class="badge badge-danger">
              <%= request.vehicle.car_id%>
            </span>
            Type:
            <span class="badge badge-danger"><%= request.program.name %> </span>
          </li>
		
          <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">Status
            <span class="badge badge-danger"><%=request.status%></span>Requestor
            <span class="badge badge-danger"><%= request.creator%></span></li>
			
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <strong>Estimated Completion Date: </strong>
          <% if request.completion_date %>
           <span class="badge badge-danger"> <%= request.completion_date.strftime("%v") %></span>
           <% end %>
        </div>
      </div>
      <hr>
      <% end %>
    </div>
    <div class="col-md-4">
      <h5 class="text-center badge-secondary mb-2">Overdue Work Orders</h5>	
      <% @requests.where(status: "Overdue").order(created_at: :desc).limit(5).each do |request|%>
      <div class="card bg-dark text-white mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
          <strong>Work Order #: <%=link_to request.id, request_path(id: request.id), class: "badge badge-danger" %></strong>
          <strong>Created:
            <span class="badge badge-danger"><%=request.created_at.strftime('%D')%></span></strong></div>
					
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">
                  Car #
                  <span class="badge badge-danger">
                    <%= request.vehicle.car_id%>
                  </span>
                  Type:
                  <span class="badge badge-danger">
                    <%= request.program.name %>
                  </span>
                </li>
		
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center">Status
                  <span class="badge badge-danger">
                    <%=request.status%>
                  </span>
                  Requestor
                  <span class="badge badge-danger">
                    <%= request.creator%>
                  </span>
                </li>
			
              </ul>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <strong>Estimated Completion Date: </strong>
              <% if request.completion_date %>
               <span class="badge badge-danger"> <%= request.completion_date.strftime("%v") %></span>
               <% end %>
            </div>
          </div>
          <hr>
          <% end %>
        </div>
      </div>