<div class="jumbotron bg-secondary text-white">
  <h1 class="display-3 text-center">Edit Work Order: <%= @request.id%></h1>
  <div class="card bg-dark text-white">
    <%= simple_form_for @request do |f| %>
    <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.input :completion_date, as: :date, label: "Estimated Completion Date", class: "form-control", required: true %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group bg-secondary border border-light p-3 rounded">
            <strong style="margin-bottom: 2px;">Assign &/OR Email Work Order To: </strong>
            <br />
            <%= f.collection_check_boxes :user_ids, User.all.order(emplyid: :asc), "id", :user_naming, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <strong>Creator: <%= @request.creator%></strong>
      </div>

      <div class="form-group">
        <strong>Current Status </strong> <br />
        <%= f.select :status, Request::STATUS, {include_blank: "Update Status" }, class: "form-control" %>
      </div>
  
      <div class="form-group">
        <strong>Service</strong>
        <br />
        <%= f.collection_check_boxes :program_ids, Program.all, "id", :user_naming, class: "form-control", id: :request_program_id%>
      </div>

      <div class='form-group'>
        <!-- Button trigger modal -->
        <button type="button" class="btn text-white btn-lg mb-3 bg-danger" data-toggle="modal" data-target="#exampleModal">
          Select Vehicles
        </button>
        <strong>
          Please use this button to open the list of vehicles.
        </strong>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Vehicle List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% Vehicle::LOCATION.each do |location|%>
              <div class='form-row'>
                <h4 class='text-center'>
                  <%= location %>
                </h4>
                <div class='table-responsive'>
                  <table class='table table-sm table-striped table-borderless bg-secondary text-white rounded'>
                    <thead>
                      <tr>
                        <th scope='col'> ID </th>
                        <th scope='col'> Mileage </th>
                        <th scope='col'> Times Used (Month) </th>
                        <th scope='col'> Status </th>
                        <th scope='col'> Defects Reported (ID / Description) </th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= f.collection_check_boxes :vehicle_ids, Vehicle.where('location = ? AND vehicle_status != ?', location, "Sold").order(car_id: :asc), :id, :car_id do |b| %> 
                      <tr>
                        <th scope='row'>
                          <div class="collection-check-box">
                            <%= b.check_box %>
                            <%= b.label %>
                          </div>
                        </th>
                        <td>
                          <%= Vehicle.find(b.object.id).mileage %>
                        </td>
                        <td>
                          <%= Vehicle.find(b.object.id).times_used %>
                        </td>
                        <td>
                          <span class='badge <%= vehicle_status_badge_color Vehicle.find(b.object.id) %>'>
                            <%= Vehicle.find(b.object.id).vehicle_status %>
                          </span>
                        </td>
                        <td>
                          <ul class='list-unstyled'>
                            <% Vehicle.find(b.object.id).defects.where(fixed: false).each do |defect| %>
                            <li>
                              <%= link_to defect.id, defect_path(defect), class: 'badge badge-danger' %> / <%= defect.description[0..50] %>...
                            </li>
                            <% end %>
                          </ul>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :description, class: "form-control", required: true %>
      </div>
	
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <strong class='my-2'>Estimated Completion Date</strong>
            <%= f.date_field :completion_date, id: :request_completion_date, class: "form-control", datepicker: true %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <strong class='my-2'>Actual Completion Date</strong>
            <%= f.date_field :completed_date, id: :request_completion_date, class: "form-control", datepicker: true %>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <%= f.input :notes, label: 'Notes', class: 'form-control font-weight-bold' %>
      </div>

      <%= f.hidden_field :mechanic_id, value: current_user.id %>

      <div class="form-group">
        <%= f.button :submit, "Submit Work Order", class: "btn btn-lg btn-danger" %>
      </div>
      <% end %>
      <div class="container d-flex justify-content-between align-items-center">
        <%= link_to 'Back', requests_path, class: "btn btn-danger" %>
        <%= link_to 'Show', @request, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
