<p id="notice"><%= notice %></p>
<div class="card">
	<div class="card-header">
<h1 class="display-5">Requests</h1>
</div>
	<div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th>Work Order</th>
		<th>Date Submitted</th>
		<th>Status</th>
		<th>Requestor</th>
		<th>Vehicle Number</th>
		<th>Vehicle Mileage at Work Order</th>
      <th>Est. Completion Date</th>
      
		
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.number %></td>
		  <td><%= request.created_at.strftime("%D")%></td>
		  <td><%= request.tracker.track %></td>
		  <td><%= request.user.name %></td>
		  <td><%= request.vehicle.car_id%></td>
		  <td><%= request.request_mileage%></td>
        <td><%= request.completion_date %></td>
        <td class="btn-group"><%= link_to 'Show', request, class: "btn btn-primary " %>
        <%= link_to 'Edit', edit_request_path(request), class: "btn btn-info" %>
        <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path, class: "btn btn-success" %>
<%= paginate @requests%>
</div>
</div>
