<div class="jumbotron bg-secondary text-white">
  <h2 class="display-3 text-center">
    Work Order <%= @request.id %> for 
    <% if !@request.vehicle.nil? %>
    <%= link_to @request.vehicle.car_id, vehicle_path(@request.vehicle.id), class: "badge badge-danger"%>
    <% end %>
  </h2>
  <div class="card bg-dark text-white">
    <div class="card-header d-flex justify-content-between align-itmes-center">
      <h3>
        <strong>
          Submitted By:
          <span class="badge badge-danger">
            <%= @request.creator%>
          </span>
        </strong>
      </h3>
      <h3>
        <strong>Status:
          <span class="badge <%= show_work_order_status_badge @request %>">
            <%= @request.status %>
          </span>
        </strong>
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Current Vehicle Mileage:</strong>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <% if !@request.vehicle.nil? %>
                <span class="badge badge-light text-dark">
                  <%= @request.vehicle.mileage%>
                </span>
                <% end %>
              </p>
            </div>
            <div class="col-md-3">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Work Order Mileage:</strong>
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <span class="badge badge-light text-dark">
                  <%= @request.request_mileage%>
                </span>
              </p>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Description:</strong>
              </p>
            </div>
            <div class="col-md-7">
              <p>
                <%= @request.description %>
                <% if !@request.vehicle.nil? %>
                <% if @request.vehicle.checklists.exists? %>
                <% if @request.checklist_id %>
                <% if @request.checklist_id != 0 %>
                <br />
                <%= link_to "Checklist", checklist_path(@request.checklist_id), class: "btn btn-danger mb-2" %>
                <% end %>	
                <% end %>
                <% end %>
                <% end %>
              </p>
            </div>
          </div>
          <% if @request.program %>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Service Type:</strong>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= @request.program.name %>
              </p>
            </div>
            <div class="col-md-3">
            </div>
          </div>
          <% end %>
          
          <% if @request.users.exists?%>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Recipients:</strong>
              </p>
            </div>
            <div class="col-md-6">
              <div class="row">
                <% @request.users.each do |user|%>
                <div class="col-md-6">
                  <%= user.name%>
                </div>
                <div class="col-md-6">
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <% if @request.defects.exists? %>
          <div class="card bg-secondary text-white">
            <div class="card-header">
              <h5 class="text-center">
                Defects:
              </h5>
            </div>
            <div class="card-body rounded">
              <div class="row">
                <div class="col-md-1">
                  <strong>ID</strong>
                </div>
                <div class="col-md-2">
                  <strong>Event ID</strong>
                </div>
                <div class="col-md-9">
                  <strong>Description</strong>
                </div>
              </div>
              <br /> 
              <% @request.defects.each do |defect|%>
              <div class="row">
                <div class="col-md-1">
                  <span class="badge badge-danger">
                    <%= defect.id %>
                  </span>
                </div>
                <div class="col-md-2">
                  <%= last_event defect%>
                </div>
                <div class="col-md-9">
                  <%= defect.description %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
          <% unless @part_order.empty?%>
          <div class="card bg-secondary text-white">
            <div class="card-header">
              <strong>Parts: </strong>
            </div>
            <div class="card-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col">Item:</th>
                    <th scope="col">Qty:</th> 
                    <th scope="col">Total Cost:</th>
                    <th colspan='1'></th>
                  </tr>
                </thead>
                <tbody>
                  <% @part_order.each do |order|%>
                  <% unless order.order_items.empty? %>
                  <% order.order_items.each do |key, value|%>
                  <tr>
                    <td><%= Part.find(key).description%></td>
                    <td><%= value %></td>
                    <td><%= number_to_currency (value * Part.find(key).cost) %></td>
                    <td> <%= link_to 'Delete', remove_parts_from_request_requests_path(key: key, request_id: @request.id), data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> </td>
                  </tr>
                  <% end %>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <% total = [] %>
              <% @request.request_part_orders.each do |order| %>
              <% if order.order_total %>
              <% total << order.order_total %>
              <% end %>
              <% end %>
              Work Order Total Cost:
              <span class="badge badge-success ml-3">
                <%= number_to_currency total.sum %>
              </span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class=<%= date_column @request %>>
          <h4>
            <strong>
              <%= date_title @request %>
            </strong>
          </h4>
        </div>
        <div class="col-md-2">
          <h4>
            <span class="badge <%= badge_color @request %>">
              <%= date_badge @request %>
            </span>
          </h4>
        </div>
        <div class=<%= empty_date_column @request %>>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-between align-items-center my-3">
    <span>
      <%= link_to 'Back', dashboard_requests_path, class: "btn btn-danger ml-3 mr-2" %> <%= link_to 'Edit', edit_request_path(@request), class: "btn btn-danger ml-3" %>
    </span>
    <strong>
      Download:
      <%= link_to "CSV", request_path(@request, params.merge(format: "csv").permit!), class: "btn btn-danger mr-2" %>
      <%= link_to "PDF", request_path(@request, params.merge(format: "pdf").permit!), class: "btn btn-danger" %> 
    </strong>
  </div>

  <div class="card bg-dark text-white mt-3">
    <div class="card-header">
      <h4>Parts Cart</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <% @part_items.each do |part_item|%>
        <li class="list-group-item bg-secondary d-flex justify-content-between align-items-center">
          <%= part_item.part.description %> | Qty: <%= part_item.quantity%> 
          <span> 
            <%= link_to 'Delete', delete_parts_requests_path(id: part_item.id), data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </span>
        </li>
        <% end %>
      </ul>
      <br />
		
      <%= link_to "Add Parts To Work Order", add_parts_requests_path(request_id: @request.id), class: "btn btn-danger"%> 
    </div>
  </div>
  <div class="card bg-dark text-white mt-3">
    <div class="card-header">
      <h6 class="display-5">Add Parts To Cart</h6>
    </div>
    <div class="card-body">
      <%= render 'custom_form'%>
		  
      <br \>
      <% if @parts.count != @number %>
			
      <% Part::CATEGORIES.each do |category|%>
      <% unless @parts.where(category: category).empty? %>
			 
      <strong><%= label_tag category %></strong>
      <div class="row">
        <% @parts.where(category: category).limit(15).each do |part|%>
        <div class="col-md-4">
          <%= form_tag add_to_request_part_order_requests_path do |f|%>
          <%= hidden_field_tag :part_id, part.id%>
          <%= hidden_field_tag :request_id, @request.id%>
          <div class="form-group">
            [<%= label_tag part.part_numb%>] - <%= label_tag part.description %> 
            <div class="input-group">
              <div class="input-group-prepend bg-secondary text-white">
                <div class="input-group-text form-control">
                  Qty: <%= part.quantity%>
                </div>
              </div>
              <%= number_field_tag :quantity, nil, class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "Add Parts", class: "btn btn-danger input-group-btn"%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>

      <% end %>
    </div>
  </div>
</div>
