<p id="notice"><%= notice %></p>


<div class="card">
<div class="card-header">
   <strong>Request Number:</strong>
   <%= @request.number %>
</div>	
<div class="card-body">

<p>
  <strong>Vehicle Name:</strong>
  <%= @request.vehicle.car_id%>
</p>

<p>
  <strong>Submitted By:</strong>
  <%= @request.user.name%>
</p>

<p>
  <strong>Vehicle Mileage:</strong>
  <%= @request.vehicle.mileage%>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.tracker.track %>
</p>
<% if @request.program != nil %>
<p>
	<strong>Service Type:</strong>
	<%= @request.program.name %>
</p>
<% end %>

<p>
  <strong>Special requets:</strong>
  <%= @request.special_requets %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @request.completion_date %>
</p>

<p>
	<strong>Mechanic</strong>
</p>

<%= link_to 'Edit', edit_request_path(@request), class: "btn btn-success" %> |
<%= link_to 'Back', dashboard_requests_path, class: "btn btn-primary" %>
</div>
</div>