<div class="jumbotron">
	<h3 class="display-3 text-center">Request Number: <%= @request.number %></h3>
<div class="card">
<div class="card-body">
<div class="row">
	<div class="col-md-6">
<p>
  <strong>Vehicle Name:</strong>
  <%= @request.vehicle.car_id%>
</p>
<!-- This is a comment -->
<p>
  <strong>Submitted By:</strong>
  <%= @request.user.name%>
</p>

<p>
  <strong>Current Vehicle Mileage:</strong>
  <%= @request.vehicle.mileage%>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.tracker.track %>
</p>
<% if @request.program != nil %>
<p>
	<strong>Service Type:</strong>
	<%= @request.program.name %>
</p>
<% end %>

<p>
  <strong>Special requets:</strong>
  <%= @request.special_requets %>
</p>

<p>
  <strong> Work Order Mileage:</strong>
  <%= @request.request_mileage%>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @request.completion_date %>
</p>
</div>
<div class="col-md-6 mb-3">


<div class="card">
	<div class="card-header">
	<strong>Parts: </strong>
</div>
<div class="card-body">
<% if @part_order != []%>
		<table class="table">
			<thead>
			<tr>
			<th scope="col">Item:</th>
				<th scope="col">Qty:</th> 
				<th scope="col">Total Cost:</th>
				<th colspan='1'></th>
			</tr>
			</thead>
			<tbody>
				<% @part_order.each do |order|%>
				<% if order.order_items != {}%>
  			 <% order.order_items.each do |key, value|%>
				<tr>
			<td><%= Part.find(key).description%></td>
			 <td><%= value %></td>
			 <td><%= value * Part.find(key).cost%></td>
			 <td> <%= link_to 'Delete', remove_parts_from_request_requests_path(key: key, request_id: @request.id), data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> </td>
		 </tr>
			  <% end %>
			  <% end %>
			  <% end %>
		  </tbody>
	  </table>
  </div>
	  <% total = []%>
			<% @request.request_part_orders.each do |order| %>
		<% if order.order_total != nil%>
       <% total << order.order_total %>
	  <% end %>
			<% end %>
		<div class="card-footer">
    Request Total Cost:<span class="badge badge-success ml-3"> <%= number_to_currency total.sum %></span>
 </div>
<% end %>


</div>
</div>
</div>
<div class="container d-flex justify-content-between align-items-center">
<span>
<%= link_to 'Back', dashboard_requests_path, class: "btn btn-primary ml-3" %> &nbsp  <%= link_to 'Edit', edit_request_path(@request), class: "btn btn-success ml-3" %></span>
 	<strong>Download:
 	  <%= link_to "CSV", request_path(@request, params.merge(format: "csv").permit!), class: "btn btn-info" %> &nbsp
 	  <%= link_to "PDF", request_path(@request, params.merge(format: "pdf").permit!), class: "btn btn-info" %> </strong>
</div>
</div>
</div>
  <div class="card mt-3">
  	<div class="card-header">
  		<h4>Parts Cart</h4>
  	</div>
  	<div class="card-body">
  		<ul class="list-group">
  			<% @part_items.each do |part_item|%>
  			<li class="list-group-item d-flex justify-content-between align-items-center"><%= part_item.part.description %> | Qty: <%= part_item.quantity%> <span> <%= link_to 'Delete', delete_parts_requests_path(id: part_item.id), data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> </span></li>
  			<% end %>
  		</ul>
  		<br \>
		
  		<%= link_to "Add Parts To Work Order", add_parts_requests_path(request_id: @request.id), class: "btn btn-success"%> 
		
  	</div>
  </div>
    <div class="card mt-3">
  	  <div class="card-header">
  		  <h6 class="display-5">Add Parts To Cart</h6>
  	  </div>
  	  <div class="card-body">
  		  <%= render 'custom_form'%>
		  
  		<br \>
			 <div class="row">
  			 <% Part::CATEGORIES.each do |category|%>
			<div class="col-md-4">
  		<strong><%= label_tag category %></strong>
  			<% @parts.where(category: category).limit(5).each do |part|%>
  				<%= form_tag add_to_request_part_order_requests_path do |f|%>
  			<%= hidden_field_tag :part_id, part.id%>
			<%= hidden_field_tag :request_id, @request.id%>
  			 <div class="form-group">
  			<%= label_tag part.description %>
			
  			<div class="input-group">
        <span class="input-group-addon">Qty: <%= part.quantity%></span>
        <%= number_field_tag :quantity, nil, class: "form-control" %>
      <span class="input-group-btn">
  	 	<%= submit_tag "Add Parts", class: "btn btn-info"%>
  	 </span>
   </div>
   </div>
  			<% end %>
  			<% end %>
	</div>
  <% end %>
</div>

  </div>
  </div>
</div>