<div class="jumbotron">
   <h1 class="text-center" >Work Order Number: <%= @request.id %> for <%= @request.vehicle.car_id%> </h1>
</div>
<p>
  <strong>Submitted By:</strong>
  <%= @request.creator%>
</p>

<p>
  <strong>Current Vehicle Mileage:</strong>
  <%= @request.vehicle.mileage%>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>
<% if @request.program != nil %>
<p>
	<strong>Service Type:</strong>
	<%= @request.program.name %>
</p>
<% end %>

<p>
  <strong> Work Order Mileage:</strong>
  <%= @request.request_mileage%>
</p>

<p>
  <strong>Estimated Completion date:</strong>
  <%= @request.completion_date %>
</p>

<% if @request.completed_date != nil%>
<p>
  <strong>Completed date:</strong>
  <span style="color: green;"><%= @request.completed_date %></span>
</p>
<% end %>

<% if @request.users.exists?%>
<p>
  <strong> Recipents:</strong>
  <ul style="list-style-type: none;">
  <% @request.users.each do |user|%>
  <li><%= user.name%></li>
	  <% end %>
  </ul>
</p>
<% end %>



<% if @part_order != []%>
<div class="card">
	<div class="card-header">
	<strong>Parts: </strong>
</div>
<div class="card-body">

		<table>
			<thead>
			<tr>
			<th scope="col">Item:</th>
				<th scope="col">Qty:</th> 
				<th scope="col">Total Cost:</th>
			</tr>
			</thead>
			<tbody>
				<% @part_order.each do |order|%>
				<% if order.order_items != {}%>
  			 <% order.order_items.each do |key, value|%>
				<tr>
			<td><%= Part.find(key).description%></td>
			 <td><%= value %></td>
			 <td><%= value * Part.find(key).cost%></td>
			 
		 </tr>
			  <% end %>
			  <% end %>
			  <% end %>
		  </tbody>
	  </table>
  </div>
	  <% total = []%>
			<% @request.request_part_orders.each do |order| %>
		<% if order.order_total != nil%>
       <% total << order.order_total %>
	  <% end %>
			<% end %>
		<div>
    Work Order Total Cost:&nbsp<span> <%= number_to_currency total.sum %></span>
 </div>
<% else %>
<h4> No Parts Add To Work ORder
<% end %>
