<div class="jumbotron bg-secondary text-white shadow shadow-lg">
  <div class='row'>
    <div class='col-lg-3'>
    </div>
    <div class='col-lg-6'>
    <div class='container-fluid bg-dark p-2 mb-2 rounded shadow shadow-lg'>
      <h2 class="display-3 text-center">
        Work Order 
        <span class='badge badge-danger badge-pill'>
          <%= @request.id %>
        </span>
      </h2>
    </div>
    </div>
    <div class='col-lg-3'>
    </div>
  </div>
  <div class="card bg-dark text-white shadow shadow-lg">
    <div class="card-header d-flex justify-content-between align-itmes-center">
      <h3>
        <strong>
          <%= user_for_title @request %>
          <span class="badge <%= show_work_order_status_badge @request %>">
            <%= user_for_work_order @request %>
          </span>
        </strong>
      </h3>
      <%= vehicle_deadline_badge @request%>
      <h3>
        <strong>Status:
          <span class="badge <%= show_work_order_status_badge @request %>">
            <%= @request.status %>
          </span>
        </strong>
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
        <% if @request.vehicle_id >= 0 %>
        <div class='row'>
          <div class='col-md-5'>
            <p>
              <strong>Vehicle ID:</strong>
            </p>
          </div>
          <div class='col-md-7'>
              <%= link_to Vehicle.find(@request.vehicle_id).car_id,
                  vehicle_path(Vehicle.find(@request.vehicle_id)), 
                  class: 'badge badge-danger' %>
          </div>
        </div>
        <% elsif @request.multi_vehicle %>
          <div class='row'>
            <div class='col-md-3'>
              <strong>
                Car ID
              </strong>
            </div>
            <div class='col-md-3'>
              <strong>
               Mileage
             </strong>
            </div>
            <div class='col-md-6'>
            </div>
          </div>
          <% @request.vehicles.each do |vehicle| %>
          <div class='row'>
            <div class='col-md-3'>
                <%= link_to vehicle.car_id, vehicle_path(id: vehicle.id), class: 'badge badge-danger' %>
            </div>
            <div class='col-md-3'>
              <span class='badge badge-light'>
                <%= vehicle.mileage %>
              </span>
            </div>
            <div class='col-md-6'>
            </div>
          </div>
          <% end %>
        <% end %>
          
          <% if @request.programs.exists? %>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Service Type:</strong>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <% @request.programs.each do |program| %>
                  <%= program.name %>
                  <br />
                <% end %>
              </p>
            </div>
            <div class="col-md-3">
            </div>
          </div>
          <% else %>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Service Type:</strong>
              </p>
            </div>
            <div class="col-md-4">
              <p>
                <%= Program.find(@request.program_id).name %>
              </p>
            </div>
            <div class="col-md-3">
            </div>
          </div>
          <% end %>
          
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Description:</strong>
              </p>
            </div>
            <div class="col-md-7">
              <p>
                <%= @request.description %>
                <% if @request.checklist_id %>
                <% if @request.checklist_id != 0 %>
                <br />
                <%= link_to "View Checklist", checklist_path(@request.checklist_id), class: "btn btn-danger mb-2" %>
                <% end %>	
                <% end %>
              </p>
            </div>
          </div>
          
          <% if @request.users.exists? %>
          <div class="row">
            <div class="col-md-5">
              <p>
                <strong>Recipients:</strong>
              </p>
            </div>
            <div class="col-md-6">
              <div class="row">
                <% @request.users.each do |user| %>
                <div class="col-md-6">
                  <%= user.name %>
                </div>
                <div class="col-md-6">
                </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <% if @request.defects.exists? %>
          <div class="card bg-secondary text-white">
            <div class="card-header">
              <h5 class="text-center">
                Defects:
              </h5>
            </div>
            <div class="card-body rounded">
              <div class="row">
                <div class="col-md-1">
                  <strong>ID</strong>
                </div>
                <div class="col-md-2">
                  <strong>Event ID</strong>
                </div>
                <div class="col-md-9">
                  <strong>Description</strong>
                </div>
              </div>
              <br /> 
              <% @request.defects.each do |defect| %>
              <div class="row">
                <div class="col-md-1">
                  <span class="badge badge-danger">
                    <%= defect.id %>
                  </span>
                </div>
                <div class="col-md-2">
                  <%= last_event defect %>
                </div>
                <div class="col-md-7">
                  <%= defect.description %>
                </div>
                <div class='col-md-2'>
                  <%= link_to "View", defect_path(defect), class: 'badge badge-danger badge-pill' %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <% end %>
          <% unless @part_order.empty? %>
          <div class="card bg-secondary text-white my-4">
            <div class="card-header">
              <strong>Parts: </strong>
            </div>
            <div class="card-body">
              <table class="table table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col">Item:</th>
                    <th scope="col">Qty:</th> 
                    <th scope="col">Total Cost:</th>
                    <th colspan='1'></th>
                  </tr>
                </thead>
                <tbody>
                  <% @part_order.each do |order|%>
                  <% unless order.order_items.empty? %>
                  <% order.order_items.each do |key, value|%>
                  <tr>
                    <td><%= Part.find(key).description%></td>
                    <td><%= value %></td>
                    <td><%= number_to_currency (value * Part.find(key).cost) %></td>
                    <!-- 
                    <td> <%= link_to 'Remove Item', 
                             remove_order_item_requests_path(key: key, request_id: @request.id,
                             order_id: order.id), data: { confirm: 'Are you sure?' }, 
                             class: "btn btn-sm btn-danger" %>
                    </td>
                  -->
                  </tr>
                  <% end %>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <% total = [] %>
              <% @request.request_part_orders.each do |order| %>
                <% if order.order_total %>
                  <% total << order.order_total %>
                <% end %>
              <% end %>
              Work Order Total Cost:
              <span class="badge badge-success ml-3">
                <%= number_to_currency total.sum %>
              </span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='container-fluid p-3 border border-danger rounded bg-secondary text-white'>
            <strong>
              Notes:
            </strong>
              <%= @request.notes %>
          </div>
        </div>
        <div class='col-md-6'>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class=<%= date_column @request %>>
          <h4>
            <strong>
              <%= date_title @request %>
            </strong>
          </h4>
        </div>
        <div class="col-md-2">
          <h4>
            <span class="badge <%= badge_color @request %>">
              <%= date_badge @request %>
            </span>
          </h4>
        </div>
        <div class=<%= empty_date_column @request %>>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-between align-items-center my-3">
    <span>
      <%= link_to 'Back', dashboard_requests_path, class: "btn btn-danger ml-3 mr-2" %>
      <% if @request.multi_vehicle %>
        <%= link_to 'Edit', edit_multi_vehicle_requests_path(id: @request.id), class: "btn btn-danger ml-3" %>
      <% else %>
        <%= link_to 'Edit', edit_request_path(@request), class: "btn btn-danger ml-3" %>
      <% end %>
    </span>
    <strong>
      Download:
      <%= link_to "CSV", request_path(@request, params.merge(format: "csv").permit!), class: "btn btn-danger mr-2" %>
      <%= link_to "PDF", request_path(@request, params.merge(format: "pdf").permit!), class: "btn btn-danger" %> 
    </strong>
  </div>

  <div class="card bg-dark text-white mt-3">
    <div class="card-header">
      <h4>Parts Cart</h4>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <% @part_items.each do |part_item|%>
        <li class="list-group-item bg-secondary d-flex justify-content-between align-items-center">
          <h6>
            |
          <span class='badge badge-pill badge-light'>
            ID #:
          </span>
          <%= part_item.part.part_numb %> |
          <span class='badge badge-pill badge-light'>
            Description:
          </span>
          <%= part_item.part.description %> |
          <span class='badge badge-pill badge-light'>
            Qty:
          </span>
          <%= part_item.quantity%> |
          </strong>
          <h6>
            <%= link_to 'Delete', delete_parts_requests_path(part_id: part_item.id), data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </span>
        </li>
        <% end %>
      </ul>
      <br />
		
      <%= link_to "Add Parts To Work Order", add_parts_requests_path(request_id: @request.id), class: "btn btn-danger"%> 
    </div>
  </div>
  <div class="card bg-dark text-white mt-3">
    <div class="card-header">
      <h6 class="display-5">Add Parts To Cart</h6>
    </div>
    <div class="card-body">
      <%= render 'custom_form'%>
      <%= paginate @parts %>
      <% if @parts.count != @number %>
      <div class='container-fluid border rounded shadow border-danger p-3 d-flex justify-content-center bg-secondary'>
        <h5>
          Please select the part that you want, entering in the quantity of the part that is needed in the white box beside the button.
          <br />
          Then click "Add Part" to add the part to your cart.
        </h5>
      </div>
      <br />
      <% Part::CATEGORIES.each do |category|%>
      <% unless @parts.where(category: category).empty? %>
			<div class='container-fluid border border-light bg-secondary p-2 my-3 rounded'>
        <h3 class='text-center'><%= label_tag category %></h3>
      </div>
      <div class="row border border-round border-light bg-secondary p-1 rounded">
        <% @parts.where(category: category).each do |part|%>
        <div class="col-md-4">
          <%= form_tag add_to_request_part_order_requests_path do |f|%>
          <%= hidden_field_tag :part_id, part.id%>
          <%= hidden_field_tag :request_id, @request.id%>
          <div class="form-group">
            [<%= label_tag part.part_numb%>] - <%= label_tag part.description[0..35] %>...
            <br />
            <button type="button" class="btn btn-danger btn-sm mb-2" data-toggle="modal" data-target="#modal<%= part.id.to_s %>">
              View Picture
            </button>
            <div class="modal fade bd-example-modal-lg" id="modal<%= part.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-secondary">
                    <h4 class="modal-title" id="modal<%= part.id.to_s %>"><%= part.description %></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body bg-secondary d-flex justify-content-center">
                    <% if part.image.url.nil? == false %>
                        <%= image_tag part.image.part_display.url, class: 'img-fluid' %>
                    <% end %>
                  </div>
                  <div class="modal-footer bg-secondary">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend bg-secondary text-white">
                <div class="input-group-text form-control">
                  Qty: <%= part.quantity%>
                </div>
              </div>
              <%= number_field_tag :quantity, nil, class: "form-control" %>
              <div class="input-group-append">
                <%= submit_tag "Add Parts", class: "btn btn-danger input-group-btn"%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>

      <% end %>
    </div>
  </div>
</div>
