<% defects.each do |defect|%>
<tr>
  <th scope='col'>
    <h5>
      <%= link_to "#{defect.id}", defect_path(defect), class: 'badge badge-danger' %>
    </h5>
  </th>
  <th scope="col">
    <h6>
      <span class="badge badge-danger">
        <%= defect.created_at.strftime('%v') %>
      </span>
    </h6>
  </th>
  <td><%= link_to defect.vehicle.car_id, vehicle_path(defect.vehicle.id), class: "badge badge-danger" %></td>
  <td><%= defect.times_reported %></td>
  <td><%= last_event defect %>
  <td><%= category_words defect %></td>
  <td><%= defect.description %></td>
  <td>
    <h6>
      <span class="badge <%= fixed_defect_badge defect %>">
        <%= fixed_defect_word defect %>
      </span>
    </h6>
  </td>
  <td>
    <h6>
      <span class="badge <%= fixed_defect_badge defect %>">
        <%= defect_date defect %>
      </span>
    </h6>
  </td>
  <td>
    <%= defect_checklist defect %>
  </td>
  <td>
    <%= work_order_link defect %>
  </td>
  <td>
    <%= link_to "Show", defect_path(defect), class: 'badge badge-danger' %>
  </td>
</tr>
<% end %>
