<%= render 'defects_title_box', title: 'Events with Defects Present' %>

<%= render 'defects_nav_bar', url: by_event_defects_path(params.merge(format: "pdf").permit!) %>

<% @event_results.each do |event| %>
<div class="card bg-dark text-white my-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4> Event <%= link_to event.id, event_path(event.id), class: "badge badge-danger"%></h4> 
    <h4><%= event.class_type%></h4> 
    <h4><%= event.location%></h4> 
    <h4>Date: <%= event.date.strftime('%D')%></h4>
  </div>
  <div class="card-body">
    <table class="table table-borderless table-hover table-sm">
      <thead>
      <tr>
        <th scope="row">ID</th>
        <th scope="row">Created On</th>
        <th scope="row">Vehicle</th>
        <th scope="row">Last Reported</th>
        <th scope="row">Event</th>
        <th scope="row">Category</th>
        <th scope="row">Description</th>
        <th scope="row">Status</th>
        <th scope="row">Date Fixed</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% Defect.where(last_event_reported: event.id).each do |defect|%>
      <tr>
        <th scope='col'>
          <h5>
            <%= link_to "#{defect.id}", defect_path(defect), class: 'badge badge-danger' %>
          </h5>
        </th>
        <th scope="col">
          <h6>
            <span class="badge badge-danger">
              <%= defect.created_at.strftime('%v') %>
            </span>
          </h6>
        </th>
        <td><%= link_to defect.vehicle.car_id, vehicle_path(defect.vehicle.id), class: "badge badge-danger" %></td>
        <td><%= defect.times_reported %></td>
        <td><%= last_event defect %>
        <td><%= category_words defect %></td>
        <td><%= defect.description %></td>
        <td>
          <h6>
            <span class="badge <%= fixed_defect_badge defect %>">
              <%= fixed_defect_word defect %>
            </span>
          </h6>
        </td>
        <td>
          <h6>
            <span class="badge <%= fixed_defect_badge defect %>">
              <%= defect_date defect %>
            </span>
          </h6>
        </td>
        <td>
          <%= defect_checklist defect %>
        </td>
        <td>
          <%= work_order_link defect %>
        </td>
        <td>
          <%= link_to "Show", defect_path(defect), class: 'badge badge-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
<% end %>
<br />
<%= paginate @event_results%>
<br />
<%= render 'event_search_box', q: @q, action: :by_event%>
