<div class="card bg-dark text-white mt-3">
  <div class='card-header d-flex justify-content-between align-items-center'>
    <h4>
      Status:
      <span class='badge <%= fixed_defect_badge @defect %>'>
        <%= fixed_defect_word @defect%>
      </span>
    </h4>
    <h2>Defect #
      <span class='badge <%= fixed_defect_badge @defect %> ml-2'><%= @defect.id %></span>
    </h2>
    <h4>
      Date Fixed:
      <span class='badge <%= fixed_defect_badge @defect %>'>
        <%= defect_date @defect%>
      </span>
    </h4>
  </div>
  <div class='card-body'>
    <div class="row">
      <div class='col-md-6'>
        <%= render 'show_column', title: 'Category', data: (category_words @defect) %>
        <%= render 'show_column', title: 'Description', data: @defect.description %>
        <%= render 'show_column_with_badge', title: 'Times Reported', data: @defect.times_reported %>
      </div>
      <div class='col-md-6'>
        <%= render 'show_column', title: 'Last Event Reported', data: (last_event @defect) %>
        <%= render 'show_column', title: 'Checklist', data: (defect_checklist @defect) %>
        <%= render 'show_column', title: 'Vehicle', data: (link_to "View #{@defect.vehicle.car_id}", vehicle_path(@defect.vehicle.id), class: 'badge badge-light text-dark') %>
      </div>
    </div>
    <%= repairs_row @defect %>
    <div class='row border border-danger rounded p-3 bg-secondary my-3'>
      <div class='col-md-2'>
        <h5>Notes</h5>
      </div>
      <div class='col-md-10'>
        <p>
          <%= @defect.notes %>
        </p>
      </div>
    </div>
    <%= link_to 'Edit', edit_defect_path(@defect), class: 'btn btn-danger'%>
    <%= work_order_link @defect %>
  </div>
  <div class='card-footer'>
    <%= render 'footer_links' %>
  </div>
</div>
