<div class="card bg-dark text-white">
	<div class="card-body">
		
		<p style="font-size: 18px;border: 1px solid white;border-radius: 6px 6px 6px 6px;text-align: center;">
			Only input data into the fields below if an item needs to be notated.
			
			All fields left blank will be filled with <span style="color: white;"> "Checked <i class="fa fa-check-square" aria-hidden="true"></i>"</span>
		</p>
		<%= simple_form_for checklist do |f|%>
		
		<%= f.hidden_field :vehicle_id, value: @vehicle.id %>
		<%= f.hidden_field :event_id, value: @event.id%>
			
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <strong><%=f.label "Date Completed:"%></strong>
          <%=f.date_field :date, class: "form-control", datepicker: true%>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
			
			<div class="form-group">
				<strong>
          Created By: 
          <span class="text-danger">
            <%= current_user.name %>
          </span>
        </strong>
				<%=f.hidden_field :user_id, value: current_user.id%>
			</div>
			
			<div class="form-group">
				<%=f.select :fuel_level, Checklist::FUEL_LEVELS, {include_blank: "Select Vehicle Fuel Level"}, class: "form-control"%>
			</div>
			
			<div class="form-group">
				
				<%=f.input :wash, class: "form-control"%>
			</div>
			
			<div class="form-group">
				
				<%=f.input :suspension, class: "form-control"%>
			</div>
			
			<div class="form-group">
				
				<%=f.input :drive_train, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :body, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :engine, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :brake, label: "Brakes", class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :safety_equipment, label: "Safety Equipment", class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :chassis, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :electrical, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :cooling_system, label: "Cooling System", class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :radio, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :exhaust, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%=f.input :steering, class: "form-control"%>
			</div>
			
			<div class='form-group form-check'>
			<%= f.check_box :deadline, class: "form-check-input" %>
      <%= f.label "Deadline", class: "form-check-label font-weight-bold text-danger" %>
			</div>
			
			<div class="form-group">
				<%=f.input :comments, class: "form-control"%>
			</div>
			
			<div class="form-group">
				<%= f.submit "Complete Checklist", class: "btn btn-danger"%>
			</div>
			
		<% end %>
	</div>
</div>