<div class="jumbotron bg-dark text-white">
  <h3 class="display-3 text-center">Checklist Records</h3>
</div>
<ul class='nav nav-pills nav-fill bg-danger mb-3 rounded'>
    <%= link_to 'Events Dashboard', dashboard_events_path, class: 'nav-item nav-link btn btn-danger'%>
    <%= link_to 'Back', :back, class: 'nav-link nav-item btn btn-danger'%>
</ul>
<div class="card bg-dark text-white">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form class="form-inline">
          <%= search_form_for @q, :url => {:controller => :checklists, :action => :records} do |f|%>
          <div class="form-group mb-3">
            <%= f.label "From", class: "mr-1 text-danger font-weight-bold" %> 
            <%= f.date_field :date_gteq, class: "form-control", datepicker: true  %>
          </div>

          <div class="form-group ">
            <%= f.label "To", class: "mr-4 text-danger font-weight-bold" %>
            <%= f.date_field :date_lteq, class: "form-control", datepicker: true  %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group ml-1">
            <%= f.select :event_type_eq, Event::EVENT_TYPES, {include_blank: "Select Event Type"}, class: "form-control" %>
          </div>

          <div class="form-group ml-1">
            <%= f.select :class_type_eq, Event::CLASS_TYPES, {include_blank: "Select Class Type"}, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">	
          <div class="form-group">
            <%= f.select :location_eq, Event::LOCATION, {include_blank: "Select Location"}, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
	
        <div class="col-md-4 ">
          <div class="form-group d-flex justify-content-center">
            <%= f.submit "Find Events", class: "btn btn-danger"%>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <% end %>
    </form>
  </div>
</div>

<% @events.all.order(date: :desc).each do |event|%>
<div class="card bg-dark text-white my-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4> Event <%= link_to event.id, event_path(event.id), class: "badge badge-danger"%></h4> 
    <h4><%= event.class_type%></h4> 
    <h4><%= event.location%></h4> 
    <h4>Date: <%= event.date.strftime('%D')%></h4>
  </div>
  <div class="card-body">
    <table class="table table-boderless table-hover table-sm mb-4">
      <thead>
        <tr>
          <th scope="col">Vehicle Id</th>
          <th>Status</th>
          <th>Type</th>
          <th>Date Completed</th>
          <th>Deadlined</th>
          <th colspan="1">
          </tr>
        </thead>
        <tbody>
          <% unless event.vehicles.empty? %>
          <% event.vehicles.each do |vehicle|%>
          <tr>
            <td scope="row"><%= vehicle.car_id%></td>
            <td>
              <span class=<%= status_word_color vehicle, event %>>
                <%= status_word vehicle, event %>
                <i class="fa <%= status_symbol vehicle, event %> ml-1" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span class=<%= status_word_color vehicle, event %>>
                <%= type_word vehicle, event %>
                <i class="fa <%= status_symbol vehicle, event %> ml-1" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span class=<%= status_word_color vehicle, event %>>
                <%= status_date_word vehicle, event %>
                <i class="fa <%= status_symbol vehicle, event %> ml-1" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <span class="badge <%= deadline_badge_color vehicle, event %>">
                <i class="fa <%= deadline_symbol vehicle, event %>" aria-hidden="true">
                  <%= deadline_word vehicle, event %>
                </i>
              </span>
            </td>
            <td>
              <%= checklist_link vehicle, event %>
            </td>
          </tr>
          <% end %>

          <% else %>
          <tr>
            <td>
              <span style="color: white">
                <i class="fa fa-car" aria-hidden="true">
                  No Vehicles Added!
                </i> 
              </span>
            </td>
            <td> 
              <span style="color: white">
                <i class="fa fa-car" aria-hidden="true">
                  No Vehicles Added!
                </i> 
              </span>
            </td>
            <td>
              <span style="color: white">
                <i class="fa fa-car" aria-hidden="true">
                  No Vehicles Added!
                </i> 
              </span>
            </td>
            <td> 
              <span style="color: white">
                <i class="fa fa-car" aria-hidden="true">
                  No Vehicles Added!
                </i> 
              </span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <div class="container d-flex justify-content-between align-items-center">
    <%= paginate @events%>
  </div>
