<div class="jumbotron bg-secondary text-white">
  <h3 class="display-4 text-center">
    Showing Checklist for <%= link_to @checklist.vehicle.car_id, vehicle_path(@checklist.vehicle.id), class: "badge badge-danger" %> for Event    
    <span>
      <%= link_to @checklist.event.id, event_path(@checklist.event.id), class: "badge badge-danger" %>
    </span>
  </h3>
  <div class="card bg-dark text-white">
    <div class="card-header d-flex justify-content-between align-items-center">
      <strong>Completed By: <%= @checklist.user.name%> </strong>
      <span>
        Date Completed: 
        <span class="badge badge-danger">
          <%= @checklist.date.strftime('%D')%>
        </span>
      </span>
    </div>
    <div class="card-body">
      <% if @checklist.deadline %>
      <div class="container bg-white text-dark mb-3 p-2 rounded border border-danger">
        <h3 class="text-center">Deadlined</h3>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <%= render "checklist_row", field: "Fuel Level", attribute: @checklist.fuel_level %>
          <%= render "checklist_row", field: "Wash", attribute: @checklist.wash %>
          <%= render "checklist_row", field: "Suspension", attribute: @checklist.suspension %>
          <%= render "checklist_row", field: "Drive Train", attribute: @checklist.drive_train %>
          <%= render "checklist_row", field: "Body", attribute: @checklist.body %>
          <%= render "checklist_row", field: "Engine", attribute: @checklist.engine %>
          <%= render "checklist_row", field: "Brakes", attribute: @checklist.brakes %>
        </div>
        <div class="col-md-6">
          <%= render "checklist_row", field: "Safety Equipment", attribute: @checklist.safety_equipment %>
          <%= render "checklist_row", field: "Chassis", attribute: @checklist.chassis %>
          <%= render "checklist_row", field: "Electrical", attribute: @checklist.electrical %>
          <%= render "checklist_row", field: "Cooling System", attribute: @checklist.cooling_system %>
          <%= render "checklist_row", field: "Radio", attribute: @checklist.radio %>
          <%= render "checklist_row", field: "Exhaust", attribute: @checklist.exhaust %>
          <%= render "checklist_row", field: "Steering", attribute: @checklist.steering %>
        </div>
      </div>
      <div class="container bg-secondary p-2 rounded border text-white">
        <strong>Comments </strong>
        <%= @checklist.comments%>
      </div>
      <br />
      <h4 class='text-center'>
        <%= link_to "Report Another Defect", another_defects_path(vehicle_id: @checklist.vehicle.id), class: "badge badge-danger badge-pill" %>
      </h4>
      <% unless !@checklist.defects.exists? %>
      <div class='container-fluid bg-dark text-dark my-3 p-2 rounded'>
        <div class="container-fluid bg-secondary text-white p-2 rounded border mb-3">
          <h4 class="text-center">Attached Defects</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-borderless table-hover table-sm bg-secondary text-white">
            <thead>
              <tr>
                <th scope="row">ID</th>
                <th scope="row">Created On</th>
                <th scope="row">Times Reported</th>
                <th scope="row">Event</th>
                <th scope="row">Category</th>
                <th scope="row">Description</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @checklist.defects.each do |defect|%>
              <tr>
                <th scope='col'>
                  <h5>
                    <%= link_to "#{defect.id}", defect_path(defect), class: "badge #{fixed_defect_badge defect}" %>
                  </h5>
                </th>
                <td>
                  <h5>
                    <span class="badge badge-danger">
                      <%= defect.created_at.strftime('%v') %>
                    </span>
                  </h5>
                </td>
                <td><%= defect.times_reported %></td>
                <td><%= last_event defect %>
                  <td>
                    <%= category_words defect %>
                  </td>
                  <td><%= defect.description %></td>
                  <td>
                    <%= defect_checklist defect %>
                  </td>
                  <td>
                    <%= link_to "Show", defect_path(defect), class: 'badge badge-danger' %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
        <div class="container d-flex justify-content-between align-items-center mt-4">
          <%= link_to "Back to Event", event_path(@checklist.event.id), class: "btn btn-danger" %>
          <%= link_to "Back to Records", records_checklists_path, class: "btn btn-danger" %>
          <%= link_to "Create a Work Order",
          create_work_order_checklists_path(vehicle_id: @checklist.vehicle.id, checklist_id: @checklist.id),
          class: "btn btn-danger" %>
            <%= link_to "Edit Checklist", edit_checklist_path(@checklist), class: "btn btn-danger" %>
            <%= link_to "Download PDF", checklist_path(format: "pdf"), class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
