<div class="card bg-dark text-white">
  <div class="card-body">
    <%= form_with(model: vehicle, local: true) do |form| %>
    <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being created:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <strong><%= form.label "Car ID" %></strong>
      <%= form.text_field :car_id, id: :vehicle_car_id, class: "form-control" %>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Vehicle Status" %>
          <%= form.select :vehicle_status, Vehicle::STATUSES, {include_blank: "Select Vehicle Status"}, id: :vehicle_vehicle_status, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
  
        <div class="form-group">
          <%= form.label "Vehicle Category" %>
          <%= form.select :veh_category, Vehicle::CATEGORIES, {include_blank: "Select Vehicle Category"}, id: :veh_category, class: "form-control"%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label "Vehicle Location" %>
          <%= form.select :location, Vehicle::LOCATION, {include_blank: "Select Location"}, id: :location, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <strong> <%= form.label :mileage %> </strong>
      <%= form.number_field :mileage, id: :vehicle_mileage, class: "form-control"%>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <strong><%= form.label :manufacturer %></strong>
          <%= form.text_field :manufacturer, id: :vehicle_manufacturer, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <strong> <%= form.label :vin_number %></strong>
          <%= form.text_field :vin_number, id: :vehicle_vin_number, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">

        <div class="form-group">
          <strong><%= form.label :registration_date %></strong>
          <%= form.date_field :registration_date, id: :vehicle_registration_date, class: "form-control", datepicker: true %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <strong><%= form.label :plate_number %></strong>
      <%= form.text_field :plate_number, id: :vehicle_plate_number, class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="form-group">
          <strong class="mb-2"> Last A Service Mileage  </strong>
          <%= form.number_field :last_a_service, id: :vehicle_a_service, class: "form-control"%>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <strong class="mb-2"> Last Shock Service Mileage </strong>
          <%= form.number_field :last_shock_service, id: :vehicle_last_shock_service, class: "form-control"%>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <strong class="mb-2"> Last Air Filter Service Mileage </strong>
          <%= form.number_field :last_air_filter_service, id: :vehicle_last_air_filter_service, class: "form-control"%>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <strong class="mb-2"> Last Tour Car Prep Mileage  </strong>
          <%= form.number_field :last_tour_car_prep_mileage, id: :vehicle_tour_car_prep_mileage, class: "form-control"%>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <div class="form-check">
          <%= form.check_box :high_use, id: :vehicle_high_use, class: "form-check-input" %>
          <strong><%= form.label :high_use, class: "form-check-label" %></strong>
        </div>
      </div>
      <div class="col-md-10">
        <div class="bg-secondary" style="border: 2px solid red; border-radius: 6px 6px 6px 6px; padding: 3px "> *This checkbox can be used to designate a high use vehicle. This allows for an override of the frequency counters used to montior vehicle rotations. If checked, this indicates that the vehicle is a high use vehicle.
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <strong>Add Notes</strong>
      <%= form.text_area :notes, id: :vehicle_notes, class: "form-control"%>
    </div>
   <% if @vehicle.vehicle_status == "Sold" %>
    <div class="form-group">
      <strong>Date Sold</strong>
      <%= form.date_field :sale_date, id: :vehicle_sale_date, class: "form-control", datepicker: true %>
    </div>
    
   
    <div class="form-group">
      <strong>Sold To</strong>
      <%= form.text_field :purchaser, id: :vehicle_purchaser, class: "form-control" %>
    </div>
    <% end %>
    <br \>
    <div class="form-group">
      <%= form.submit "Create Vehicle", class: "btn btn-danger" %>
    </div>
 
    <% end %>
    <hr>
    <div >
      <%= link_to 'Dashboard', vehicles_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
