<div class="card">
<div class="card-body">
<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being created:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   <strong><%= form.label "Car" %></strong>
    <%= form.text_field :car_id, id: :vehicle_car_id, class: "form-control" %>
  </div>

  <div class="form-group">
	  <%= form.select :vehicle_status, Vehicle::STATUSES, {include_blank: "Select Vehicle Status"}, id: :vehicle_vehicle_status, class: "form-control" %>
  </div>
  
<div class="form-group">
	<%= form.select :veh_category, Vehicle::CATEGORIES, {include_blank: "Select Vehicle Category"}, id: :veh_category, class: "form-control"%>
</div>
<div class="form-group">
	<%= form.select :location, Vehicle::LOCATION, {include_blank: "Select Location"}, id: :location, class: "form-control" %>
</div>

  <div class="form-group">
    <strong><%= form.label :manufacturer %></strong>
    <%= form.text_field :manufacturer, id: :vehicle_manufacturer, class: "form-control" %>
  </div>

  <div class="form-group">
   <strong> <%= form.label :vin_number %></strong>
    <%= form.text_field :vin_number, id: :vehicle_vin_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :registration_date %></strong>
    <%= form.date_select :registration_date, id: :vehicle_registration_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :plate_number %></strong>
    <%= form.text_field :plate_number, id: :vehicle_plate_number, class: "form-control" %>
  </div>


  <div class="form-group">
  <strong> <%= form.label :mileage %> </strong>
	<%= form.number_field :mileage, id: :vehicle_mileage, class: "form-control"%>
  </div>
<br \>
  <div class="form-group">
    <%= form.submit "Create Vehicle", class: "btn btn-success" %>
  </div>
  <div class="form-group d-flex justify-content-end">
  <%= link_to 'Back', vehicles_path, class: "btn btn-info" %>
  </div>
<% end %>

</div>
</div>
