<div class="container d-flex justify-content-between align-items-center">
	<%= paginate @vehicle_results%>
	
	<form class="form-inline">
	<%= search_form_for q, :url => {:action => action } do |f|%>
	<div class="form-group">
	<%= f.select :vehicle_category_id_eq, options_from_collection_for_select(VehicleCategory.all, "id", "name", @q.vehicle_category_id_eq), {include_blank: "Select Vehicle Category"}, class: "form-control" %>
</div>

	<div class="form-group ml-3">
	<%= f.select :location_id_eq, options_from_collection_for_select(Location.all, "id", "locale", @q.location_id_eq), {include_blank: "Select Location"}, class: "form-control" %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Vehicles", class: "btn btn-info"%>
</div>
<% end %>
</form>
<br \>


<%= link_to 'Back', vehicles_path, class: "btn btn-info " %>
</div>