<div class="table-responsive">
  <table class="table table-borderless table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Status</th>
        <th scope="col">Car Category</th>
        <th scope="col">Location</th>
        <th scope="col">Work Orders</th>
        <th scope="col">Mileage</th>
        <th scope="col">Near Service - Miles To:</th>
        <th scope="col">Service Needed</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% vehicle.order(car_id: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
        <td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td><%= vehicle.location %></td>
        <td>
          <ul>
            <% vehicle.requests.where(status: "New").limit(3).each do |request| %>
            <li> <%= link_to request.id, request, method: :get, class: "badge badge-danger" %>
              <%= request.status%>
            </li>
            <% end %>
          </ul>
        </td>
        <td><%= vehicle.mileage %></td>
        <td>
          <% if vehicle.near_service %>
          <ul style='list_style_type: none; padding: 0; margin: 0;'>
            <% if vehicle.near_a_service %>
            <li> A-Service: 
              <span class='badge <%= near_service_badge_color vehicle.near_a_service_mileage %>'>
                <%= vehicle.near_a_service_mileage %>
                Miles
              </span>
            </li>
            <% end %>
            <%  if vehicle.near_shock_service %>
            <li>Shock Service:
              <span class='badge <%= near_service_badge_color vehicle.near_shock_service_mileage %>'>
                <%= vehicle.near_shock_service_mileage %> Miles
              </span>
            </li>
            <% end %>
            <% if vehicle.near_air_filter_service %>
            <li>Air Filter Change: 
              <span class='badge <%= near_service_badge_color vehicle.near_air_filter_service_mileage %>'>
                <%= vehicle.near_air_filter_service_mileage %>
                Miles
              </span>
            </li>
            <% end %>
            <% end %>
          </ul>
        </td>
        <td>
         <% if vehicle.a_service %>
         <span class='badge badge-danger'>
           <%= vehicle_services_badges vehicle %>
         </span>
         <% end %>
         <% if vehicle.shock_service %>
         <span class='badge badge-danger'>
           <%= vehicle_services_badges vehicle %>
         </span>
         <% end %>
         <% if vehicle.air_filter_service %>
         <span class='badge badge-danger'>
           <%= vehicle_services_badges vehicle %>
         </span>
         <% end %>
         <% if vehicle.repair_needed %>
         <span class='badge badge-danger'>
           <%= vehicle_services_badges vehicle %>
         </span>
         <% end %>
         <% if vehicle.defect %>
         <span class='badge badge-danger'>
           <%= vehicle_services_badges vehicle %>
         </span>
         <% end %>
        </td>
        <td><%= link_to 'Show', vehicle, class: "btn btn-danger btn-sm" %></td>
        <td><%= link_to 'Create WO', create_work_order_requests_path(id: vehicle.id), class: "btn btn-danger btn-sm"%></td>
        <td><%= link_to 'Destroy Vehicle',vehicle_path(vehicle), method: :delete, data: {confirm: "Are you sure you wish to delete this vehicle?"}, class: "btn btn-danger btn-sm"%></td>
      </tr>
      <% end %> 
    </tbody> 
  </table>
</div>
