<div class="table-responsive">
  <table class="table table-borderless table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Car</th>
        <th scope="col">Status</th>
        <th scope="col">Car Category</th>
        <th scope="col">Location</th>
        <th scope="col">Work Orders</th>
        <th scope="col">Mileage</th>
        <th scope="col">Near Service - Miles To:</th>
        <th scope="col">Service Needed</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% vehicle.order(car_id: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
        <td>
          <span class='badge <%= vehicle_status_badge_color vehicle %>'>
            <%= vehicle.vehicle_status %>
          </span>
        </td>
        <td><%= vehicle.veh_category %></td>
        <td><%= vehicle.location %></td>
        <td>
          <ul>
            <% vehicle.requests.where(status: "New").limit(3).each do |request| %>
            <li> <%= link_to request.id, request, method: :get, class: "badge badge-danger" %>
              <%= request.status%>
            </li>
            <% end %>
          </ul>
        </td>
        <td>
          <span class='badge badge-light text-dark'>
            <%= vehicle.mileage %>
          </span>
        </td>
        <td>
          <ul style='list_style_type: none; padding: 0; margin: 0;'>
            <%= near_a_service_badge vehicle %>
            <%= near_shock_service_badge vehicle %>
            <%= near_air_filter_service_badge vehicle %>
          </ul>
        </td>
        <td>
         <%= a_service_badge vehicle %>
         <%= shock_service_badge vehicle %>
         <%= air_filter_service_badge vehicle %>
         <%= repairs_badge vehicle %>
         <%= defects_badge vehicle %>
        </td>
        <td>
          <%= link_to 'Show', vehicle, class: "btn btn-danger btn-sm" %>
        </td>
        <td>
          <%= link_to 'Create WO', create_work_order_requests_path(id: vehicle.id), class: "btn btn-danger btn-sm"%>
        </td>
        <td>
          <%= link_to 'Destroy Vehicle',vehicle_path(vehicle), method: :delete, data: {confirm: "Are you sure you wish to delete this vehicle?"}, class: "btn btn-danger btn-sm"%>
        </td>
      </tr>
      <% end %> 
    </tbody> 
  </table>
</div>
