<div class="jumbotron bg-secondary text-white">
  <h1 class="display-3 text-center"><%= title %></h1>
</div>
<%= render 'vehicle_nav_bar', url: url, status: status %>
<div class='card bg-dark'>
  <div class="card-body">
    <%= render "vehicle_search_box", q: @q, action: action %>
    <br />
    <%= paginate @search_results, class: 'pagination bg-secondary' %>
    <br />
    <%= render 'vehicle_search_results', vehicle: @search_results %>
  </div>
</div>
