<table class="table table-borderless table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Car</th>
      <th scope="col">Status</th>
      <th scope="col">Car Category</th>
      <th scope="col">Location</th>
      <th scope="col">Mileage</th>
      <th scope="col">Near Service Miles To</th>
      <th scope="col">Service Needed</th>
    </tr>
  </thead>
  <tbody>
    <% vehicles.each do |vehicle| %>
    <tr>
      <th scope="row"><%= vehicle.car_id %></th>
      <td><%= vehicle.vehicle_status %></td>
      <td><%= vehicle.veh_category%></td>
      <td><%= vehicle.location %></td>
      <td>
        <span class="badge badge-dark">
          <%= vehicle.mileage %>
        <span>
      </td>
      <td>
        <ul style='list_style_type: none; padding: 0; margin: 0;'>
          <%= near_a_service_badge vehicle %>
          <%= near_shock_service_badge vehicle %>
          <%= near_air_filter_service_badge vehicle %>
          <%= near_tour_car_prep_badge vehicle %>
        </ul>
      </td>
      <td>
       <%= a_service_badge vehicle %>
       <%= shock_service_badge vehicle %>
       <%= air_filter_service_badge vehicle %>
       <%= repairs_badge vehicle %>
       <%= defects_badge vehicle %>
       <%= tour_car_prep_badge vehicle %>
      </td>
    </tr>
    <% end %> 
  </tbody> 
</table>
