<table class="table">
  <thead>
    <tr>
      <th>Work Order ID</th>
      <th>Work Order Status</th>
      <th>Work Order Type</th>
      <th>Completed Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% work_orders.order(id: :desc).each do |request| %>
    <tr>
      <td> <%= request.id %></td>
      <td>
        <span class='badge <%= show_work_order_status_badge request %>'>
          <%= request.status %>
        </span>
      </td>
      <td>
        <% request.programs.each do |program| %>
        <%= program.name %>
        <br />
        <% end %>
      </td>
      <td>
        <span class='badge badge-danger'>
          <%= request.created_at.strftime('%D') %>
        </span>
      </td>
      <td>
        <%= request.description %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

