<div class="jumbotron text-center">
<h1 class="display-3">All Vehicles</h1>
	
<%= render 'service_needed_form', vehicle: @vehicle_results %>
<br \>
<div class="container d-flex justify-content-between align-items-center">
	
	<form class="form-inline">
	<%= search_form_for @q, :url => {:action => :all_vehicles } do |f|%>
	<div class="form-group">
	<%= f.select :vehicle_category_id_eq, options_from_collection_for_select(VehicleCategory.all, "id", "name", @q.vehicle_category_id_eq), {include_blank: "Select Vehicle Category"}, class: "form-control" %>
</div>

	<div class="form-group ml-3">
	<%= f.select :location_id_eq, options_from_collection_for_select(Location.all, "id", "locale", @q.location_id_eq), {include_blank: "Select Location"}, class: "form-control" %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Vehicles", class: "btn btn-info"%>
</div>
<% end %>
<br \>


<%= link_to 'Back', vehicles_path, class: "btn btn-info " %>
</div>
<br \>
<%= paginate @vehicle_results%>
</div>
	<div class="container">
	<strong>Download:</strong>
	  <%= link_to "CSV", all_vehicles_vehicles_path(format: "csv"), class: "btn btn-info" %> |
	  <%= link_to "Excel", all_vehicles_vehicles_path(format: 'xls'), class: "btn btn-info" %>
  </div>
  <div class="container">
	  <%= form_tag import_vehicles_path, multipart: true do%>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Import CSV"%>
	  <% end %>
  </div>