<div class="jumbotron text-center">
<h1 class="display-3">All Vehicles</h1>
<div class='card'>
	<div class="card-body">
	
<%= render 'service_needed_form', vehicle: @vehicle_results %>
<br \>
<div class="container d-flex justify-content-between align-items-center">
	
	<form class="form-inline">
	<%= search_form_for @q, :url => {:action => :all_vehicles }, :method => :get do |f|%>
	<div class="form-group">
	<%= f.select :vehicle_category_id_eq, options_from_collection_for_select(VehicleCategory.all, "id", "name", @q.vehicle_category_id_eq), {include_blank: "Select Vehicle Category"}, class: "form-control" %>
</div>

	<div class="form-group ml-3">
	<%= f.select :location_id_eq, options_from_collection_for_select(Location.all, "id", "locale", @q.location_id_eq), {include_blank: "Select Location"}, class: "form-control" %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Vehicles", class: "btn btn-info"%>
</div>
<% end %>
</form>
<br \>



<%= link_to 'Back', vehicles_path, class: "btn btn-info " %>
</div>
<br \>
<%= paginate @vehicle_results%>
</div>
</div>
</div>
 