<div class='jumbotron bg-secondary text-white'>
  <h2 class='text-center display-3'>
    Vehicles with Defects Outstanding
  </h2>
  <%= render 'vehicle_nav_bar', url: defects_outstanding_vehicles_path(format: 'pdf'), status: 'disabled' %>
  <% @vehicles.each do |vehicle| %>
    <div class='card my-3 bg-dark text-white'>
      <div class='card-header d-flex justify-content-between align-items-center'>
        <h3>
          Status
          <span class='badge badge-danger'>
            <%= vehicle.vehicle_status %>
          </span>
          </h3>
        <h2>
          <%= link_to vehicle.car_id, vehicle_path(vehicle), class: 'badge badge-danger' %>
        </h2>
        <h3>
          Location:
          <span class='badge badge-danger'>
            <%= vehicle.location %>
          </span>
          </h3>
      </div>
      <div class='card-body'>
        <%= render 'defects_table', defects: vehicle.defects.where(fixed: false) %>
      </div>
    </div>
    <% end %>
</div>
