<p id="notice"><%= notice %></p>
<div class="jumbotron">
<h1 class="display-2 text-center">Vehicles Dashboard</h1>
</div>
<div class="row">
	
	<div class="col-md-3">
		<div class="list-group">
			<a class="list-group-item list-group-item-action" href="../vehicles/new">Create Vehicle</a>
				<a class="list-group-item list-group-item-action" href="../vehicles/all_vehicles">All Vehicles</a>
				<a class="list-group-item list-group-item-action" 					href="../vehicles/in_service">In-Service Vehicles</a>
				<a class="list-group-item list-group-item-action" 					href="../vehicles/out_of_service">Out-Of-Service Vehicles</a>
				<a class="list-group-item list-group-item-action" 					href="../vehicles/needs_service">Needs Service Vehicles</a>
				<a class="list-group-item list-group-item-action" 					href="../vehicles/near_service_required">Near Service Vehicles</a>
			</div>
	</div>
	
	<div class="col-md-6">
			
	</div>
<div class="col-md-3">
	<ul class="list-group">
		<li class="list-group-item d-flex justify-content-between align-items-center">Total Vehicles:	
			<span class="badge badge-dark badge-pill"><%=@vehicles.count%></span></li>
		<li class="list-group-item d-flex justify-content-between align-items-center">Vehicles In-Service:	
			<span class="badge badge-dark badge-pill"><%=@in_service.count%></span></li>
		<li class="list-group-item d-flex justify-content-between align-items-center">Vehicles Out-of-Service:
			<span class="badge badge-dark badge-pill">	<%=@out_of_service.count%></span></li>
		<li class="list-group-item d-flex justify-content-between align-items-center">Vehicles Need Service: 
			<span><%= link_to @vehicles.where(needs_service: true).count, needs_service_vehicles_path, class: "badge badge-dark badge-pill"%></span></li>
			<li class="list-group-item d-flex justify-content-between align-items-center">Vehicles Near Service: 
				<span><%= link_to @vehicles.where(near_service: true).count, near_service_required_vehicles_path, class: "badge badge-dark badge-pill"%></span></li>
	</ul>
</div>
</div>
<div class="row my-3">
	 <% Vehicle::LOCATION.each do |location|%>
	<div class="col-md-4">
	<div class="card">
		<div class="card-header">
			<h5 style="text-align: center;"><%= location %></h5>
		</div>
		<div class="card-body">
			<% if Vehicle.where(location: location, vehicle_status: "In-Service") != [] %>
			<div class="d-flex justify-content-between align-items-center">
			<h5> In-Service  </h5> <span class="badge badge-success"> <%= Vehicle.where(location: location, vehicle_status: "In-Service").count %> </span>
		</div>
			<hr>
			<% Vehicle::CATEGORIES.each do |category|%>
			<% if Vehicle.where(veh_category: category) != []%>
			<strong> <%= category %> </strong>
			<br \>
	      <% Vehicle.where(veh_category: category, location: location, vehicle_status: "In-Service").order(car_id: :asc).each do |vehicle|%>
			<%= link_to vehicle.car_id, vehicle_path(id: vehicle.id), class: "badge badge-success"%>
			
			<% end %>
			<% end %>
			<% end %>
			<% else %>
			No Vehicles at this Location!
			
			<% end %>
			<% if Vehicle.where(location: location, vehicle_status: "Out-of-Service") != [] %>
		<br \>
		<br \>
		<div class="d-flex justify-content-between align-items-center">
			<h5> Out of Service </h5> <span class="badge badge-danger"> <%= Vehicle.where(location: location, vehicle_status: "Out-of-Service").count %> </span>
		</div>
			<hr>
	      <% Vehicle.where(location: location, vehicle_status: "Out-of-Service").order(veh_category: :asc).each do |vehicle|%>
			<%= link_to vehicle.car_id, vehicle_path(id: vehicle.id), class: "badge badge-danger"%>
			
			<% end %>
			<% end %>
		</div>
	</div>
</div>
<% end %>
</div>

			
		


