<div class="jumbotron bg-secondary text-white">
  <h1 class="display-2 text-center">Vehicles Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a href="../vehicles/new" class='list-group-item bg-secondary text-white list-group-item-action'>
        Create a New Vehicle
      </a>
      <%= render 'dashboard_link',
      url: '../vehicles/all_vehicles',
      link_title: 'All Vehicles',
      number: @vehicles.count %>
      <%= render 'dashboard_link',
      url: '../vehicles/sold_vehicles',
      link_title: 'Sold Vehicles',
      number: @vehicles.where(vehicle_status: 'Sold').count %>
      <%= render 'dashboard_link',
      url: '../vehicles/defects_outstanding',
      link_title: 'Vehicles With Defects',
      number: @defects_outstanding.count %>
    </div>
  </div>
  <div class="col-md-6">	
  </div>
  <div class="col-md-3">
     <div class="list-group">
       <%= render 'dashboard_link',
       url: '../vehicles/in_service',
       link_title: 'In-Service Vehicles',
       number: @in_service.count %>
       <%= render 'dashboard_link',
       url: '../vehicles/out_of_service',
       link_title: 'Out of Service Vehicles',
       number: @out_of_service.count %>
       <%= render 'dashboard_link',
       url: '../vehicles/needs_service',
       link_title: 'Needs Service Vehicles',
       number: @vehicles.where(needs_service: true).count %>
       <%= render 'dashboard_link',
       url: '../vehicles/near_service_required',
       link_title: 'Near Service Vehicles',
       number: @vehicles.where(near_service: true).count %>
     </div>
  </div>
</div>
          <div class="row my-3">
            <% Vehicle::LOCATION.each do |location|%>
            <div class="col-md-4 mb-3">
              <div class="card bg-dark text-white">
                <div class="card-header">
                  <h5 style="text-align: center;"><%= location %></h5>
                </div>
                <div class="card-body">
                  <% if Vehicle.where(location: location, vehicle_status: "In-Service") != [] %>
                  <div class="d-flex justify-content-between align-items-center">
                    <h5> In-Service  </h5> <span class="badge badge-success"> <%= Vehicle.where(location: location, vehicle_status: "In-Service").count %> </span>
                  </div>
                  <hr>
                  <% Vehicle::CATEGORIES.each do |category|%>
                  <% if Vehicle.where(veh_category: category, location: location) != []%>
                  <strong> <%= category %> </strong>
                  <br />
                  <% Vehicle.where(veh_category: category, location: location, vehicle_status: "In-Service").order(car_id: :asc).each do |vehicle|%>
                  <%= link_to vehicle.car_id, vehicle_path(id: vehicle.id), class: "badge badge-success"%>
			
                  <% end %>
                  <br />
                  <% end %>
                  <% end %>
                  <% else %>
                  No Vehicles at this Location!
			
                  <% end %>
                  <% if Vehicle.where(location: location, vehicle_status: "Out-of-Service") != [] %>
                  <br />
                  <br />
                  <div class="d-flex justify-content-between align-items-center">
                    <h5> Out of Service </h5> <span class="badge badge-danger"> <%= Vehicle.where(location: location, vehicle_status: "Out-of-Service").count %> </span>
                  </div>
                  <hr>
                  <% Vehicle.where(location: location, vehicle_status: "Out-of-Service").order(veh_category: :asc).each do |vehicle|%>
                  <%= link_to vehicle.car_id, vehicle_path(id: vehicle.id), class: "badge badge-danger"%>
			
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
