<p id="notice"><%= notice %></p>
<div class="jumbotron">
<h1 class="display-4">Vehicles</h1>
</div>
<div class="row">
	<div class="col-md-6">
<div class="card">
	<div class="card-header">
		<h4>Vehicle Options</h4>
	</div>
	<div class="card-body">

<%= link_to 'New Vehicle', new_vehicle_path, class: "btn btn-info " %> <br \>
<%= link_to 'All Vehicles', all_vehicles_vehicles_path, class: "btn btn-info my-2" %> <br \>
<%= link_to 'In-Service Vehicles', in_service_vehicles_path, class: "btn btn-info" %> <br \>
<%= link_to 'Out-Of-Service Vehicles', out_of_service_vehicles_path, class: "btn btn-warning my-2"%>
</div>
</div>

</div>
<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<h4>Service Options</h4>
		</div>
		<div class="card-body">
	These will be services
	</div>
	</div>
</div>





