<div class="jumbotron">
<h1 class="display-3 text-center">Needs Service:</h1>
<div class="card">
	<div class="card-body">
	<%= render 'service_needed_form', vehicle: @vehicle_results %>
	<br \>
	<%= render 'results', q: @q, action: :needs_service %>
	
<br \>
<br \>
	<div class="container d-flex justify-content-between align-items-cetner">
	<%= link_to "Back", vehicles_path, class: "btn btn-info"%>
	<strong>Download:
	  <%= link_to "CSV", needs_service_vehicles_path(params.merge(format: "csv").permit!), class: "btn btn-info btn-sm" %> &nbsp
	  <%= link_to "PDF", needs_service_vehicles_path(params.merge(format: "pdf").permit!), class: "btn btn-warning btn-sm" %>
	  </strong>
  </div>
</div>
</div>
  </div>

