<div class="jumbotron bg-secondary text-white">
  <h2 class="display-3 text-center">
    Vehicle:
    <%= @vehicle.car_id %> 
    <% if @vehicle.vehicle_status == "Sold"%>
    <span class="badge badge-danger badge-lg">
      SOLD
    </span>
    <% end %>
  </h2>
  
  <% if @vehicle.work_orders_overdue %>
    <div class='container-fluid border border-danger rounded bg-dark text-white'>
      <h2 class='display-5 text-center'>
        This vehicle has work orders overdue!
      </h2>
    </div>
  <% end %>

  <div class="card bg-dark text-white mt-3">
    <div class="card-header ">
      <nav>
        <div class="nav nav-tabs card-header-tabs " id="nav-tab" role="tablist">
          <a class="nav-item nav-link text-light active bg-secondary border-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Info</a>
          <a class="nav-item text-light nav-link bg-secondary border-secondary mx-1" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Defects</a>
          <a class="nav-item text-light nav-link bg-secondary border-secondary mr-1" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Maintenance History</a>
          <a class="nav-item text-light nav-link bg-secondary border-secondary" id="nav-multi-tab" data-toggle="tab" href="#nav-multi" role="tab" aria-controls="nav-multi" aria-selected="false">Mult-Vehicle Work Order History</a>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-sm-6">
              <%= vehicle_deadlined @vehicle %>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Vehicle category:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.veh_category%>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Current Mileage:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <span class='badge badge-light text-dark'>
                      <%= @vehicle.mileage %>
                    </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Location:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.location%>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Manufacturer:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.manufacturer %>
                  </p>
                </div>
              </div>
              <% if @vehicle.vehicle_status != "Sold"%>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Status:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.vehicle_status %>
                  </p>
                </div>
              </div>
              <% end %>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Vin number:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.vin_number %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Registration date:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.registration_date %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Plate number:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.plate_number %>
                  </p>
                </div>
              </div>
              <% if @vehicle.vehicle_status == "Sold"%>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Date Sold:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.sale_date%>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <p>
                    <strong>Sold To:</strong>
                  </p>
                </div>
                <div class="col-md-7">
                  <p>
                    <%= @vehicle.purchaser%>
                  </p>
                </div>
              </div>
              <% end %>	
              <% if @vehicle.high_use %>
              <div class="container bg-secondary border border-danger rounded p-4">
                <h4 class="text-white text-center">High Use </h4>
              </div>
              <% end %>
              <br />
              <div class="container-fluid bg-secondary text-white p-4 border border-danger rounded">
                <strong class="text-align: center;">Notes</strong>
                <br />
                <%= @vehicle.notes%>
              </div>
            </div>

            <% if @vehicle.vehicle_status != "Sold"%>
            <div class="col-sm-6">
              <div class="row">
                <div class='col-md-4'>
                  <strong>Service:</strong>
                </div>
                <div class='col-md-4 d-flex justify-content-center'>
                  <strong class='text-center'>Mileage Until:</strong>
                </div>
                <div class='col-md-4 d-flex justify-content-center'>
                  <strong class='text-center'>Date Completed:</strong>
                </div>
              </div>
              <ul class="list-group mt-2">
                <li class="list-group-item bg-secondary text-white">
                  <div class='row'>
                    <div class='col-md-4'>
                      <strong>
                        A-Service:
                      </strong>
                    </div>
                    <div class='col-md-5 d-flex justify-content-center'>
                      <%= show_page_a_service_row @vehicle %>
                    </div>
                    <div class='col-md-3'>
                      <%= last_a_service_badge @vehicle %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item bg-secondary text-white">
                  <div class='row'>
                    <div class='col-md-4'>
                      <strong>
                        Shock Service:
                      </strong>
                    </div>
                    <div class='col-md-5 d-flex justify-content-center'>
                      <%= show_page_shock_service_row @vehicle %>
                    </div>
                    <div class='col-md-3'>
                      <%= last_shock_service_badge @vehicle %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item bg-secondary text-white">
                  <div class='row'>
                    <div class='col-md-4'>
                      <strong>
                        Air Filter Service:
                      </strong>
                    </div>
                    <div class='col-md-5 d-flex justify-content-center'>
                      <%= show_page_air_filter_service_row @vehicle %>
                    </div>
                    <div class='col-md-3'>
                      <%= last_air_filter_service_badge @vehicle %>
                    </div>
                  </div>
                </li>
                <% if @vehicle.veh_category == 'Tour Car'%>
                <li class="list-group-item bg-secondary text-white">
                  <div class='row'>
                    <div class='col-md-4'>
                      <strong>
                        Tour Car Prep:
                      </strong>
                    </div>
                    <div class='col-md-5 d-flex justify-content-center'>
                      <%= show_page_tour_car_prep_row @vehicle %>
                    </div>
                    <div class='col-md-3 float-right'>
                      <%= last_tour_car_prep_badge @vehicle %>
                    </div>
                  </div>
                </li>
                <% end %>
                <li class="list-group-item bg-secondary text-white">
                  <strong>
                    Repairs:
                  </strong>
                  <span class="float-right">
                    <%= show_page_repairs_row @vehicle %>
                  </span>
                </li>
                <li class="list-group-item bg-secondary text-white">
                  <strong>
                    Defects:
                  </strong>
                  <span class='float-right'>
                    <%= show_page_defects_row @vehicle %>
                  </span>
                </li>
              </ul>
              <strong> Last Vehicle Mileage for: </strong>
              <ul class="list-group mt-2">
	
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center"> 
                  <strong>A-Service  </strong>
                  <% if @vehicle.last_a_service %>
                  <span class="badge badge-danger"> 
                    <%= sprintf('%.2f', @vehicle.last_a_service) %>
                  </span> 
                  <% end %>
	
                </li>
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center"> 
                  <strong>Shock Service </strong>
                  <% if @vehicle.last_shock_service %>
                  <span class="badge badge-danger"> 
                    <%=sprintf('%.2f', @vehicle.last_shock_service)%>
                  </span> 
                  <% end %>
                </li>
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center"> 
                  <strong>Air Filter Change Service</strong>
                  <% if @vehicle.last_air_filter_service %>
                  <span class="badge badge-danger"> 
                    <%= sprintf('%.2f', @vehicle.last_air_filter_service) %>
                  </span> 
                  <% end %>
                </li>
                <% if @vehicle.tour_car? %>
                <li class="list-group-item bg-secondary text-white d-flex justify-content-between align-items-center"> 
                  <strong>Tour Car Prep </strong>
                  <% if @vehicle.last_shock_service %>
                  <span class="badge badge-danger"> 
                    <%=sprintf('%.2f', @vehicle.last_tour_car_prep_mileage)%>
                  </span> 
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class='container-fluid bg-secondary text-white rounded mb-2 p-2'>
            <h4 class="text-center">Currently Reported Defects</h4>
            <p class='text-center'>To view a history of defects, please use the button at the bottom labeled 'View All Defects'</p>
          </div>
          <%= render 'defects_table', defects: @defects %>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="container-fluid bg-secondary text-white rounded p-3 mb-2">
            <h3 class="text-center"><%= @vehicle.car_id %> Maintenance History </h3>
          </div>
          <%= render 'show_page_work_order_table', work_orders: @service_work_orders %>
        </div>
        <div class="tab-pane fade" id="nav-multi" role="tabpanel" aria-labelledby="nav-multi-tab">
          <div class="container-fluid bg-secondary text-white rounded mb-2 p-3">
            <h3 class="text-center"><%= @vehicle.car_id %>Multi-Vehicle Work Order Maintenance History </h3>
          </div>
          <%= render 'show_page_work_order_table', work_orders: @multi_vehicle_work_orders %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class='row'>
        <div class='col-md-6 col-lg-3 mt-1'>
          <%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "btn btn-danger mr-1" %>
          <%= link_to 'Back', vehicles_path, class: "btn btn-danger" %>
        </div>
        <div class='col-md-6 col-lg-5 mt-1'> 
          <%= link_to 'Vehicle Mileage Report', vehicle_mileage_vehicles_path(id: @vehicle.id), class: "btn btn-danger"%>
          <%= link_to 'View All Defects', defects_vehicles_path(id: @vehicle.id), class: 'btn btn-danger' %>
          <%= link_to 'Report a Defect', report_defects_path(vehicle_id: @vehicle.id), class: 'btn btn-danger'%>
        </div>
        <div class='col-md-6 col-lg-4 d-flex justify-content-end mt-1'>
          <%= link_to "Maintenance Report", download_work_orders_vehicles_path(format: "pdf", vehicle_id: @vehicle.id), class: 'btn btn-danger mx-1' %>
          <%= link_to "Defects Report", vehicle_path(@vehicle, params.merge(format: "pdf").permit!), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
