<style>

.rowtitle {
  font-size: 30px;
}

</style>
<%= render 'pdf_title', title: "Vehicle: #{@vehicle.car_id}" %>
<div class='rowtitle'>
  <%= render 'vehicle_title_box', data: 'Vehicle Info'%>
  <%= render 'pdf_show_column', title: 'Vehicle category:', data: @vehicle.veh_category %>
  <%= render 'pdf_show_column', title: 'Location:', data: @vehicle.location %>
  <%= render 'pdf_show_column', title: 'Manufacturer:', data: @vehicle.manufacturer %>
  <%= render 'pdf_show_column', title: 'Status:', data: @vehicle.vehicle_status %>
  <%= render 'pdf_show_column', title: 'VIN Number:', data: @vehicle.vin_number %>
  <%= render 'pdf_show_column', title: 'Registration Date:', data: @vehicle.registration_date %>
  <%= render 'pdf_show_column', title: 'Plate Number:', data: @vehicle.plate_number %>
  <%= render 'pdf_show_column', title: 'Current Mileage', data: @vehicle.mileage %>
</div>
<div class='page-break rowtitle'>
  <%= render 'vehicle_title_box', data: 'Miles Until Next Service' %>
<% if @vehicle.a_service == nil %>
  No Data
<% elsif @vehicle.shock_service %>
  <%= render 'pdf_show_column', title: 'A-Service:', data: @vehicle.near_a_service_mileage %>
<% else %>
  <%= render 'pdf_show_column', title: 'A-Service:', data: @vehicle.near_a_service_mileage %>
<% end %>

<% if @vehicle.shock_service == nil %>
  No Data
<% elsif @vehicle.shock_service %>
  <%= render 'pdf_show_column', title: 'Shock Service:', data: @vehicle.near_shock_service_mileage %>
<% else %>
  <%= render 'pdf_show_column', title: 'Shock Service:', data: @vehicle.near_shock_service_mileage %>
<% end %>

<% if @vehicle.air_filter_service == nil %>
  No Data
<% elsif @vehicle.air_filter_service %>
  <%= render 'pdf_show_column', title: 'Air Filter Service:', data: @vehicle.near_air_filter_service_mileage %>
<% else %>
  <%= render 'pdf_show_column', title: 'Air Filter Service:', data: @vehicle.near_air_filter_service_mileage %>
<% end %>

<% if @vehicle.tour_car? %>
  <% if @vehicle.tour_car_prep == nil %>
    No Data
  <% elsif @vehicle.tour_car_prep %>
    <%= render 'pdf_show_column', title: 'Tour Car Service:', data: @vehicle.near_tour_car_prep_mileage %>
  <% else %>
    <%= render 'pdf_show_column', title: 'Tour Car Service:', data: @vehicle.near_tour_car_prep_mileage %>
  <% end %>
<% end %>
</div>

<% if @vehicle.defect %>
<div class='page-break'>
  <%= render 'vehicle_title_box', data: 'Current Vehicle Defects' %>
  <%= render 'defects_table', defects: @defects %>
</div>
<% end %>
