<div>
  <h3>Car:
  <%= @vehicle.car_id %></h3>
</div>
<div>
	<div class="row">
		<div class="col-sm-6">
<p>
  <strong>Car category:</strong>
  <%= @vehicle.vehicle_category.name%>
</p>

<p>
	<strong>Location:</strong>
	<%= @vehicle.location.locale%>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.vehicle_status %>
</p>

<p>
  <strong>Vin number:</strong>
  <%= @vehicle.vin_number %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @vehicle.registration_date %>
</p>

<p>
  <strong>Plate number:</strong>
  <%= @vehicle.plate_number %>
</p>

<p>
  <strong>Work Orders: </strong>
  <% @vehicle.requests.order(created_at: :asc).limit(5).each do |request| %>
  		  	<span style="color: blue;">	<%=request.id%></span>
				(<%= request.tracker.track%>)
  				<% end %>
</p>
<p>
  <strong>Current Mileage:</strong>
  <%= @vehicle.mileage %>
</p>
</div>
<div class="col-sm-6">
	<strong>Mileage Until:</strong>
	<ul style="list-style-type: none;">
		
	<li class="list-group-item"><strong>A-Service:</strong>
	
	<% if @vehicle.a_service == nil %>
	No Data
	<% elsif @vehicle.a_service == true%>
			<strong style="text-color: red;">NEEDS SERVICE</strong>
			<% else %>
	<%= @a_service %>
	<% end%></li>
	<li class="list-group-item"><strong>Shock Service:</strong>
		<% if @vehicle.shock_service == nil %>
		No Data
		<% elsif @vehicle.shock_service == true %>
		<strong style="text-color:red;">NEEDS SERVICE</strong>
		<% else %>
	<%= @shock_service %>
		<% end %>
</li>
	<li class="list-group-item"><strong>Air Filter Service:</strong>
		<% if @vehicle.air_filter_service == nil %>
		No Data
		<% elsif @vehicle.air_filter_service == true%>
		<strong style="text-color: red;">NEEDS SERVICE</strong>
		<% else %>
	<%= @air_filter_service %></li>
	<% end %>
	
	<li class="list-group-item"><strong>Repairs:</strong>
		<% if @vehicle.repair_needed == nil %>
		No Data
		<% elsif @vehicle.repair_needed == true%>
		Repairs-In-Progress
		<% else %>
		No Repairs Needed
	</li>
	<% end %>
	<li class="list-group-item"><strong>Defects:</strong>
		<% if @vehicle.defect == nil %>
		No Data
		<% elsif @vehicle.defect == true %>
		Defect Reported <%  @vehicle.requests.where(program_id: @set_defects.id, tracker_id: @set_new.id).each do |request|%>
		<br class="d-flex justify-content-end">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Description:</strong> <%= request.description %>
		<% end %>
		<% else %>
		No Defects Reported
		<% end %>
	</li>
		
</ul>
</p>
</div>
</div>