<div class="card">

<div class="card-header">
<p id="notice"><%= notice %></p>
  <h3>Car:
  <%= @vehicle.car_id %></h3>
</div>
<div class="card-body">
<p>
  <strong>Car category:</strong>
  <%= @vehicle.vehicle_category.name %>
</p>

<p>
	<strong>Location:</strong>
	<%= @vehicle.location.locale%>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.vehicle_status %>
</p>

<p>
  <strong>Vin number:</strong>
  <%= @vehicle.vin_number %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @vehicle.registration_date %>
</p>

<p>
  <strong>Plate number:</strong>
  <%= @vehicle.plate_number %>
</p>

<p>
  <strong>Work Orders: </strong>
  <% @vehicle.requests.each do |request| %>
  		  		<%= link_to request.number, request, method: :get %>
				(<%= request.tracker.track%>)
  				<% end %>
</p>

<p>
	<strong>Mileage To:</strong>
	<ul class="list-group">
	<li class="list-group-item"><strong>A-Service:</strong>
	<%= @a_service %></li>
	<li class="list-group-item"><strong>Shock Service:</strong>
	<%= @shock_service %></li>
	<li class="list-group-item"><strong>Air Filter Service:</strong>
	<%= @air_filter_service %></li>
</ul>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
</div>
