<div class="card mt-3">

<div class="card-header">

  <h2 class="text-center">Vehicle:
  <%= @vehicle.car_id %> 
  <% if @vehicle.vehicle_status == "Sold"%>
  <span class="badge badge-warning badge-lg">
	  SOLD
  </span>
 <% end %>
  </h2>
</div>
<div class="card-body">
	<div class="row">
		<div class="col-sm-6">
<p>
  <strong>Vehicle category:</strong>
  <%= @vehicle.veh_category%>
</p>

<p>
	<strong>Location:</strong>
	<%= @vehicle.location%>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>
<% if @vehicle.vehicle_status != "Sold"%>
<p>
  <strong>Status:</strong>
  <%= @vehicle.vehicle_status %>
</p>
<% end %>
<p>
  <strong>Vin number:</strong>
  <%= @vehicle.vin_number %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @vehicle.registration_date %>
</p>



<p>
  <strong>Plate number:</strong>
  <%= @vehicle.plate_number %>
</p>

<p>
  <strong>Work Orders: </strong>
  <% @vehicle.requests.order(created_at: :asc).limit(3).each do |request| %>
  		  		<%= link_to request.id, request, method: :get, class: "badge badge-dark" %>
				(<%= request.status%>)
  				<% end %>
</p>
<p>
  <strong>Current Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<% if @vehicle.vehicle_status == "Sold"%>
<p>
<strong>Date Sold:</strong>
<%= @vehicle.sale_date%>

</p>
<p>

<strong>Sold To:</strong>
<%= @vehicle.purchaser%>

</p>
<% end %>

<p>
  
  <% if @vehicle.high_use == true %>
  <h4 style="color: green;">High Use </h4>
  <% else %>
  
  <% end %>
</p>


</div>

<% if @vehicle.vehicle_status != "Sold"%>
<div class="col-sm-6">
	<div class="container d-flex justify-content-between align-items-center">
		<strong style="text-color:red;">Mileage Until:</strong>
		<strong style="text-color:red;">Date Completed:</strong>
	</div>
	<ul class="list-group mt-2">
		
	<li class="list-group-item d-flex justify-content-between align-items-center"><strong>A-Service:</strong>
	
	<% if @vehicle.a_service == nil %>
	No Data
	<% elsif @vehicle.a_service == true%>
			<strong style="color: red;">NEEDS SERVICE</strong>
			<% else %>
	<span class="badge badge-success"><%= sprintf('%.2f', @a_service) %></span>
	
	<% if @vehicle.requests.where(program_id: @set_a_service.id) != []%>
	<% if  @vehicle.requests.where(program_id: @set_a_service.id).last.completed_date != nil%>
	<span class="badge badge-primary"> <%= @vehicle.requests.where(program_id: @set_a_service.id).last.completed_date.strftime('%D')%></span>
	<% end %>
	<% end %>
	<% end%></li>
	<li class="list-group-item d-flex justify-content-between align-items-center"><strong>Shock Service:</strong>
		<% if @vehicle.shock_service == nil %>
		No Data
		<% elsif @vehicle.shock_service == true %>
		<strong style="color:red;">NEEDS SERVICE</strong>
		<% else %>
	<span class="badge badge-success"><%= sprintf('%.2f', @shock_service)  %> </span>
	<% if @vehicle.requests.where(program_id: @set_shock_service.id) != []%>
	<% if @vehicle.requests.where(program_id: @set_shock_service.id).last.completed_date != nil %>
	<span class="badge badge-primary"> <%= @vehicle.requests.where(program_id: @set_shock_service.id).last.completed_date.strftime('%D')%></span>
	<% end %>
	<% end %>
		<% end %>
</li>
	<li class="list-group-item d-flex justify-content-between align-items-center"><strong>Air Filter Service:</strong>
		<% if @vehicle.air_filter_service == nil %>
		No Data
		<% elsif @vehicle.air_filter_service == true%>
		<strong style="color: red;">NEEDS SERVICE</strong>
		<% else %>
	<span class="badge badge-success"><%= sprintf('%.2f', @air_filter_service)  %></span>
	<% if @vehicle.requests.where(program_id: @set_air_filter_service.id) != []%>
	<% if @vehicle.requests.where(program_id: @set_air_filter_service.id).last.completed_date != nil %>
	<span class="badge badge-primary"> <%= @vehicle.requests.where(program_id: @set_air_filter_service.id).last.completed_date.strftime('%D')%></span>
	<% end %>
	<% end %>
</li>
	<% end %>
	
	<li class="list-group-item"><strong>Repairs:</strong>
		<% if @vehicle.repair_needed == nil %>
		No Data
		<% elsif @vehicle.repair_needed == true%>
		<span style="color: red;"><i class="fa fa-wrench" aria-hidden="true"> &nbsp Repairs-In-Progress</i></span>
		<% else %>
		No Repairs Needed
		<% end %>
	</li>
	
	<li class="list-group-item"><strong>Repairs:</strong>
		<% if @vehicle.prep == nil %>
		No Data
		<% elsif @vehicle.prep == true%>
		<span style="color: red;"><i class="fa fa-wrench" aria-hidden="true"> &nbsp Preparation-Progress</i></span>
		<% else %>
		No Repairs Needed
		<% end %>
	</li>
	
	<li class="list-group-item"><strong>Defects:</strong>
		<% if @vehicle.defect == nil %>
		No Data
		<% elsif @vehicle.defect == true %>
		Defect Reported <%  @vehicle.requests.where(program_id: @set_defects.id, tracker_id: @set_new.id).each do |request|%>
		<br class="d-flex justify-content-end">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Description:</strong> <%= request.description %>
		<% end %>
		<% else %>
		No Defects Reported
		<% end %>
	</li>
		
</ul>
</p>
<strong> Last Vehicle Mileage for: </strong>
<ul class="list-group mt-2">
	
	<li class="list-group-item d-flex justify-content-between align-items-center"> 
		<strong>A-Service  </strong>
		<% if @vehicle.last_a_service != nil%>
		<span class="badge badge-success"> 
		<%= sprintf('%.2f', @vehicle.last_a_service) %>
		</span> 
		<% end %>
	
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center"> 
		<strong>Shock Service </strong>
		<% if @vehicle.last_shock_service != nil %>
		<span class="badge badge-success"> 
		<%=sprintf('%.2f', @vehicle.last_shock_service)%>
		</span> 
	<% end %>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center"> 
		<strong>Air Filter Change Service</strong>
		<% if @vehicle.last_air_filter_service != nil%>
		<span class="badge badge-success"> 
		<%= sprintf('%.2f', @vehicle.last_air_filter_service) %>
		</span> 
	<% end %>
	</li>
</ul>
</div>
</div>
<% end %>
<% if @vehicle.notes != nil%>

<div class="col-md-6">
<br \>
<div style="border: solid black 2px;border-radius: 6px 6px 6px 6px;padding: 20px 20px 20px 20px">
	<strong class="text-align: center;">Notes</strong>
	<br \>
	<%= @vehicle.notes%>
</div>
</div>
</div>
<% end %>


</div>
<div class="card-footer d-flex justify-content-between align-items-center">

<span>
<%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "btn btn-info" %> &nbsp
<%= link_to 'Back', vehicles_path, class: "btn btn-warning" %></span>
 	<strong>Download:
 	  <%= link_to "CSV", vehicle_path(@vehicle, params.merge(format: "csv").permit!), class: "btn btn-info" %> &nbsp
 	  <%= link_to "PDF", vehicle_path(@vehicle, params.merge(format: "pdf").permit!), class: "btn btn-info" %> </strong>

</div>
</div>

<div class="card mt-4">
	<div class="card-header">
		<h3 class="text-center"><%= @vehicle.car_id %> Maintenance History </h3>
	</div>
	<div class="card-body">
	<% if @vehicle.requests != []%>
	<ul class="list-group">
		<li class="list-group-item">
	<div class="row">
		<div class="col-md-3">
			<strong> ID </strong>
		</div>
		<div class="col-md-3">
			<strong> Status </strong>
		</div>
		<div class="col-md-3">
			<strong> Description </strong>
		</div>
		<div class="col-md-3">
			<strong> Completed Date </strong>
		</div>
	</div>
</li>
	
	<% @vehicle.requests.each do |work_order|%>
	<li class="list-group-item">
		<div class="row">
		<div class="col-md-3"> <%= link_to work_order.id, request_path(work_order), class: "badge badge-primary"%> </div>
		<div class="col-md-3"><%= work_order.status %> </div>
		<div class="col-md-3"><%= work_order.description%> </div>
		<div class="col-md-3" style="color: green "> <%= work_order.completed_date%></div>
	</div>
	</li>
	
	<% end %>
</ul>
	<% end %>
	
	</div>
</div>
