<div class="card mt-3">

<div class="card-header">
<p id="notice"><%= notice %></p>
  <h3>Car:
  <%= @vehicle.car_id %></h3>
</div>
<div class="card-body">
<p>
  <strong>Car category:</strong>
  <%= @vehicle.vehicle_category.name%>
</p>

<p>
	<strong>Location:</strong>
	<%= @vehicle.location.locale%>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.vehicle_status %>
</p>

<p>
  <strong>Vin number:</strong>
  <%= @vehicle.vin_number %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @vehicle.registration_date %>
</p>

<p>
  <strong>Plate number:</strong>
  <%= @vehicle.plate_number %>
</p>

<p>
  <strong>Work Orders: </strong>
  <% @vehicle.requests.order(created_at: :asc).limit(5).each do |request| %>
  		  		<%= link_to request.number, request, method: :get, class: "badge badge-dark" %>
				(<%= request.tracker.track%>)
  				<% end %>
</p>

<p>
	<strong>Mileage To:</strong>
	<ul class="list-group bg-dark">
	<li class="list-group-item"><strong>A-Service:</strong>
	
	<% if @vehicle.a_service == nil %>
	No Data
	<% elsif @vehicle.a_service == true%>
			<strong style="text-color: red;">NEEDS SERVICE</strong>
			<% else %>
	<%= @a_service %>
	<% end%></li>
	<li class="list-group-item"><strong>Shock Service:</strong>
		<% if @vehicle.shock_service == nil %>
		No Data
		<% elsif @vehicle.shock_service == true %>
		<strong style="text-color: red;">NEEDS SERVICE</strong>
		<% else %>
	<%= @shock_service %>
		<% end %>
</li>
	<li class="list-group-item"><strong>Air Filter Service:</strong>
		<% if @vehicle.air_filter_service == nil %>
		No Data
		<% elsif @vehicle.air_filter_service == true%>
		<strong style="text-color: red;">NEEDS SERVICE</strong>
		<% else %>
	<%= @air_filter_service %></li>
	<% end %>
	
	<li class="list-group-item"><strong>Repairs:</strong>
		<% if @vehicle.repair_needed == nil %>
		No Data
		<% elsif @vehicle.repair_needed == true%>
		Repairs-In-Progress
		<% else %>
		No Repairs Needed
	</li>
	<% end %>
		
</ul>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>



<%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "btn btn-info" %> |
<%= link_to 'Back', vehicles_path, class: "btn btn-warning" %>
</div>
