<div class="jumbotron text-center">
<h1 class="display-3">All Sold Vehicles</h1>
<div class='card'>
	<div class="card-body">
	
<table class="table table-bordered table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">Car</th>
		<th scope="col">Status</th>
      <th scope="col">Car Category</th>
      <th scope="col">Location</th>
      <th scope="col">Mileage</th>
	  <th scope="col">Sold To</th>
	  <th scope="col">Date Sold</th>
	  <th scope="col">Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_results.order(car_id: :asc).each do |vehicle| %>
      <tr>
        <th scope="row"><%= vehicle.car_id %></th>
		  <td><%= vehicle.vehicle_status %></td>
        <td><%= vehicle.veh_category %></td>
        <td><%= vehicle.location %></td>
        <td><%= vehicle.mileage %></td>
		<% if vehicle.purchaser != nil%>
		<td><%= vehicle.purchaser%></td>
		<% end %>
		<% if vehicle.sale_date!= nil%>
		<td><%= vehicle.sale_date%></td>
		<% end %>
		<% if vehicle.notes != nil%>
		<td><%= vehicle.notes%></td>
		<% end %>
		<td><%= link_to "Show", vehicle_path(id: vehicle.id), class: "btn btn-warning"%>
	</tr>
    <% end %> 
  </tbody> 
</table>
<br \>
<div class="container d-flex justify-content-between align-items-center">
	
	<form class="form-inline">
	<%= search_form_for @q, :url => {:action => :all_vehicles }, :method => :get do |f|%>
	<div class="form-group">
	<%= f.select :veh_category_eq, Vehicle::CATEGORIES, {include_blank: "Select Vehicle Category"}, class: "form-control" %>
</div>

	<div class="form-group ml-3">
	<%= f.select :location_eq, Vehicle::LOCATION, {include_blank: "Select Location"}, class: "form-control" %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Vehicles", class: "btn btn-info"%>
</div>
<% end %>
</form>
<br \>



<%= link_to 'Back', vehicles_path, class: "btn btn-info " %>
</div>
<br \>
<%= paginate @vehicle_results%>
</div>
</div>
</div>