<div class="jumbotron bg-secondary text-white">
  <div class="card bg-dark text-white">
    <div class="card-header">
      <span class="d-flex justify-content-between align-items-center">
        <span>
          Location: <span class="badge badge-danger ml-2"> <%=@vehicle.location %> </span>
          </span>
          <h2>
            <%= @vehicle.car_id%>
          </h2> 
          <span>
            Current Vehicle Mileage:<span class="badge badge-danger ml-2"> <%=@vehicle.mileage%> </span>
          </span>
        </span>
      </div>
      <div class="card-body">
        <div class="bg-secondary" style="border: solid red 2px; border-radius: 6px; padding: 10px;">
          <div class="row">
            <div class="col">
              <span>
                Year-To-Date Mileage: <span class="badge badge-danger"> <%= @ytd_mileage %> </span>
              </span>
            </div>
            <div class="col">
            </div>
            <div class="col">
              <span>
                Month-To-Date Mileage: <span class="badge badge-danger"> <%= @mtd_mileage %> </span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>
                Times Used this Year: <span class="badge badge-danger"> <%= @times_used%> </span>
              </span>
            </div>
            <div class="col">
            </div>
            <div class="col">
              <span>
                Times Used this Month: <span class="badge badge-danger"> <%= @times_used_month%> </span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>
                <% if @last_a_service %>
                Date of Last A-Service: 
                <br \>
                <strong>
                  <%= link_to "#{@last_a_service.completed_date.strftime('%D')}", request_path(@last_a_service), class: "badge badge-lg badge-danger"%> 
                </strong>
                <% else%>
                Date of Last A-Service: 
                <br \>
                No Data
                <% end %>
              </span>
            </div>
            <div class="col">
              <span>
                <% if @last_shock_service %>
                Date of Last Shock Service:
                <br \> 
                <strong>
                  <%= link_to "#{@last_shock_service.completed_date.strftime('%D')}", request_path(@last_shock_service), class: "badge badge-lg badge-danger"%>
                </strong>
                <% else%>
                Date of Last Shock Service: 
                <br \>
                No Data
                <% end %>
              </span>
            </div>
            <div class="col">
              <span>
                <% if @last_air_filter_service %>
                Date of Last Air Filter Service: 
                <br \>
                <strong>
                  <%= link_to "#{@last_air_filter_service.completed_date.strftime('%D')}", request_path(@last_air_filter_service), class: "badge badge-lg badge-danger"%>
                </strong>
                <% else%>
                Date of Last Air Filter Service: 
                <br \>
                No Data
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <br />
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead class="thead-light">
              <tr>
                <th scope="col"> Event ID </th>
                <th scope="col"> Event Mileage </th>
                <th scope="col"> Event Date </th>
                <th colspan="2"> </th>
              </tr>
            </thead>
            <tbody>
              <% @events.order(date: :desc).each do |event|%>
              <tr>
                <th scope="row"> <%= event.id%> </th>
                <td> <%= event.event_mileage%> </td>
                <td> <%= event.date%> </td>
                <td> 
                  <% if @vehicle.checklists.exists?(:event_id => event.id) %>
                  <%= link_to "Event Checklist", checklist_path(@checklists.find_by(event_id: event.id)), class: "btn btn-danger" %>
                  <% else %>
                  No Checklist Completed
                  <% end %>
                </td>
                <td>
                  <%= link_to "Show Event #{event.id}", event_path(event), class: "btn btn-danger" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @events%>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <%= link_to "Back To Vehicle", vehicle_path(@vehicle), class: "btn btn-danger"%>
          <%= link_to "Vehicle Dashboard", vehicles_path, class: "btn btn-danger"%>
          <%= link_to "Event Dashboard", dashboard_events_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
