<div class="jumbotron bg-secondary text-white">
  <div class="card bg-dark text-white">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4>
        Location: <span class="badge badge-danger ml-2"> <%=@vehicle.location %> </span>
      </h4>
      <h1>
        <%= @vehicle.car_id%>
      </h1> 
      <h4>
        Current Vehicle Mileage:<span class="badge badge-danger ml-2"> <%=@vehicle.mileage%> </span>
      </h4>
    </div>
    <div class="card-body">
      <div class="bg-secondary p-2 border border-danger rounded">
        <div class="row">
          <div class="col">
            <%= render 'number_row_vehicle_mileage', title: 'Year-To-Date Mileage', data: @ytd_mileage %>
          </div>
          <div class="col">
          </div>
          <div class="col">
            <%= render 'number_row_vehicle_mileage', title: 'Month-To-Date Mileage', data: @mtd_mileage %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= render 'number_row_vehicle_mileage', title: 'Times Used This Year', data: @times_used %>
          </div>
          <div class="col">
          </div>
          <div class="col">
            <%= render 'number_row_vehicle_mileage', title: 'Times Used This Month', data: @times_used_month %>
          </div>
        </div>
        <hr>
        <div class="row">
          <%= render 'last_wo_vehicle_mileage',
          service: 'Last A-Service',
          date: (last_a_service_badge @vehicle) %>
          <%= render 'last_wo_vehicle_mileage',
          service: 'Last Shock Service',
          date: (last_shock_service_badge @vehicle) %>
          <%= render 'last_wo_vehicle_mileage',
          service: 'Last Air Filter Service',
          date: (last_air_filter_service_badge @vehicle) %>
          <% if @vehicle.tour_car? %>
          <%= render 'last_wo_vehicle_mileage',
          service: 'Last Tour Car Prep',
          date: (last_tour_car_prep_badge @vehicle) %>
          <% end %>
        </div>
      </div>
      <br />
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col"> Event ID </th>
              <th scope="col"> Event Mileage </th>
              <th scope="col"> Event Date </th>
              <th colspan="2"> </th>
            </tr>
          </thead>
          <tbody>
            <% @events.order(date: :desc).each do |event|%>
            <tr>
              <th scope="row"> <%= event.id%> </th>
              <td>
                <span class='badge badge-light text-dark'>
                  <%= event.event_mileage %>
                </span>
              </td>
              <td>
                <span class='badge badge-danger'>
                  <%= event.date %>
                </span>
              </td>
              <td> 
                <%= check_for_checklists event, @vehicle %>
              </td>
              <td>
                <%= link_to "Show Event #{event.id}", event_path(event), class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @events%>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <%= link_to "Back To Vehicle", vehicle_path(@vehicle), class: "btn btn-danger" %>
        <%= link_to "Vehicle Dashboard", vehicles_path, class: "btn btn-danger" %>
        <%= link_to "Event Dashboard", dashboard_events_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
