<div class="card">
	<div class="card-body">
	
<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <strong> <%= f.input :title %> </strong>
   <strong>  <%= f.input :description %> </strong>
    <%= f.hidden_field :user_id, value: current_user.id %>
	 </div>
	 <div class="form-group">
		<strong> <%= f.label "Status:"%></strong>
	 <%= f.select :status, Report::STATUSES, {include_blank: "Select Report Status "}, class: "form-control"%>
 </div>
 
	 <div class="form-group">
		<strong> <%= f.label "Type:"%></strong>
	 <%= f.select :report_type, Report::TYPES, {include_blank: "Select Report Type "}, class: "form-control"%>
 </div>
	 
	<div class="form-check">
	 <strong><%= f.label "Add Report Recipents"%></strong>
	 <br \>
	 <div class="form-check">
	 <%= f.collection_check_boxes :user_ids, User.all, "id", "name", class: "form-check-input form-control m-1"%>
 </div>
  

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>