<div class="container bg-dark d-flex justify-content-between align-items-center p-4 rounded">
	<%= paginate @report_results%>

  <form class="form-inline">
    <%= search_form_for q, :url => {:action => action } do |f|%>

    <div class="form-group ml-3">
      <%= f.select :status_eq, Report::STATUSES, {include_blank: "Select Report Status"}, class: "form-control"  %>
    </div>

    <div class="form-group ml-3">
      <%= f.submit "Find Reports", class: "btn btn-danger" %>
    </div>
    <% end %>
    <br \>
    <%= link_to 'Back', :back, class: "btn btn-danger" %>
  </div>
</div>