<div class="card">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Number</th>
		<th scope="col">Recipents</th>
		<th scope="col">Status</th>
      <th scope="col">Recipents</th>
      <th scope="col">Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% report.order(created_at: :asc).each do |report| %>
      <tr>
        <th scope="row"><%= report.id %></th>
		  <td><%= report.report_type %></td>
		  <td><%= report.status %></td>
        <td><% report.users.limit(3).each do |user| %>
			  <%= user.name %><br \>
			  <% end %></td>
        <td><%= report.created_at.strftime('%D') %></td>

      <td><%= link_to 'Show', report, class: "btn btn-primary btn-sm" %>
	 <%= link_to 'Edit', edit_report_path(report), class: "btn btn-sm btn-info" %>
		<%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
     </td>
      </tr>
    <% end %> 
  </tbody> 
</table>
</div>




