<div class="card bg-dark text-white mb-4">
  <div class='card-header'>
    <h3 class='text-center'>
      <%= table_title %>
    </h3>
  </div>
  <div class="card-body">
    <div class='table-responsive'>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Status</th>
            <th scope="col">Mileage</th>
            <th scope="col">Location</th>
            <th scope="col">Open Work Orders</th>
            <th scope="col">Near Service - Miles Until:</th>
            <th scope="col">Services Required</th>
          </tr>
        </thead>
        <tbody>
          <% vehicles.each do |vehicle| %>
          <tr>
            <th scope="row"><%= vehicle.car_id %></th>
            <td><%= vehicle.vehicle_status %></td>
            <td>
              <span class='badge badge-light text-dark'>
                <%= vehicle.mileage %>
              </span>
            </td>
            <td><%= vehicle.location %></td>
            <td><% vehicle.requests.where(status: 'In-Progress').limit(3).each do |request| %>
              <%= link_to request.id, request, method: :get, class: "badge badge-danger" %>
              <%= request.status%>
              <br />
              <% end %>
            </td>
            <td>
              <ul style='list_style_type: none; padding: 0; margin: 0;'>
                <%= near_a_service_badge vehicle %>
                <%= near_shock_service_badge vehicle %>
                <%= near_air_filter_service_badge vehicle %>
              </ul>
            </td>
            <td>
              <%= a_service_badge vehicle %>
              <%= shock_service_badge vehicle %>
              <%= air_filter_service_badge vehicle %>
              <%= repairs_badge vehicle %>
              <%= defects_badge vehicle %>
            </td>
            <td>
              <%= link_to 'Show', vehicle, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
