<h3 class='text-center'><%= title %></h3>
<br />
<table class="table table-borderless table-striped">
  <thead>
    <tr>
      <th>Work Order Number</th>
      <th>Work Order Status</th>
      <th>Work Order Type</th>
      <th>Vehicle</th>
      <th>Work Order Created At</th>
      <th>Estimated Completion Date</th>
      <th>Completed Date</th>
    </tr>
  </thead>
  <tbody>
    <% work_orders.order(id: :desc).each do |request|%>
    <tr>
      <td><%= link_to request.id, request_path(request), class: "badge badge-danger" %></td>
      <td><%= request.status %></td>
      <td>
        <% request.programs.each do |program| %>
          <%= program.name %>
        <% end %>
        <% if request.programs.empty? && !request.program_id.blank? %>
          <%= Program.find(request.program_id).name %>
        <% end %>
      </td>
      <td>
        <% if request.vehicle_id >= 0 %>
          <span class='badge badge-danger badge-pill'>
            <%= Vehicle.find(request.vehicle_id).car_id %>
          </span>
        <% elsif request.multi_vehicle %>
          <% request.vehicles.each do |vehicle|%>
            <span class='badge badge-danger badge-pill'>
              <%= vehicle.car_id %>
            </span>
            <br />
          <% end %>
        <% end %>
      </td>
      <td>
        <span class='badge badge-danger'>
          <%= request.created_at.strftime('%D') %>
        </span>
      </td>
      <td>
        <span class='badge <%= work_order_completed_date_badge request %>'>
          <%= work_order_completion_date request %>
        </span>
      </td>
      <td>
        <span class='badge <%= work_order_completed_date_badge request %>'>
          <%= work_order_completed_date request %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>	



