<div class="container d-flex justify-content-between align-items-center">
	
	<form class="form-inline">
	<%= search_form_for q, :url => {:action => action } do |f|%>
	
	<div class="form-group mr-3">
		<%= f.select :vehicle_id_eq, options_from_collection_for_select(Vehicle.all.order(car_id: :asc), "id", "car_id", @q.vehicle_id_eq), {include_blank: "Select Vehicle"}, class: "form-control" %>
	</div>
	
<div class="form-group ml-3">
	<%= f.label "From"%> &nbsp
	<%= f.date_select :completion_date_gteq, {include_blank: "Input Date of Request"}, class: "form-control"  %>
</div>


<div class="form-group ml-3">
	<%= f.label "To"%> &nbsp
	<%= f.date_select :completion_date_lteq, {include_blank: "Input Date of Request"}, class: "form-control"  %>
</div>

<div class="form-group ml-3">
	<%= f.submit "Find Reports", class: "btn btn-info"%>
</div>
<% end %>
<br \>

</div>