<table border='1'>
	<caption><b>Completed Work Orders</b></caption>
	<thead>
		<tr>
			<th>Work Order Number</th>
			<th>Work Order Status</th>
			<th>Work Order Type</th>
			<th>Vehicle</th>
			<th>Defect Description</th>
			<th>Work Order Created At</th>
			<th>Estimated Completion Date</th>
			
		</tr>
	</thead>
	<tbody>
		<% work_order.order(tracker_id: :asc).each do |request|%>
	<tr>
		<td><%= request.number%></td>
		<td><%= request.tracker.track %></td>
		<td><%= request.program.name %></td>
		<td><%= request.vehicle.car_id%></td>
		<td><%= request.description %>
		<td><%=request.created_at.strftime('%D')%>
		<td><%= request.completion_date.strftime('%D') %>
		
	</tr>
	<% end %>
	</tbody>
</table>