
	<div>
	<h1 style='text-decoration: underline;text-align: center;'>Weekly RZR report for <%= (Time.now - 7.days).strftime('%D')%> - <%=Time.now.strftime('%D')%></h1>
</div>
		<div class="object-title">
			<h3 style="text-align: center;">In-Service Razors</h3>
		</div>
	<table>
		<thead>
			<tr>
				<th scope="col">Vehicle Number</th>
				<th scope="col">Status</th>
				<th scope="col">Mileage</th>
				<th scope="col">Location</th>
				<th scope="col">Open Work Orders</th>
				<th scope="col">Near Service - Miles Until:</th>
				<th scope="col">Services Required</th>
			</tr>
		</thead>
		<tbody>
	      <% @rzrs.where(vehicle_status: "In-Service").order(car_id: :asc).each do |vehicle| %>
	        <tr>
	          <th scope="row"><%= vehicle.car_id %></th>
	  		  <td><%= vehicle.vehicle_status %></td>
	          <td><%= vehicle.mileage %></td>
	          <td><%= vehicle.location %></td>
	          <td><% vehicle.requests.where(tracker_id: "New" && "In-Progress").limit(3).each do |request| %>
	  		  		<%=request.number%>
	  				<%= request.status%>
	  				<% end %></td>
          <td><% if vehicle.near_service == true %>
			 	<ul>
					<% if vehicle.last_a_service != nil %>
					<li> A-Service: - <%= (@set_a_service.interval - (vehicle.mileage - vehicle.last_a_service))%> Miles </li> <% end %>
			     <%  if vehicle.last_shock_service!= nil %> 
				<li>Shock Service: - <%= (@set_shock_service.interval - (vehicle.mileage - vehicle.last_shock_service)) %> Miles</li>
				<% end %>
			      <% if vehicle.last_air_filter_service != nil %>
					<li>Air Filter Change: - <%= (@set_air_filter_service.interval - (vehicle.mileage - vehicle.last_air_filter_service))%> Miles</li><% end %>
					<% end %>
				</ul>
			 </td>
	  		  <td>
	  			<% if vehicle.a_service == true %>
	           A-Service 
	  			  <% end %>
	         <% if vehicle.shock_service == true  %>
	          Shock-Service 
	  			 <% end %>
	  			 <% if vehicle.air_filter_service == true %>
	  			Air Filter Service 
	          <% end %>
	  		  <% if vehicle.repair_needed == true %>
	  		  Repairs In Progress
	  		  <% end %>
			  <% if vehicle.defect == true %>
			  Defect Reported
			  <%  vehicle.requests.where(program_id: @set_defects.id, tracker_id: @set_new.id).each do |request|%>
			 		<br \>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Description:</strong> <%= request.description %>
			 		<% end %>
			  <% end %>
	  	 </td>
		</tr>
		<% end %>
		</tbody>
	</table>

<br \>
<br \>
	<div class="object-title">
			<h3 style="text-align: center;">Out-Of-Service Razors</h3>
		</div>
	<table border="1">
		<thead>
			<tr>
				<th scope="col">Vehicle Number</th>
				<th scope="col">Status</th>
				<th scope="col">Mileage</th>
				<th scope="col">Location</th>
				<th scope="col">Open Work Orders</th>
				<th scope="col">Near Service - Miles Until:</th>
				<th scope="col">Services Required</th>
			</tr>
		</thead>
		<tbody>
	      <% @rzrs.where(vehicle_status: "Out-of-Service").order(car_id: :asc).each do |vehicle| %>
	        <tr>
	          <th scope="row"><%= vehicle.car_id %></th>
	  		  <td><%= vehicle.vehicle_status %></td>
	          <td><%= vehicle.mileage %></td>
	          <td><%= vehicle.location %></td>
	          <td><% vehicle.requests.where(status: "New" && "In-Progress").limit(3).each do |request| %>
	  		  		<%=request.number%>
	  				<%= request.status%>
	  				<% end %></td>
	          <td><% if vehicle.near_service == true %>
				 	<ul>
						<% if vehicle.last_a_service != nil %>
						<li> A-Service: - <%= (@set_a_service.interval - (vehicle.mileage - vehicle.last_a_service))%> Miles </li> <% end %>
				     <%  if vehicle.last_shock_service!= nil %> 
					<li>Shock Service: - <%= (@set_shock_service.interval - (vehicle.mileage - vehicle.last_shock_service)) %> Miles</li>
					<% end %>
				      <% if vehicle.last_air_filter_service != nil %>
						<li>Air Filter Change: - <%= (@set_air_filter_service.interval - (vehicle.mileage - vehicle.last_air_filter_service))%> Miles</li><% end %>
						<% end %>
					</ul>
				 </td>
	  		  <td>
	  			<% if vehicle.a_service == true %>
	           A-Service 
	  			  <% end %>
	         <% if vehicle.shock_service == true  %>
	          Shock-Service 
	  			 <% end %>
	  			 <% if vehicle.air_filter_service == true %>
	  			Air Filter Service 
	          <% end %>
	  		  <% if vehicle.repair_needed == true %>
	  		  Repairs In Progress
	  		  <% end %>
			  <% if vehicle.defect == true %>
			  Defect Reported
			  <%  vehicle.requests.where(program_id: @set_defects.id, tracker_id: @set_new.id).each do |request|%>
			 		<br \>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Description:</strong> <%= request.description %>
			 		<% end %>
			  <% end %>
	  	 </td>
		</tr>
		<% end %>
		</tbody>
	</table>



