<%= render 'report_title_box', title: "Viewing Report #{@report.id}" %>
<%= render 'report_page_links', url: dashboard_reports_path %>
<div class="card bg-dark text-white">
  <div class="card-body">
    <%= render 'report_show_page_row', title: 'Title', data: @report.title %>
    <%= render 'report_show_page_row', title: 'Type', data: @report.report_type %>
    <%= render 'report_show_page_row', title: 'Status', data: @report.status %>
    <%= render 'report_show_page_row', title: 'Description', data: @report.description %>
    <div class='row'>
      <div class='col-md-3'>
        <p>
          <strong>Recipents:</strong>
        </p>
      </div>
      <div class='col-md-9'>
        <p>
          <% @report.users.each do |user|%>
          <br />
          <span class='badge bagde-danger'>
            <%= user.name%>
          </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card bg-dark text-white mt-3">
	<div class="card-header">
		<h4 class='text-center'>Upload a file</h4>
	</div>
	<div class="card-body">
		<div class="form-group d-flex justify-content-between align-items-center">
		<%= simple_form_for @report do |f|%>
			<%= f.file_field :report_doc%>
			<%= f.check_box :remove_report_doc %>
			<%= f.label "Remove Document"%>
			<%= f.submit "Save File", class: "btn btn-danger ml-4"%>
			<% end %>
		</div>
	</div>
</div>
	<div class="card mt-3 bg-dark text-white">
		<div class="card-header">
			<h3 class='text-center'>Attachment</h3>
		</div>
		<div class="card-body">
		<iframe src=<%= @report.report_doc %> width="800px" height="900px" style="border: none;"></iframe>
	</div>
</div>
</div>

