<div class="jumbotron">
<h1 class="display-3 text-center">Viewing Report <%= @report.id%></h1>
<div class="card">
	<div class="card-body">
<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @report.report_type %>
</p>
<p>
	<strong>Status:</strong>
	<%= @report.status%>
</p>
<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Creator:</strong>
 
</p>

<p>
	<strong>Recipents:</strong>
	<% @report.users.each do |user|%>
	<br \><%= user.name%>
	<% end %>
</p>

<%= link_to 'Edit', edit_report_path(@report), class: "btn btn-info" %> |
<%= link_to 'Back', reports_path, class: "btn btn-warning" %>
</div>
</div>

<div class="card mt-3">
	<div class="card-header">
		<h4>Upload a file</h4>
	</div>
	<div class="card-body">
		<div class="form-group d-flex justify-content-between align-items-center">
		<%= simple_form_for @report do |f|%>
			<%= f.file_field :report_doc%>
			<%= f.check_box :remove_report_doc %>
			<%= f.label "Remove Document"%>
			<%= f.submit "Save File", class: "btn btn-success ml-4"%>
			<% end %>
		
		</div>
	</div>
</div>
	<div class="card mt-3 text-center">
		<div class="card-header">
			<h3>Attachment</h3>
		</div>
		<div class="card-body">
		<iframe src=<%= @report.report_doc %> width="800px" height="900px" 		style="border: none;"></iframe>
	</div>
</div>
</div>

