<%= render 'report_title_box', title: 'All Weekly Vehicle Reports' %>

<div class="container d-flex justify-content-start my-3">
  <%= link_to 'Back', :back, class: "btn btn-danger" %>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render 'weekly_vehicle_reports_column', reports: @weekly_tour_car, title: 'All Weekly Tour Car Report', vehicle_type: 'Tour Cars' %>
  </div>
  <div class="col-md-4">
    <%= render 'weekly_vehicle_reports_column', reports: @weekly_rzr, title: 'All Weekly Razor Reports', vehicle_type: 'RZRs' %>
    </div>
    <div class="col-md-4">
      <%= render 'weekly_vehicle_reports_column', reports: @weekly_other, title: 'All Weekly Other Vehicle Reports', vehicle_type: 'Other Vehicles' %>
    </div>
  </div>
</div>
