<%= render 'report_title_box', title: 'All Weekly Work Order Reports' %>

<%= render 'report_top_links' %>

<div class="row">
  <div class="col-md-4">
    <%= render 'weekly_work_order_reports_column', reports: @weekly_defect, title: 'All Weekly Defect Work Order Reports', work_order_type: 'Defect Work Orders' %>
  </div>		
  <div class="col-md-4">
    <%= render 'weekly_work_order_reports_column', reports: @weekly_in_progress, title: 'All Weekly New & In-Progress Work Order Reports', work_order_type: 'New & In-Progress Work Orders' %>
  </div>
  <div class="col-md-4">
    <%= render 'weekly_work_order_reports_column', reports: @weekly_completed, title: 'All Weekly Completed Work Order Reports', work_order_type: 'Completed Work Orders' %>
  </div>
</div>
