<div class="jumbotron">
	<h4 class="display-4 text-center">All New & In-Progress Work Orders</h4>

<div class="card">
	
	<div class="card-body">
		<h3>New Work Orders</h3>
		<table class="table table-responsive table-striped">
	
			<thead>
				<tr>
					<th>Work Order Number</th>
					<th>Work Order Status</th>
					<th>Work Order Type</th>
					<th>Vehicle</th>
					<th>Defect Description</th>
					<th>Work Order Created At</th>
					<th>Estimated Completion Date</th>
			
				</tr>
			</thead>
			<tbody>
				<% @work_orders.where(tracker_id: @set_new.id).order(completion_date: :desc).each do |request|%>
			<tr>
				<td><%= request.id%></td>
				<td><%= request.tracker.track %></td>
				<td><%= request.program.name %></td>
				<td><%= request.vehicle.car_id%></td>
				<td><%= request.description %>
				<td><%=request.created_at.strftime('%D')%>
				<td><%= request.completion_date.strftime('%D') %>
		
			</tr>
			<% end %>
			</tbody>
		</table>
		<br \>
		<br \>
		<h3>In-Progress Work Orders</h3>
<table class="table table-responsive table-striped">
	
	<thead>
		<tr>
			<th>Work Order Number</th>
			<th>Work Order Status</th>
			<th>Work Order Type</th>
			<th>Vehicle</th>
			<th>Defect Description</th>
			<th>Work Order Created At</th>
			<th>Estimated Completion Date</th>
			
		</tr>
	</thead>
	<tbody>
		<% @work_orders.where(tracker_id: @set_progress.id).order(completion_date: :desc).each do |request|%>
	<tr>
		<td><%= request.id%></td>
		<td><%= request.tracker.track %></td>
		<td><%= request.program.name %></td>
		<td><%= request.vehicle.car_id%></td>
		<td><%= request.description %>
		<td><%=request.created_at.strftime('%D')%>
		<td><%= request.completion_date.strftime('%D') %>
		
	</tr>
	<% end %>
	</tbody>
</table>
</div>
	<br \>
	<div class="container">
	<%= render 'work_order_results', q: @q, action: :work_order_in_progress_report%>
</div>
<br \>
		<div class="container mb-4 d-flex justify-content-between align-items-center">
			<%= link_to " Download PDF", work_order_in_progress_report_reports_path(params.merge(format: 'pdf').permit!), class: "btn btn-warning"%>
			
			<%= link_to 'Back', generate_report_reports_path, class: "btn btn-primary " %>
		</div>
	
</div>
</div>