<h2 style="text-align: center;">All New & In-Progress Work Orders for <br \> <%= Time.now.strftime('%D')%></h2> 

<br \>
<div class="object-title">
	<h4 style="text-align: center;">New Work Orders</h4>
</div>
<table>
	
	<thead>
		<tr>
			<th>Work Order Number</th>
			<th>Work Order Status</th>
			<th>Work Order Type</th>
			<th>Vehicle</th>
			<th>Defect Description</th>
			<th>Work Order Created At</th>
			<th>Estimated Completion Date</th>
			
		</tr>
	</thead>
	<tbody>
		<% @work_orders.where(status: "New").order(completion_date: :desc).each do |request|%>
	<tr>
		<td><%= request.id%></td>
		<td><%= request.status %></td>
		<td><%= request.program.name %></td>
		<td><%= request.vehicle.car_id%></td>
		<td><%= request.description %>
		<td><%=request.created_at.strftime('%D')%>
		<td><%= request.completion_date.strftime('%D') %>
		
	</tr>
	<% end %>
	</tbody>
</table>

	<br \>
	<br \>
	
	<div class="object-title">
		<h4 style="text-align: center;">In-Progress Work Orders</h4>
	</div>
<table>

	<thead>
		<tr>
			<th>Work Order Number</th>
			<th>Work Order Status</th>
			<th>Work Order Type</th>
			<th>Vehicle</th>
			<th>Defect Description</th>
			<th>Work Order Created At</th>
			<th>Estimated Completion Date</th>
			
		</tr>
	</thead>
	<tbody>
		<% @work_orders.where(status: "In-Progress").order(completion_date: :desc).each do |request|%>
	<tr>
		<td><%= request.id%></td>
		<td><%= request.status %></td>
		<td><%= request.program.name %></td>
		<td><%= request.vehicle.car_id%></td>
		<td><%= request.description %>
		<td><%=request.created_at.strftime('%D')%>
		<td><%= request.completion_date.strftime('%D') %>
		
	</tr>
	<% end %>
	</tbody>
</table>

