<!DOCTYPE html>
<html>
  <head>
    <title>Zero 1 Maintenance</title>
	 <%= favicon_link_tag 'Z1_logo_symbol.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body >
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		 <a class="navbar-brand" id="brand-text" href="../">
		    <img id="brand-image" src="" width="80" height="40" class="d-inline-block align-top" alt="">
		    
		 </a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active">
	          <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
	        </li>
			  <% if user_signed_in? %>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Work Orders
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../requests/dashboard">Dashboard</a>
	            <a class="dropdown-item" href="../requests/new">Create a Work Order</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../requests">All Work Orders</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           Vehicles
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../vehicles">Dashboard</a>
	            <a class="dropdown-item" href="../vehicles/needs_service">Needs Service</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../vehicles/all_vehicles">All Vehicles</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           Events
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../events/dashboard">Dashboard</a>
					<a class="dropdown-item" href="../events/new">Add an Event</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../events">All Events</a>
	          </div>
	        </li>
			  
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Parts
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../parts/dashboard">Dashboard</a>
					<a class="dropdown-item" href="../parts/new">View Part Orders</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../parts">All Parts</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           Reports
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../reports/dashboard">Dashboard</a>
	            <a class="dropdown-item" href="../reports/new">Create a Report</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../reports">All Reports</a>
	          </div>
	        </li>
	      </ul>
		
	 
	  
  		 <ul class="navbar-nav justify-content-end">
  	  			<li class="nav-item dropdown">
  	  			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	  			          Hello <%= current_user.name %>
  	  			        </a>
  	  			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  	  			          <a class="dropdown-item"
  	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  
  	<a class="dropdown-item" <%= link_to 'Sign In', new_user_session_path %>
  		<a class="dropdown-item" <%= link_to 'Sign Up', new_user_registration_path%>
  	</a>
  	  			          <a class="dropdown-item" 											href="../users/edit">Edit Profile</a>
  	  			          <a class="dropdown-item" href="../all_users">All 										Users</a>
							 
  	  			        </div>
  					  </li>
  	  			 </ul>
				 <% end %>
	   </nav>
	   <% if notice.present?%>
	   	<aside class="alert alert-info">
	  	<%= notice %>
	  </aside>
	  	<% end %>
	  <% if alert.present?%>
	  <aside class="alert alert-danger">
	  	<%= alert %>
	  	<% end %>
	  </aside>
	  <div class="container-fluid">
    <%= yield %>
 </div>
 



  </body>
</html>
