<!DOCTYPE html>
<html>
  <head>
    <title>Zero1Maint</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body >
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="../">Zero 1</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active">
	          <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
	        </li>
			  <% if user_signed_in? %>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            Work Orders
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../requests/dashboard">Dashboard</a>
	            <a class="dropdown-item" href="../requests/new">Create a Work Order</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../requests">All Work Orders</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           Vehicles
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../vehicles">Dashboard</a>
	            <a class="dropdown-item" href="../vehicles/needs_service">Needs Service</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../vehicles/all_vehicles">All Vehicles</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	           Events
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../events/dashboard">Dashboard</a>
					<a class="dropdown-item" href="../events/new">Add an Event</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../events">All Events</a>
	          </div>
	        </li>
			  
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Parts
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <a class="dropdown-item" href="../parts/dashboard">Dashboard</a>
					<a class="dropdown-item" href="../parts/new">View Part Orders</a>
	            <div class="dropdown-divider"></div>
	            <a class="dropdown-item" href="../parts">All Parts</a>
	          </div>
	        </li>
	      </ul>
		<nav class="nav justify-content-end">
			<ul class="navbar-nav btn-group">
			<%= link_to "All Users", all_users_path, class: "btn btn-primary"%>	
	  	 <% if user_signed_in? %>
		 <% if can? :create, User%>
		 <%= link_to "Create Users", new_user_registration_path, class: "btn btn-info"%>
		 <% end %>
		 <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-success" %>
	  	 <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>
	  	 <% end %>
	    </div>
		 <% end %>
	 </nav>
	  </nav>
	  
	  
	  <div class="container-fluid">
    <%= yield %>
 </div>
 
 <% if notice.present?%>
 	<aside class="alert alert-info">
	<%= notice %>
</aside>
	<% end %>
<% if alert.present?%>
<aside class="alert alert-danger">
	<%= alert %>
	<% end %>
</aside>


  </body>
</html>
