<!DOCTYPE html>
<html>
<head>
  <title>Zero 1 Maintenance</title>
  <%= favicon_link_tag 'Z1_logo_symbol.png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="brand-text" href="../homepage">
      <img id="brand-image" src="https://s3.us-east-2.amazonaws.com/zero1maintphotos/Work+Order+Pictures/Zero-One-Black-simple.png" width="80" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", homepage_path, class: "nav-link" %>
        </li>
			
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Work Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_requests_path, class: "dropdown-item" %>
            <%= link_to "Overdue Work Orders", overdue_requests_path, class: "dropdown-item" %>
            <%= link_to "Your Assigned Work Orders", assigned_work_orders_path, class: "dropdown-item" %>
            <%= link_to "Your Completed Work Orders", completed_work_orders_path, class: "dropdown-item" %>
          </div>
        </li>
			
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vehicles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", vehicles_path, class: "dropdown-item" %>
            <%= link_to "Needs Service", needs_service_vehicles_path, class: "dropdown-item" %>
            <%= link_to "Near Service", near_service_required_vehicles_path, class: "dropdown-item" %>
          </div>
        </li>
			
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../events/dashboard">Dashboard</a>
            <a class="dropdown-item" href="../events/new">Add an Event</a>
            <a class="dropdown-item" href="../events/vehicle_rotation">Vehicle Rotation</a>
            <a class="dropdown-item" href="../checklists/records">Checklist Records</a>
          </div>
        </li>
			  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Parts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../parts/dashboard">Dashboard</a>
            <a class="dropdown-item" href="../parts/new">Add a Part</a>
          </div>
        </li>
			
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../vehicles" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../reports/dashboard">Dashboard</a>
            <a class="dropdown-item" href="../reports/generate_report">Generate Report</a>
            <a class="dropdown-item" href="../reports/weekly_work_order_reports">Weekly Work Order Reports</a>
            <a class="dropdown-item" href="../reports/weekly_vehicle_reports">Weekly Vehicle Reports</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../programs" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../programs">Dashboard</a>
            <a class="dropdown-item" href="../programs/new">Create a Service</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <h4>
          <%= link_to "User Dashboard", dashboard_path, class: "badge badge-danger badge-pill shadow"%>
          </h4>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
      <% end %>
    </nav>
    <div class="container-fluid pb-4">
      <% if notice.present?%>
      <aside class="alert alert-danger alert-dismissible fade show my-3 text-center" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </aside>
      <% end %>
      <% if alert.present? %>
      <aside class="alert alert-danger alert-dismissible fade show my-3 text-center" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </aside>
      <% end %>
      <%= yield %>
    </div>
  </body>
  </html>
